{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/filterdate.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dt-global_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/buttons.dataTables.min.css' %}">
{% endblock %} 

{% block scripts %}
  <script src="{% static 'js/filterdate.js' %}"></script>
  <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
  <script src="{% static 'js/datatables/datatables.js' %}"></script>
  <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
  <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/datatables/jszip.min.js' %}"></script>    
  <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/tableexport.js' %}"></script>


<script src="{% static 'js/datatablesexport.js' %}"></script>
<script type="text/javascript">
  function rid(tid) {getid = tid}
  function validate1(p) {
    if(   document.getElementById("activitypswd1").value == "sse123" ){
        url = '/{{pdata.pj}}/customerform/delete/'+getid+'/'
        location.href=url;}
    else{alert( "Incorrect Activity Password, Please Try Again" );}}
    function validate2(k) {
    if(   document.getElementById("activitypswd2").value == "sse123" ){
        url = '/{{pdata.pj}}/customercontactform/delete/'+getid+'/'
        location.href=url;}
    else{alert( "Incorrect Activity Password, Please Try Again" );}}
</script>

<script type="text/javascript">
  // Datatables Excel Formating Before Export//
  var customexcel = function( xlsx ) {
    var sheet = xlsx.xl.worksheets['sheet1.xml'];
    var style = xlsx.xl['styles.xml'];
    var tagName = style.getElementsByTagName('sz');
    for (i = 0; i < tagName.length; i++) {tagName[i].setAttribute("val", "10")} //font size of sheet
    // $('row c', sheet).attr( 's', '25' ); //border for entire sheet, issue: if border comes header bold text become normal and text wrap also going
    $('row:first c', sheet).attr('s', '2')//.attr('s', '32'); //first row become ('s', '2') bold, ('s', '32')-background gray
    $('row c[r^="B"]', sheet).attr( 's', '55' ); $('row c[r^="C"]', sheet).attr( 's', '55' );$('row c[r^="D"]', sheet).attr( 's', '55' );//wrap text
    var col = $('col', sheet);
    // col.each(function () {$(this).attr('width', 20);}); //for all columns widths     
    $(col[1]).attr('width', 20); $(col[2]).attr('width', 30); $(col[3]).attr('width', 20);};
  //--End--//

  var cl = [0,  1, 2, 3]

  // Datatables Customise PDF Before Export//
  var pdf_custom = function ( doc ) {
    doc.content[1].table.widths = ['4%', '32%', '32%', '32%']; doc.content[0].text = doc.content[0].text.trim();
    doc.pageMargins = [40,20,20,30];
    doc['footer']= footer1;
    var objLayout = {};objLayout['hLineWidth'] = function(i) { return .5; };
    objLayout['vLineWidth'] = function(i) { return .5; };objLayout['hLineColor'] = function(i) { return '#aaa'; };
    objLayout['vLineColor'] = function(i) { return '#aaa'; };objLayout['paddingLeft'] = function(i) { return 5; };
    objLayout['paddingRight'] = function(i) { return 5; };doc.content[1].layout = objLayout;      
    doc.defaultStyle.fontSize = 9;doc.styles.title.fontSize = 13;doc.styles.title.messageTop = 15;doc.defaultStyle.alignment = 'left'; doc.styles.tableHeader = table_header;};
  //--End--//
</script>

<!-- Data Tables Export Script -->
<script type="text/javascript">
  $('#html5-extension').DataTable( {
  autoWidth: false, dom: 'lBfrtip', "oLanguage": olg, "stripeClasses": [],"lengthMenu": lmenu,"pageLength": 20,
  buttons: {dom: {button: {tag: 'i',className: ''}},buttons: [
      
    {extend: 'excel', title: 'SSE - Customers List', filename: 'SSE_Customers', text:'', titleAttr: 'Download as Excel', className: 'custom-btn1 mdi mdi-file-excel', customize: customexcel, exportOptions: {columns: cl, format: _format, rows : {search:'applied'}},},

    {extend: 'pdf', title: 'SSE - Customers List', filename: 'SSE_Customers', pageSize: 'A4', exportOptions: { columns: cl, format:  _format, rows : {search:'applied'}}, text:'', titleAttr: 'Download as PDF', className: 'custom-btn1 mdi mdi-file-pdf', customize: pdf_custom,},

    {extend: 'print',title: 'SSE - Customers List',filename: 'SSE_Customers', exportOptions: {columns: cl, format: formatprint, stripHtml: false, rows : {search:'applied'}},text:'',titleAttr: 'Print',className: 'custom-btn1 mdi mdi-printer style="color:blue"',},]}, } );
</script>
{% endblock %} <!-- For Scripts -->


{% block content %}
<div class="page-header">
  <h3 class="page-title">Customers List</h3>
</div>

<div>
  <div style="float:left">
    <button type="button"  onclick="location.href='/{{pdata.pj}}/customerform/create/1/'" class="btn btn-sm btn-primary mb-4">+ Add Customer</button>&emsp;
    <button type="button"  onclick="location.href='/{{pdata.pj}}/customercontactform/create/1/'" class="btn btn-sm btn-info mb-4">+ Add Contact Person</button>
  </div>
  <div style="float:right">
    <button type="button" id="myBtn" class="btn btn-sm  btn-primary mb-4">ApplyFilters<i class="mdi mdi-filter btn-icon-append"></i></button>
    &nbsp;&nbsp;&nbsp;
    <button type="button" onclick="location.href='/{{pdata.pj}}/customerslist/'" class="btn btn-sm  btn-info mb-4">ClearFilters<i class="mdi mdi-filter-remove btn-icon-append"></i></button>
  </div>
  <div style="clear:both"></div>
</div>

<!--Filter/Serch History Form-->
  <div id="addEventsModal" class="modal animated fadeIn"> 
    <div class="modal-dialog modal-dialog-centered">                            
      <!-- Modal content -->
      <div class="card modal-content">
        <div class="modal-body">
          <span id="discard" data-dismiss="modal" class="close">&times;</span>
          <div class="add-edit-event-box">
            <div class="add-edit-event-content">
              <div class="add-event-title edit-event-title"></div>
                <h5 class="modal-title">Search Data by Applying Filter</h5>
                <form class="">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                      <label style="font-weight: 200; color: black; font-size: 13px;">Related Project</label>
                        {{ filter_data.form.Related_Project}}
                    </div>
                    <div class="col-md-6 col-sm-6 col-12" style="margin-top:20px;">
                      <button type="submit"  id="add-e" class="btn btn-primary mb-4">Apply Filters</button>
                      <!-- <button id="add-e" class="btn">Add Task</button> -->
                      <button id="edit-event" class="btn"></button>
                    </div>
                  </div>    
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- Customers List -->
  <div class="card">
    <div class="card-body2">
      <div class="table-responsive mb-4 mt-4">
        <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
          <thead>
            <tr>
              <th>#</th>
              <th>Customer Name</th>
              <th>Address</th>
              <th>Contact Details</th>
            </tr>
          </thead>
          <tbody>
            {% for x, y in data %}
            <tr>

              <td style="white-space: normal;width:4%;">{{forloop.counter}}</td>

              <td style="white-space: normal;width:32%;">
                {{x.Customer_Name}}
                <!-- <br>{{x.Short_Name}} -->
                <br><br><a class="mdi mdi-border-color" title="Edit Data"  href="/{{pdata.pj}}/customerform/edit/{{x.id}}/"></a>&nbsp;&nbsp;
                <a class="mdi mdi-content-copy" title="Duplicate Data" href="/{{pdata.pj}}/customerform/copy/{{x.id}}/"></a>&nbsp;&nbsp;
                <a class="mdi mdi-delete" title="Delete Data" data-toggle="modal" data-target="#exampleModal11" onclick="javascript:rid('{{x.id}}')" style="cursor:pointer"></a>       
              </td>
              <td style="white-space: normal;width:32%;">
                {% if x.Address_Line_1 %}{{x.Address_Line_1}},{% endif %}
                {% if x.Address_Line_2 %}<br>{{x.Address_Line_2}},{% endif %}
                {% if x.State %}<br>{{x.State}}.{% endif %}
                {% if x.GST_No %}<br>GSTIN: {{x.GST_No}}{% endif %}
                <br><br><i class="mdi mdi-phone"></i>&nbsp;<a href='tel:{{x.Phone_Number_1}}'>{{x.Phone_Number_1}}</a>&emsp;<a href="https://wa.me/{{x.Phone_Number_1}}?text=Hi">--Chat--<i class="mdi mdi-whatsapp"></i></a>
                {% if x.Phone_Number_2 %}<br><i class="mdi mdi-phone"></i>&nbsp;<a href='tel:{{x.Phone_Number_2}}'>{{x.Phone_Number_2}}</a>&emsp;<a href="https://wa.me/{{x.Phone_Number_2}}?text=Hi">--Chat--<i class="mdi mdi-whatsapp"></i></a>{% endif %}
                {% if x.Email %}<br><i class="mdi mdi-email-outline"></i>&nbsp;<a href="mailto:{{x.Email}}">{{x.Email}}</a>{% endif %}
                {% if x.Website %}<br><i class="mdi mdi-search-web"></i>&nbsp;<a href="http://{{x.Website}}/" target="_blank">{{x.Website}}</a>{% endif %}
                {% if x.Attach_Doc %}<br><a class="mdi mdi-attachment bs-tooltip" title="Attachment" href="{{x.Attach_Doc.url}}" target="_blank"></a> Docs Attached{% endif %}
                {% if x.Office_Type %}<br><br>{{x.Office_Type}} Office{% endif %}
              </td>

              <td style="white-space: normal;width:32%;">
                {% for k in y %}
                {{k.Contact_Person}}
                <br><i class="mdi mdi-phone"></i>&nbsp;<a href='tel:{{k.Phone_Number_1}}'>{{k.Phone_Number_1}}</a>&emsp;<a href="https://wa.me/{{k.Phone_Number_1}}?text=Hi">--Chat--<i class="mdi mdi-whatsapp"></i></a>
                {% if k.Phone_Number_2 %}<br><i class="mdi mdi-phone"></i>&nbsp;<a href='tel:{{k.Phone_Number_2}}'>{{k.Phone_Number_2}}</a>&emsp;<a href="https://wa.me/{{k.Phone_Number_2}}?text=Hi">--Chat--<i class="mdi mdi-whatsapp"></i></a>{% endif %}
                {% if k.Email %}<br><i class="mdi mdi-email-outline"></i>&nbsp;<a href="mailto:{{k.Email}}">{{k.Email}}</a>{% endif %}
                {% if k.Designation %}<br>Designation: {{k.Designation}}{% endif %}
                {% if k.Department %}<br>Department: {{k.Department}}{% endif %}
                {% if k.Other_Info %}<br>Other Info: {{k.Other_Info}}{% endif %}
                <br>
                <a class="mdi mdi-border-color" title="Edit Data"  href="/{{pdata.pj}}/customercontactform/edit/{{k.id}}/"></a>&nbsp;&nbsp;
                <a class="mdi mdi-content-copy" title="Duplicate Data" href="/{{pdata.pj}}/customercontactform/copy/{{k.id}}/"></a>&nbsp;&nbsp;
                <a class="mdi mdi-delete" title="Delete Data" data-toggle="modal" data-target="#exampleModal12" onclick="javascript:rid('{{k.id}}')" style="cursor:pointer"></a>
                <br><br>
                {% endfor %}
              </td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Password Before Delete Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="activitypswd1"><br/>
              <input type="button" class="btn1 btn1-primary" value="Submit"  onclick="javascript:validate1('{{x.id}}')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Password Before Delete Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="activitypswd2"><br/>
              <input type="button" class="btn1 btn1-primary" value="Submit"  onclick="javascript:validate2('{{k.id}}')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
 
