{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %} 

{% block css %}
  <link rel="stylesheet" href="{% static 'css/filterdate.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_theme_1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dt-global_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/buttons.dataTables.min.css' %}">
{% endblock %}  

{% block scripts %} 
  <script src="{% static 'js/filterdate.js' %}"></script>
  <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS --> 
  <script src="{% static 'js/datatables/datatables.js' %}"></script>
  <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
  <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/datatables/jszip.min.js' %}"></script>    
  <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/tableexport.js' %}"></script>

<script type="text/javascript">
  function editexp(exp_id) {expid = exp_id;}

  function alertpopup(){
    // document.getElementById('exampleModal11').style.display = 'none';
    $('.widget-content .message', function () {
        swal({
            title: 'Error Alert !',
            text: 'Invoice generation not allowed due to all Invoices value under this order exceeding the order value',
            padding: '2em'
          })
      }) 
  }

  function validate1(p) {
    if(   document.getElementById("activitypswd1").value == "sse123" ){
        url = '/{{pdata.pj}}/purchasesform/delete/'+poid+'/'
        location.href=url;}
    else{alert( "Incorrect Activity Password, Please Try Again" );}}

  function getdt(){
      var dt = $("#getdate").val();
      if ( dt == '' ){dt = 'month'} 
      document.getElementById('formaction').action='/{{pdata.pj}}/gst/{{cat}}/'+dt+'/'}
</script>

<!-- Data Tables Export Script -->
<script src="{% static 'js/datatablesexport.js' %}"></script>
<script type="text/javascript">
  // Datatables Excel Formating Before Export//
  var customexcel = function( xlsx ) {
    var sheet = xlsx.xl.worksheets['sheet1.xml'];
    var style = xlsx.xl['styles.xml'];
    var tagName = style.getElementsByTagName('sz');
    for (i = 0; i < tagName.length; i++) {tagName[i].setAttribute("val", "10")}
    $('row:first c', sheet).attr('s', '2')
    $('row c[r^="B"]', sheet).attr( 's', '55' ); $('row c[r^="C"]', sheet).attr( 's', '55' );$('row c[r^="D"]', sheet).attr( 's', '55' ); $('row c[r^="E"]', sheet).attr( 's', '55' );$('row c[r^="F"]', sheet).attr( 's', '55' );  $('row c[r^="H"]', sheet).attr( 's', '55' ); $('row c[r^="H"]', sheet).attr( 's', '55' ); $('row c[r^="H"]', sheet).attr( 's', '55' );//wrap text
    var col = $('col', sheet);
    // col.each(function () {$(this).attr('width', 20);}); //for all columns widths     
    $(col[1]).attr('width', 20); $(col[2]).attr('width', 35); $(col[3]).attr('width', 20); $(col[4]).attr('width', 15); $(col[5]).attr('width', 20); $(col[6]).attr('width', 25); $(col[7]).attr('width', 20); $(col[8]).attr('width', 30);}; 
  //--End--//

            
  var cl = [0,  1, 2, 3, 4, 5, 6, 7, 8]
  var wdths = ['3%', '12%', '19%', '13%', '6%', '10%', '12%', '10%', '14%'];
  
   var msgTop = "{% if cat == 'Output' %}Output GST: {{gst.Ot_gst|floatformat:0|intcomma}} | Braekup CGST: {{gst.Ot_cgst|floatformat:0|intcomma}}, SGST: {{gst.Ot_sgst|floatformat:0|intcomma}}, IGST: {{gst.Ot_igst|floatformat:0|intcomma}} | Payable GST: {{gst.It_gst|mul:-1|add:gst.Ot_gst|floatformat:0|intcomma}}{% else %}Input GST: {{gst.It_gst|floatformat:0|intcomma}} | Previous Available Credit: {{gst.gstcredit|floatformat:0|intcomma}}{% endif %}"
    var title = '{{cat}} GST - {{month|date:'M-Y'}}';
    var filename = '{{cat}}GST-{{month|date:'M-y'}}'
    var ort = 'landscape'

  // Datatables Customise PDF Before Export//
  var pdf_custom = function ( doc ) {
    doc.content[1].table.widths = wdths; doc.content[0].text = doc.content[0].text.trim();
    doc.pageMargins = [40,60,20,30];
    // doc.content[1].margin = [ 0, 50, 0, 50 ]
    doc['footer']= footer1;
    doc['header']= header1;
    var objLayout = {};objLayout['hLineWidth'] = function(i) { return .5; };
    objLayout['vLineWidth'] = function(i) { return .5; };objLayout['hLineColor'] = function(i) { return '#aaa'; };
    objLayout['vLineColor'] = function(i) { return '#aaa'; };objLayout['paddingLeft'] = function(i) { return 5; };
    objLayout['paddingRight'] = function(i) { return 5; };doc.content[1].layout = objLayout;      
    doc.defaultStyle.fontSize = 9;doc.styles.title.fontSize = 13;doc.styles.title.messageTop = 15;doc.defaultStyle.alignment = 'left'; doc.styles.tableHeader = table_header; 
    // doc.content[1].table.widths =Array(doc.content[1].table.body[0].length + 1).join('*').split('');
  doc.content.splice(0, 1,{text: [{text: title+'\n\n',bold: true,fontSize: 12,alignment: 'center',},
  {text: msgTop, bold: true, fontSize: 9.5, alignment: 'left',}],margin: [0, -30, 0, 12],});
  };

  //--End--//
</script>

<!-- Data Tables Export Script -->
<script type="text/javascript">
  $('#html5-extension').DataTable( {
  autoWidth: false, dom: 'lBfrtip', "oLanguage": olg, "stripeClasses": [],"lengthMenu": lmenu,"pageLength": 20,
  buttons: {dom: {button: {tag: 'i',className: ''}},buttons: [
      
    {extend: 'excel', title: title, filename: filename, text:'', titleAttr: 'Download as Excel', className: 'custom-btn1 mdi mdi-file-excel', customize: customexcel, exportOptions: {columns: cl, format: _format, rows : {search:'applied'}}, orientation:ort, messageTop: msgTop, },

    {extend: 'pdf', title: title, filename: filename, pageSize: 'A4', exportOptions: { columns: cl, format:  _format, rows : {search:'applied'}}, text:'', titleAttr: 'Download as PDF', className: 'custom-btn1 mdi mdi-file-pdf', customize: pdf_custom, orientation:ort, },

    {extend: 'print',title: title, filename: filename, exportOptions: {columns: cl, format: formatprint, stripHtml: false, rows : {search:'applied'}},text:'',titleAttr: 'Print',className: 'custom-btn1 mdi mdi-printer style="color:blue"', orientation:ort, messageTop: msgTop },]}, } );
</script>
{% endblock %} <!-- For Scripts -->


{% block content %}
<div class="page-header">
  <h4>{{cat}} GST Details &emsp;<span style="color:green;">{{month|date:'M-Y'}}</span></h4>
  <div class="">
    <form class="forms-sample" action="" id='formaction' method="POST" >
      {% csrf_token %}
      <input type="month" name='dates' id='getdate' style="width: 135px; font-size: 14px; margin-bottom:10px;">
      <button class="btn1 btn1-success" type="submit" onclick="getdt()">Select Month</button>
    </form>
  </div>
</div>

<div>
  <div style="float:left">
    {% if cat == 'Input' %}
      <button type="button" onclick="location.href='/{{pdata.pj}}/gst/Output/month/'" class="btn btn-sm btn-primary">Output GST</button>
    {% else %}
      <button type="button" onclick="location.href='/{{pdata.pj}}/gst/Input/month/'" class="btn btn-sm btn-primary">Input GST</button>
    {% endif %}
  </div>

  <div style="float:right">
    <button type="button" id="myBtn" class="btn btn-sm  btn-primary mb-4" ht="search your required data">ApplyFilters<i class="mdi mdi-filter btn-icon-append"></i></button>
    <button type="button" onclick="location.href='/{{pdata.pj}}/expenseslist/{{apr}}/expid/'" class="btn btn-sm  btn-info mb-4" ht="clear all searched data">ClearFilters<i class="mdi mdi-filter-remove btn-icon-append"></i></button>
  </div>
  <div style="clear:both"></div>
</div>

<!--Filter/Serch History Form-->
 <!--  <div id="addEventsModal" class="modal animated fadeIn"> 
    <div class="modal-dialog modal-dialog-centered">                            
      <div class="card modal-content">
        <div class="modal-body">
          <span id="discard" data-dismiss="modal" class="close">&times;</span>
          <div class="add-edit-event-box">
            <div class="add-edit-event-content">
              <div class="add-event-title edit-event-title"></div>
                <h5 class="modal-title">Search Data by Applying Filter</h5>
                  <form class="">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-12 mb-2">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Claimed By</label>
                        {{ filter_data.form.Expenses__Submitted_By}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 mb-2">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Related_Business</label>
                        {{ filter_data.form.Expenses__Related_To}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 mb-2">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Towards/Category</label>
                        {{ filter_data.form.Category}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 mb-2">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Sales PO</label>
                        {{ filter_data.form.Expenses__Sales_Order}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 mb-2">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Approved Expenses</label>
                        {{ filter_data.form.Expenses__Approval_Status}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 mb-2">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Approval Request To</label>
                        {{ filter_data.form.Expenses__Approval_Request_To}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 mb-2">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Amount Issued By</label>
                        {{ filter_data.form.Expenses__Issued_By}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 mb-2">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Clearing Status</label>
                        {{ filter_data.form.Expenses__Clearing_Status}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12">
                          <label style=" font-weight: 200; color: black; font-size: 13px;">From Date</label>
                          <input type="date" name="from_date" class="form-control">
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 ">
                          <label style="font-weight: 200; color: black; font-size: 13px;">To Date</label>
                          <input type="date" name="to_date" class="form-control">
                      </div>
                      <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group start-date">
                          <label style="margin-top: -10px; font-weight: 200; color: black; font-size: 13px;">Expenses Amount From</label>
                          <input style="margin-top: -10px;" name="from_value" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group start-date">
                          <label style="margin-top: -10px; font-weight: 200; color: black; font-size: 13px;">Expenses Amount To</label>
                          <input style="margin-top: -10px;" name="to_value" class="form-control">
                        </div>
                      </div>
                                     
                      <div style="float:left; margin-left: 10px; " style="">
                        <button type="submit"  id="add-e" class="btn btn-sm btn-primary mb-4">Apply Filters</button>
                        <button id="edit-event" class="btn"></button>
                      </div>
                    </div>   
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <a ht="total output gst" ><div class="card-body2">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Output GST ( Billings-{{gst.oc}} )</div>
              <div class="h6 mb-0 font-weight-800 text-black-700">
                Total : ₹ {{gst.Ot_gst|floatformat:0|intcomma}}
                <br>CGST: ₹ {{gst.Ot_cgst|floatformat:0|intcomma}} | SGST: ₹ {{gst.Ot_sgst|floatformat:0|intcomma}} | IGST: ₹ {{gst.Ot_igst|floatformat:0|intcomma}}
              </div>
            </div>
          </div>
        </div></a>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <a ht="input gst or credi available" ><div class="card-body2">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Input GST ( Biilings {{gst.ic}} )</div>
              <div class="h6 mb-0 font-weight-800 text-black-700">
                <div class="h6 mb-0 font-weight-800 text-black-700">₹ {{gst.It_gst|floatformat:0|intcomma}}
                <br>Previous Credit: ₹ {{gst.gstcredit|floatformat:0|intcomma}}</div>
              </div>
            </div>
          </div>
        </div></a>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <a ht="gst amount that to be pay" ><div class="card-body2">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Credit/Debit GST</div>
              <div class="h6 mb-0 font-weight-800 text-black-700">
                {% if gst.Ot_gst >= gst.It_gst %}
                  <span style="color:red">Payable GST</span>
                  <br>₹ {{gst.It_gst|mul:-1|add:gst.Ot_gst|floatformat:0|intcomma}}
                {% elif gst.Ot_gst < gst.It_gst %}
                  <span style="color:green">Available Credit</span>
                  <br>₹ {{gst.gstcredit|floatformat:0|intcomma}}
                {% else %}
                {% endif %}                
              </div>
            </div>
          </div>
        </div></a>
      </div>
    </div>
  </div>

<!-- GST -->
{% if cat == 'Output' %}
  <div class="card">
    <div class="card-body2">
      <div class="table-responsive mb-4 mt-4">
      <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
        <thead>
          <tr>
            <th>#</th>
            <th>GST No</th>
            <th>Receiver Name</th>
            <th>Invoice No</th>
            <th>Date&emsp;</th>
            <th>Taxable<br>Value</th>
            <th>GST Amount</th>
            <th>Invoice<br>Value</th>
            <th>Place of Supply</th>
          </tr>
        </thead>
        <tbody>
          {% for x, val, gst, cgst, sgst, igst in output_gst %}
            <tr>
          
              <td >{{forloop.counter}}{% if x.Balance_Amount == 0 %}#{% endif %}</td>

                <td style="white-space:normal;">
                  {{x.Billing_To.GST_No}}
                </td>

                <td style="white-space:normal;">
                  {{x.Billing_To.Customer_Name}}
                </td>

                <td style="white-space:normal;">
                  {{x.Invoice_No}}
                </td>

                <td style="white-space:normal;">
                  {{x.Invoice_Date|date:'d-M-y'}}
                </td>

                <td style="white-space:normal;">
                  {{val|floatformat:2|intcomma}}
                </td>

                <td style="white-space:normal;">
                  {{gst|floatformat:2|intcomma}}
                  {% if igst == 0 %}
                    <br>CGS: {{cgst|floatformat:2|intcomma}}
                    <br>SGST: {{sgst|floatformat:2|intcomma}}
                  {% else %}
                    <br>IGST: {{igst|floatformat:2|intcomma}}
                  {% endif %}
                </td>

                <td style="white-space:normal;">
                  {{x.Invoice_Amount|floatformat:2|intcomma}}
                </td>

                <td style="white-space:normal;">
                  {{x.Billing_To.State_Code}}-{{x.Billing_To.State}}
                </td>
            </tr>
        {% endfor %} 
        </tbody>
      </table>
      </div>
    </div>
  </div>
{% else %}
  <div class="card">
    <div class="card-body2">
      <div class="table-responsive mb-4 mt-4">
      <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
        <thead>
          <tr>
            <th>#</th>
            <th>GST No</th>
            <th>Vendor Name</th>
            <th>Invoice No</th>
            <th>Date&emsp;</th>
            <th>Taxable<br>Value</th>
            <th>GST Amount</th>
            <th>Invoice<br>Value</th>
            <th>Supply From</th>
          </tr>
        </thead>
        <tbody>
          {% for x, val, gst in input_gst %}
            <tr>
          
              <td >{{forloop.counter}}{% if x.Balance_Amount == 0 %}#{% endif %}</td>

                <td style="white-space:normal;">
                  {% if x.PO_No %}
                    {{x.PO_No.Vendor.GST_No}}
                  {% else %}
                    {{x.Vendor.GST_No}}
                  {% endif %}
                </td>

                <td style="white-space:normal;">
                  {% if x.PO_No %}
                    {{x.PO_No.Vendor.Supplier_Name}}
                  {% else %}
                    {{x.Vendor.Supplier_Name}}
                  {% endif %}
                </td>

                <td style="white-space:normal;">
                  {{x.Invoice_No}}
                </td>

                <td style="white-space:normal;">
                  {{x.Invoice_Date|date:'d-M-y'}}
                </td>

                <td style="white-space:normal;">
                  {{val|floatformat:2|intcomma}}
                </td>

                <td style="white-space:normal;">
                  {{gst|floatformat:2|intcomma}}
                </td>

                <td style="white-space:normal;">
                  {{x.Invoice_Amount|floatformat:2|intcomma}}
                </td>

                <td style="white-space:normal;">
                  {% if x.PO_No %}
                    {{x.PO_No.Vendor.State_Code}}-{{x.PO_No.Vendor.State}}
                  {% else %}
                    {{x.Vendor.State_Code}}-{{x.Vendor.State}}
                  {% endif %}
                </td>
            </tr>
        {% endfor %} 
        </tbody>
      </table>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
 
