{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %} 

{% block css %}
  <link rel="stylesheet" href="{% static 'css/filterdate.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_theme_1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dt-global_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/buttons.dataTables.min.css' %}">
{% endblock %} 

{% block scripts %}
  <script src="{% static 'js/filterdate.js' %}"></script>
  <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
  <script src="{% static 'js/datatables/datatables.js' %}"></script>
  <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
  <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/datatables/jszip.min.js' %}"></script>    
  <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/tableexport.js' %}"></script>

<script type="text/javascript">
  function editemp1(tid, username) {
    getid = tid;
    if (username == 'None') {
        document.getElementById('hideusr').style.display='block';
    }
    else {document.getElementById('hideusr').style.display='none';}
    
  }

  function editemp2(tid, rid) {
      getid = tid; eid = rid;
      document.getElementById('show_or_hide3').style.display='none';
      document.getElementById('show_or_hide4').style.display='none';
    if (tid == 'create') { 
      document.getElementById('show_or_hide1').style.display='none';
      document.getElementById('show_or_hide2').style.display='block'; 
    }
    else { 
      document.getElementById('show_or_hide1').style.display='block';
      document.getElementById('show_or_hide2').style.display='none'; 
    }
  }

  function editemp3(tid, rid) {
      getid = tid; eid = rid;
      document.getElementById('show_or_hide1').style.display='none';
      document.getElementById('show_or_hide2').style.display='none';
    if (tid == 'create') { 
      document.getElementById('show_or_hide3').style.display='none';
      document.getElementById('show_or_hide4').style.display='block'; 
    }
    else { 
      document.getElementById('show_or_hide3').style.display='block';
      document.getElementById('show_or_hide4').style.display='none'; 
    }
  }

  function fnchide(){
    $('#editModal1, #editModal2, #editModal3 .close').click()
  }

  function validate1(p) {
    if(   document.getElementById("activitypswd1").value == "sse123" ){
        url = '/{{firm}}/{{pdata.pj}}/employesform/delete/'+getid+'/'
        location.href=url;}
    else{alert( "Incorrect Activity Password, Please Try Again" );}}
  function validate2(p) {
    if(   document.getElementById("activitypswd2").value == "sse123" ){
        url = '/{{firm}}/{{pdata.pj}}/employesbankform/delete/'+getid+'/1/'
        location.href=url;}
    else{alert( "Incorrect Activity Password, Please Try Again" );}}
  function validate3(p) {
    if(   document.getElementById("activitypswd3").value == "sse123" ){
        url = '/{{firm}}/{{pdata.pj}}/employesprsnlform/delete/'+getid+'/1/'
        location.href=url;}
    else{alert( "Incorrect Activity Password, Please Try Again" );}}
</script>

<!-- Data Tables Export Script -->
<script src="{% static 'js/datatablesexport.js' %}"></script>
<script type="text/javascript">
  // Datatables Excel Formating Before Export//
  var customexcel = function( xlsx ) {
    var sheet = xlsx.xl.worksheets['sheet1.xml'];
    var style = xlsx.xl['styles.xml'];
    var tagName = style.getElementsByTagName('sz');
    for (i = 0; i < tagName.length; i++) {tagName[i].setAttribute("val", "10")}
    $('row:first c', sheet).attr('s', '2')
    $('row c[r^="B"]', sheet).attr( 's', '55' ); $('row c[r^="C"]', sheet).attr( 's', '55' );$('row c[r^="D"]', sheet).attr( 's', '55' ); $('row c[r^="E"]', sheet).attr( 's', '55' );  $('row c[r^="F"]', sheet).attr( 's', '55' ); //wrap text
    var col = $('col', sheet);
    // col.each(function () {$(this).attr('width', 20);}); //for all columns widths     
    $(col[2]).attr('width', 40); $(col[3]).attr('width', 25); $(col[4]).attr('width', 25); $(col[5]).attr('width', 25); }; 
  //--End--//

  var cl = [0,  1, 2, 3, 4, 5]
  var wdths = ['2%', '3%', '29%', '22%', '22%', '22%'];
  var ort = 'portrait'; //landscape
  
    var msgTop = 'No of Employes - {{count}}'
    var title = '{{firm}}-{{status}}-Employes List';
    var filename = '{{firm}}_{{status}}_Employes_List'

  // Datatables Customise PDF Before Export//
  var pdf_custom = function ( doc ) {
    doc.content[1].table.widths = wdths; doc.content[0].text = doc.content[0].text.trim();
    doc.pageMargins = [40,60,20,30];
    doc['footer']= footer1;
    doc['header']= header1;
    var objLayout = {};objLayout['hLineWidth'] = function(i) { return .5; };
    objLayout['vLineWidth'] = function(i) { return .5; };objLayout['hLineColor'] = function(i) { return '#aaa'; };
    objLayout['vLineColor'] = function(i) { return '#aaa'; };objLayout['paddingLeft'] = function(i) { return 5; };
    objLayout['paddingRight'] = function(i) { return 5; };doc.content[1].layout = objLayout;      
    doc.defaultStyle.fontSize = 9;doc.styles.title.fontSize = 13;doc.styles.title.messageTop = 15;doc.defaultStyle.alignment = 'left'; doc.styles.tableHeader = table_header; 
    // doc.content[1].table.widths =Array(doc.content[1].table.body[0].length + 1).join('*').split('');
  doc.content.splice(0, 1,{text: [{text: title+'\n\n',bold: true,fontSize: 12,alignment: 'center',},
  {text: msgTop, bold: true, fontSize: 9.5, alignment: 'left',}],margin: [0, -30, 0, 12],});
  };

  //--End--//
</script>

<!-- Data Tables Export Script -->
<script type="text/javascript">
  $('#employes').DataTable( { order: [[0, 'asc']],
  autoWidth: false, dom: 'lBfrtip', "oLanguage": olg, "stripeClasses": [],"lengthMenu": lmenu,"pageLength": 20,
  buttons: {dom: {button: {tag: 'i',className: ''}},buttons: [
      
    {extend: 'excel', title: title, filename: filename, text:'', titleAttr: 'Download as Excel', className: 'custom-btn1 mdi mdi-file-excel', customize: customexcel, exportOptions: {columns: cl, format: _format, rows : {search:'applied'}}, orientation:ort, messageTop: msgTop, },

    {extend: 'pdf', title: title, filename: filename, pageSize: 'A4', exportOptions: { columns: cl, format:  _format, rows : {search:'applied'}}, text:'', titleAttr: 'Download as PDF', className: 'custom-btn1 mdi mdi-file-pdf', customize: pdf_custom, orientation:ort, },

    {extend: 'print',title: title, filename: filename, exportOptions: {columns: cl, format: formatprint, stripHtml: false, rows : {search:'applied'}},text:'',titleAttr: 'Print',className: 'custom-btn1 mdi mdi-printer style="color:blue"', orientation:ort, messageTop: msgTop },]}, } );
</script>
{% endblock %} <!-- For Scripts -->


{% block content %}
<div class="page-header">
    <h3 class="page-title">{{status}}-Employes List - {{count}}</h3>
</div>

<div>
  <div style="float:left">
    <button type="button" onclick="location.href='/{{firm}}/{{pdata.pj}}/employesform/create/1/'" class="btn btn-sm btn-primary mb-4" ht="register new employee here">Add New Employ</button>
    {% if status == 'Permanent' %}
      <button type="button" onclick="location.href='/{{firm}}/{{pdata.pj}}/employeslist/Contract/'" class="btn btn-sm btn-info mb-4" ht="list of contract employs in company">Contract Employes List</button>
      <button type="button" onclick="location.href='/{{firm}}/{{pdata.pj}}/employeslist/Inactive/'" class="btn btn-sm btn-danger mb-4" ht="list of old employes who are not active or not in company">Old/Inactive Employes List</button>
    {% else %}
      <button type="button" onclick="location.href='/{{firm}}/{{pdata.pj}}/employeslist/Permanent/'" class="btn btn-sm btn-success mb-4" ht="list of Permanent employes">Permanent Employes List</button>
      <button type="button" onclick="location.href='/{{firm}}/{{pdata.pj}}/employeslist/Inactive/'" class="btn btn-sm btn-danger mb-4" ht="list of old employes who are not active or not in company">Old/Inactive Employes List</button>
    {% endif %}
  </div>
  <div style="float:right">
    <!-- <button type="button" id="myBtn" class="btn btn-sm  btn-primary mb-4">ApplyFilters<i class="mdi mdi-filter btn-icon-append"></i></button>
      <button type="button" onclick="location.href='/{{firm}}/{{pdata.pj}}/employeslist/'" class="btn btn-sm  btn-info mb-4">ClearFilters<i class="mdi mdi-filter-remove btn-icon-append"></i></button> -->
  </div>
  <div style="clear:both"></div>
</div>

  
<!-- Employes List -->
  <div class="card">
    <div class="card-body2">
      <div class="table-responsive mb-4 mt-4">
      <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="employes">
        <thead>
          <tr>
            <th>#</th>
            <th>DP</th>
            <th>Employee Name</th>
            <th>Other Details</th>
            <th>Bank Account Details</th>
            <th>Personal Details</th>
          </tr>
        </thead>
        <tbody>
          {% for x, y, z in data %}
          <tr>
            <td >{{forloop.counter}}</td>

            <td >
              <a class="ahr" ht="update employee details" data-toggle="modal" data-target="#editModal1" onclick="javascript:editemp1('{{x.id}}')">
                {% if x.Upload_Photo %}
                  <img src="/media/{{x.Upload_Photo}}/" alt="image" />
                {% else %}
                  <img src="/media/employes/logo-mini.png/" alt="image" />
                {% endif %}
              </a>
            </td>

            <td style="white-space:normal;">
              <a class="ahr" ht="update employee details" data-toggle="modal" data-target="#editModal1" onclick="javascript:editemp1('{{x.id}}','{{x.user}}')">
                {{x.Name}}
                {% if x.Designation %}<br><span class="hlt5">Designation: </span>{{ x.Designation }}{% endif %}
                {% if x.Employee_Id %}<br><span class="hlt5">Employee ID: </span>{{ x.Employee_Id }}{% endif %}
                {% if x.user %}<br><span class="hlt5">Username: </span>{{ x.user.username }}{% endif %}
              </a>
            </td>

            <td style="white-space:normal;">
              <i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Phone_Number}}'>{{x.Phone_Number}}</a>
              <a class="ahr" ht="update employee details" data-toggle="modal" data-target="#editModal1" onclick="javascript:editemp1('{{x.id}}','{{x.user}}')">             
                {% if x.Department %}<br><span class="hlt5">Department: </span>{{ x.Department }}{% endif %}
                {% if x.Email %}<br><i class="mdi mdi-email-outline"></i>&nbsp;{{x.Email}}{% endif %}
                {% if x.Joining_Date %}<br><span class="hlt5">Date of Joining: </span>{{ x.Joining_Date|date:'d M Y' }}{% endif %}
              </a>
            </td>

            <td style="white-space:normal;">
              {% if y %}
                <a class="ahr" ht="update employee bank details" data-toggle="modal" data-target="#editModal2" onclick="javascript:editemp2('{{y.id}}')">
                  <span class="hlt5">A/C No: </span>{{ y.Account_No }}
                  <br><span class="hlt5">Bank: </span>{{ y.Bank_Name }}
                  {% if y.Branch %}<br><span class="hlt5">Branch: </span>{{ y.Branch }}{% endif %}
                  {% if y.IFSC_Code %}<br><span class="hlt5">IFSC Code: </span>{{ y.IFSC_Code }}{% endif %}
                  {% if y.Account_Type %}<br><span class="hlt5">Related To: </span>{{ y.Account_Type }}{% endif %}
                </a>
              {% else %}
                <a class="ahr" ht="add employee bank details" data-toggle="modal" data-target="#editModal2" onclick="javascript:editemp2('create', '{{x.id}}')">
                  <span class="hlt2">No Accounts Assigned/Given</span>
                </a>
              {% endif %}
            </td>

            <td style="white-space:normal;">
              {% if z %}
                <a class="ahr" ht="update employee personal details" data-toggle="modal" data-target="#editModal3" onclick="javascript:editemp3('{{z.id}}')">
                  <span class="hlt5">Date of Birth: </span>{% if z.DOB %}{{ z.DOB|date:'d M Y' }}<br>{% endif %}
                  {% if z.Alternative_Phone %}<span class="hlt5">Alternative Phone: </span>{{ z.Alternative_Phone }}{% endif %}</a>
                  {% if z.Aadhar_No or z.Upload_Aadhaar %}
                    <br><span class="hlt5">Aadhaar: </span>{% if z.Aadhaar_No %}{{ z.Aadhaar_No }}{% endif %}&nbsp;{% if z.Upload_Aadhaar %}<a class="ahr" ht='click here to download copy' href="{{z.Upload_Aadhaar.url}}" target="_blank"><i class="fas fa fa-download"></i></a>{% endif %}
                  {% endif %}                  
                  {% if z.PAN_No or z.Upload_PAN %}
                    <br><span class="hlt5">PAN: </span>{% if z.PAN_No %}{{ z.PAN_No }}{% endif %}&nbsp;{% if z.Upload_PAN %}<a class="ahr" ht='click here to download copy' href="{{z.Upload_PAN.url}}" target="_blank"><i class="fas fa fa-download"></i></a>{% endif %}
                  {% endif %}
                  {% if z.Upload_Resume %}
                    <br><span class="hlt5">Resume: </span>{% if z.Upload_Resume %}<a class="ahr" ht='click here to download copy' href="{{z.Upload_Resume.url}}" target="_blank"><i class="fas fa fa-download"></i></a>{% endif %}
                  {% endif %}
                {% else %}
                  <a class="ahr" ht="add employee personal details" data-toggle="modal" data-target="#editModal3" onclick="javascript:editemp3('create', '{{x.id}}')">
                    <span class="hlt2">No Personal Details Assigned/Given</span>
                  </a>
                {% endif %}              
            </td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="editModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/employesform/edit/'+getid+'/'" class="btn btn-sm btn-primary">Edit Employee</button>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/employesform/copy/'+getid+'/'" class="btn btn-sm btn-info">Copy Employee</button>
            <button type="button" onclick="javascript:fnchide()" data-toggle="modal" data-target="#exampleModal1" class="btn btn-sm btn-danger">Delete Employee</button>
            <div class="template-demo" style="display:none;" id='hideusr'>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/signup1/'+getid+'/'" class="btn btn-sm btn-primary">Create Username</button>        
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="editModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo" style="display:none;" id='show_or_hide1'>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/employesbankform/edit/'+getid+'/1/'" class="btn btn-sm btn-primary">Edit Bank Details</button>
            <!-- <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/employesbankform/copy/'+getid+'/1/'" class="btn btn-sm btn-info">Copy Bank Details</button> -->
            <button type="button" onclick="javascript:fnchide()" data-toggle="modal" data-target="#exampleModal2" class="btn btn-sm btn-danger">Delete</button>           
          </div>
          <div class="template-demo" style="display:none;" id='show_or_hide2'>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/employesbankform/create/1/'+eid+'/'" class="btn btn-sm btn-primary">+ Add Bank Details</button>        
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="editModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo" style="display:none;" id='show_or_hide3'>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/employesprsnlform/edit/'+getid+'/1/'" class="btn btn-sm btn-primary">Edit Personal Details</button>
            <button type="button" onclick="javascript:fnchide()" data-toggle="modal" data-target="#exampleModal3" class="btn btn-sm btn-danger">Delete</button>            
          </div>
          <div class="template-demo" style="display:none;" id='show_or_hide4'>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/employesprsnlform/create/1/'+eid+'/'" class="btn btn-sm btn-primary">+ Add Personal Details</button>        
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="exampleModal1"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Password Before Delete Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="activitypswd1"><br/>
              <input type="button" class="btn btn-sm btn-primary" value="Submit"  onclick="javascript:validate1('{{x.id}}')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="exampleModal2"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Password Before Delete Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="activitypswd2"><br/>
              <input type="button" class="btn btn-sm btn-primary" value="Submit"  onclick="javascript:validate2('{{x.id}}')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="exampleModal3"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Password Before Delete Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="activitypswd3"><br/>
              <input type="button" class="btn btn-sm btn-primary" value="Submit"  onclick="javascript:validate3('{{x.id}}')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
 
