<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SSE-ProMan</title>
    <link rel="stylesheet" href="{% static 'css/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="{% static 'img/sss-logo.png' %}">
                </div>


                <!-- {% if form1.errors %}
                  <div id="errors">
                    <div class="inner">
                      <p>There were some errors in the information you entered. Please correct the following:</p>
                      <ul>
                        {% for field in form1 %}
                          {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% endif %} -->

                {% if next %}
                  {% if user.is_authenticated %}
                    <p style="color: green">Your account doesn't have access to this page. To proceed,
                      please login with an account that has access.</p>
                  {% else %}
                    <h4>Hello! let's get started</h4><br>
                    <h6 class="font-weight-light">Sign in to continue.</h6>
                  {% endif %}
                {% else %}
                  <div class="h5  mb-4 text-center" style="color: green">Welcome Back !</div>
                {% endif %}

                <form class="forms-sample" action="/signup/" method="POST" enctype="multipart/form-data">
                    <div class="form-group mb-4">
                      {% csrf_token %}
                      <div class="form-group">
                        {% for field in form1 %}
                          <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}} 
                            {% if field.label == 'Password' %}
                              <small style="color: grey;">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                              <p style="color: red; margin-top: -20px">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}  
                      </div>
                      <div class="form-group">
                        {% for field in form2 %}
                          <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                          {% for error in field.errors %}
                            <p style="color: red; margin-top: -20px">{{ error }}</p>
                          {% endfor %} 
                        {% endfor %}  
                      </div>
                    </div>
                      <button type="submit" class="btn btn-sm btn-primary">Create Account</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>

  </body>
</html>