<!DOCTYPE html>
{% load static %}
{% load humanize %}
{% load mathfilters %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prakom-Pro</title>
    
    <link rel="stylesheet" href="{% static 'css/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/invoice1.css' %}">


  </head>
  <body>
    <!-- <button onclick="Convert_HTML_To_PDF();">Convert HTML to PDF</button> -->
    <br><br>
    <!-- <button onclick="htt()">height</h5></button> -->
      <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/invoiceslist/Issued/'" class="btn2 btn2-info">Invoice List</button>
      <button type="button"  id="btnTest" onclick="href='javascript:generatePDF()'" class="btn2 btn2-primary">Download</button>
    {% if inv.Lock_Status == 1 %}
      <button type="button" ht='unlock it for edit/change the invoice' data-toggle="modal" data-target="#unlockPasswordModal"  class="btn2 btn2-danger">Unlock Invoice</button>
      {% if inv.Is_Proforma == 0 %}
        {% if inv.Set_For_Returns == 1 %}
          <button type="button" ht='skip to GST returns for this time' data-toggle="modal" data-target="#unsetReturnsModal" class="btn2 btn2-warning">Skip Returns</button>
        {% else %}
          <button type="button" ht='add to gst rurns' data-toggle="modal" data-target="#setReturnsModal" class="btn2 btn2-dark">Add to Returns</button>
        {% endif %}
      {% endif %}
    {% else %}
      <button type="button" ht='by click this confirm invoice and lock edit options' data-toggle="modal" data-target="#editInvoiceModal" onclick="javascript:fnc('lockinvoice')" class="btn2 btn2-danger">Convert As Main Invoice</button>
      <button type="button" ht='by click this make proforma invoice' data-toggle="modal" data-target="#editInvoiceModal" onclick="javascript:fnc('proformainvoice')" class="btn2 btn2-info">Convert As Proforma</button>
      <button type="button" ht='Delete this Draft Invoice' data-toggle="modal" data-target="#deleteInvoiceModal" onclick="javascript:fnc('deleteinvoice')" class="btn2 btn2-dark">Delete</button>
      
      <button style="border:none; background:none; color: blue; font-size:16px; font-weight:600;">Draft Copy</h5></button>

      <div class="modal fade text-left" id="deleteInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="modal-reload">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Security Password Before Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control"  placeholder="Acctivity Password" ><br/>
                  <input type="button" class="btn2 btn2-primary" value="Submit"  onclick="javascript:deleteinvoice('sse123')" />
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    
    <br><br>
    <script>var hide1=1; var hide2=1; var hide3=1;</script>

    <div id="invoicee" class="print">

    {% for tbl in table_list %}
      <img  class="invlogo" style="position: absolute;  margin-left: 25px;" src="{% static 'img/logo-name.png' %}">
      <div class="row d-flex justify-content-center text-center">
        <a class="ahr" ht="Change BillingFrom Details" data-toggle="modal" data-target="#editInvoiceModal" onclick="javascript:fnc('companyaddress')">
          <span style="font-size:25px; font-weight: 600; color: #db1309">{{inv.Billing_From.Company_Name}}</span>
          
          <div style="margin-top:-2px;"></div>
          <span style="font-size:12px; font-weight: 600; color:black;">{{inv.Billing_From.Address_Line_1}}</span>
          
          <div style="margin-top:-2px;"></div>
          <span style="font-size:12px; font-weight: 600; color:black">{{inv.Billing_From.Address_Line_2}}{% if inv.Billing_From.Pin_Code %}-{{inv.Billing_From.Pin_Code}}{% endif %}</span>
          
          <div style="margin-top:-2px;"></div>
          <span style="font-size:12px; font-weight: 600; color:black">
           {% if inv.Billing_From.GST_No %}GSTIN: {{inv.Billing_From.GST_No}}{% endif %}{% if inv.Billing_From.CIN_No %}, CIN: {{inv.Billing_From.CIN_No}}, {% endif %}
          </span>

          <div style="margin-top:-2px;"></div>
          <span style="font-size:12px; font-weight: 600; color:black">State: {{inv.Billing_From.State}}, State Code: {{inv.Billing_From.State_Code}}</span>


          <div style="margin-top:-2px;"></div>
          <span style="font-size:12px; font-weight: 600; color:black">
           Phone: {{inv.Billing_From.Phone_Number_1}} {% if inv.Billing_From.Email %}, Email: {{inv.Billing_From.Email}}{% endif %}
          </span> 

          <div style="margin-top:0px;"></div>
          <span style="font-size:18px; font-weight: 600; color:black">{% if inv.Lock_Status == 0 %}Invoice Draft Copy&nbsp;
          {% elif inv.Is_Proforma == 1 %}PROFORMA INVOICE&nbsp;{% else %}INVOICE&nbsp;{% endif %}</span>
        </div></a>
      
        <div style="margin-top:5px; ">
          <span style="font-size:11px; font-weight: 500; color:black; position: absolute; margin-top:-65px; margin-left:597px;">
            Original for Receipient
          </span>  
          <span style="font-size:11px; font-weight: 500; color:black; position: absolute; margin-top:-45px; margin-left:585px;">
            Duplicate for Transporter
          </span> 
          <span style="font-size:11px; font-weight: 500; color:black; position: absolute; margin-top:-25px; margin-left:604px;">
          Triplicate for Supplier
          </span> 
        </div>

      <!-- <div style="margin-top:5px"></div> -->

      
      <table class="t3">
        <tr>
          <th class="td1 font-weight-bold" colspan="10">Invoice Details & Payment Terms</th>
          <th class="td123 font-weight-bold" colspan="6">Delivery Details</th>
          <th class="td124 font-weight-bold" colspan="4"></th>
        </tr>
        <tr>
          <td class="td1" colspan="10">
              <a class="ahr" ht="Edit Invoice Details" data-toggle="modal" data-target="#editInvoiceModal" onclick="javascript:fnc('invoicedetails')">
              {% if inv.Is_Proforma == 0 %}
                <span class="sh1">Invoice No & Date:</span> {{inv.Invoice_No}}, {{inv.Invoice_Date|date:'d M Y'}}
              {% else %}
                <br><span class="sh1">PI No & Date:</span> {{inv.Invoice_No}}, {{inv.Invoice_Date|date:'d M Y'}}
              {% endif %}
              {% if inv.Order.PO_No %}<br><span class="sh1">PO No & Date:</span> {{inv.Order.PO_No}}, {{inv.Order.Order_Received_Date|date:'d M Y'}}{% endif %}
              {% if inv.Payment_Terms %}
                <br><span class="sh1">Payment Terms: </span>{{inv.Payment_Terms}}
              {% endif %}
            </a>
              
          </td>
          
          <td class="td123" colspan="6">         
            <a class="ahr" ht="Edit Delivery Note Details" data-toggle="modal" data-target="#editDeliveryNoteModal" onclick="javascript:editdeliverynote({{inv.Delivery_Note.id}})">
              
              <span class="sh1">Vehicle No: </span>{% if inv.Delivery_Note.Vehicle_No %}{{inv.Delivery_Note.Vehicle_No}}{% endif %}
              <br>
              <span class="sh1">Place of Supply: </span>{% if inv.Delivery_Note.Place_Of_Supply %}{{inv.Delivery_Note.Place_Of_Supply}}{% endif %}
              <br>
              <span class="sh1">LUT No: </span>ARN AD3604220049853

              <!-- {% if inv.Delivery_Note.Place_Of_Supply %}<span class="sh1">Place of Supply: </span>{{inv.Delivery_Note.Place_Of_Supply}}&nbsp; {% endif %}
              {% if inv.Delivery_Note.Date %}<span class="sh1">Date: </span>{{inv.Delivery_Note.Date|date:'d M Y'}}{% endif %}
              {% if inv.Delivery_Note.LUT_No %}<br><span class="sh1">LUT No: </span>{{inv.Delivery_Note.LUT_No}}&nbsp; {% endif %}{% if inv.Delivery_Note.Vehicle_No %}<span class="sh1">Vehicle No: </span>{{inv.Delivery_Note.Vehicle_No}}{% endif %}

              {% if inv.Delivery_Note.Transport_Mode %}<br><span class="sh1">Dispatch Through: </span>{{inv.Delivery_Note.Transport_Mode}}&nbsp; {% endif %}{% if inv.Delivery_Note.LRR_No %}<span class="sh1">E-Waybill No: </span>{{inv.Delivery_Note.LRR_No}}<br>{% endif %} -->
            </a>
            <script>var hide1=0;</script> 
          </td>
          <td class="td124" colspan="4">
            <span class="sh1">Date: </span>{% if inv.Delivery_Note.Date %}{{inv.Delivery_Note.Date}}{% endif %}
            <br><span class="sh1">E-Waybill No: </span>{% if inv.Delivery_Note.LRR_No %}{{inv.Delivery_Note.LRR_No}}{% endif %}
            <br><span class="sh1">Date: </span>13-Apr-2022
          </td>

          {% if inv.Delivery_Note == None %}
            {% if inv.Lock_Status == 0  %}<button style="margin-bottom:5px; float: right;" type="button" id='hideadddeliverynotebutton' data-toggle="modal" data-target="#DeliveryNoteModal" onclick="javascript:fnc('adddeliverynote')" class="btn1 btn1-sm btn1-primary">+Add Delivery Details</button>{% endif %}
          {% endif %}
        </tr>
      </table>

      <div  style="margin-top:5px"></div>

      <table class="t3">
        <tr>
          <th class="td1 font-weight-bold">Buyer (Bill To)</th>
          <th class="td1 font-weight-bold">Consignee (Ship To)</th>
        </tr>
        <tr>
          <th class="td1">
            <a class="ahr" ht="Change Billing Address" data-toggle="modal" data-target="#editInvoiceModal" onclick="javascript:fnc('billingaddress')">
              <span class="sh1">M/s. {{inv.Billing_To.Customer_Name}}</span>
              {% if inv.Billing_To.Address_Line_1 %}<br>{{inv.Billing_To.Address_Line_1}},{% endif %}
              {% if inv.Billing_To.Address_Line_2 %}<br>{{inv.Billing_To.Address_Line_2}}{% if inv.Billing_To.Pin_Code %}-{{inv.Billing_To.Pin_Code}}{% endif %},{% endif %}
              {% if inv.Billing_To.GST_No %}<br><span class="sh1">GSTIN : </span>{{inv.Billing_To.GST_No}},{% endif %}
              <br><span class="sh1">State &nbsp; : </span>{{inv.Billing_To.State}}{% if inv.Billing_To.State_Code %}, <span class="sh1">Code: </span>{{inv.Billing_To.State_Code}}{% endif %} 
            </a>
          </th>
          <th class="td1">
            <a class="ahr" ht="Change Shipping Address" data-toggle="modal" data-target="#editInvoiceModal" onclick="javascript:fnc('shippingaddress')">
              <span class="sh1">M/s. {{inv.Shipping_To.Customer_Name}}</span>
              {% if inv.Shipping_To.Address_Line_1 %}<br>{{inv.Shipping_To.Address_Line_1}},{% endif %}
              {% if inv.Shipping_To.Address_Line_2 %}<br>{{inv.Shipping_To.Address_Line_2}}{% if inv.Shipping_To.Pin_Code %}-{{inv.Shipping_To.Pin_Code}}{% endif %},{% endif %}
              {% if inv.Shipping_To.GST_No %}<br><span class="sh1">GSTIN : </span>{{inv.Shipping_To.GST_No}},{% endif %}
              <br><span class="sh1">State &nbsp; : </span>{{inv.Shipping_To.State}}{% if inv.Shipping_To.State_Code %}, <span class="sh1">Code: </span>{{inv.Shipping_To.State_Code}}{% endif %}
            </a>
          </th>
        </tr>
      </table>

      <div style="margin-top:5px"></div>
        <table class="t3" style="font-size:11px" id='newTable{{forloop.counter}}' >
          <tr>
            <th class="td11 font-weight-bold" style="width:4%">SNo</th>
            <th class="td1 font-weight-bold" >Description of Goods</th>
            <th class="td11 font-weight-bold" style="width:8%">HSN/SAC</th>
            <th class="td11 font-weight-bold" style="width:8%">QTY</th>
            <th class="td11 font-weight-bold" style="width:5%">UOM</th>
            <th class="td11 font-weight-bold" style="width:9%">Rate</th>
            <th class="td11 font-weight-bold" style="width:9%">Amount</th>
            {% if inv.Billing_To.State == inv.Billing_From.State %}
              <th class="td11 font-weight-bold" style="width:8.5%">CGST{% if samegst != None %} {{samegst|div:2|floatformat:0}}%{%endif %}</th>
              <th class="td11 font-weight-bold" style="width:8.5%">SGST{% if samegst != None %} {{samegst|div:2|floatformat:0}}%{%endif %}</th>
            {% else %}
              <th class="td11 font-weight-bold" style="width:9%">IGST{% if samegst != None %} {{samegst|floatformat:0}}%{%endif %}</th>
            {% endif %}
            <th class="td11 font-weight-bold" style="text-align:right; width:8%">Total</th> 
          </tr>
          {% for x, a, b, c, d in tbl %}
            <tr {%  if forloop.last %}id="gp{{forloop.counter}}" style="height:0px;"{% endif %}>
              <td class="td33" style="text-align:center;">{{forloop.counter | add:d}}</td>
              <td class="td33 mb-4" style="font-weight:600; text-align:left">
                <a class="ahr" ht="Edit/Delete Item Details" data-toggle="modal" data-target="#itemEditButtons" onclick="javascript:edititem({{x.id}})">{% if x.Item_Code == '0' or x.Item_Code == None %}{% else %}<span>{{x.Item_Code}} </span>{% endif %}{{x.Item_Description}}</a>
               <!--  {%  if forloop.last %}{% if roundoff != 0 %}<span id="gp2" style="float:right; margin-top:5px"><br>Rounding Off</span>{% endif %}{% endif %} -->
              </td>
              <td class="td33">{{x.HSN_Code}}</td>
              <td class="td33">{% if x.UOM == 'Kg' or x.UOM == 'Mtr' or x.UOM == 'Ltr' %}{{x.Quantity|floatformat:1}}{% else %}{{x.Quantity|floatformat:0}}{% endif %}</td>
                <td class="td33"><span style="font-weight:600; font-style:italic;">{{x.UOM}}{% if x.Quantity > 1 %}s{% endif %}</span></td>
              <td class="td33">{{x.Unit_Price|floatformat:'1'}}</td>
              <td class="td33">{{a|floatformat:'0'}}</td>
              {% if inv.Billing_To.State == inv.Billing_From.State %}
                <td class="td33">{{b|div:2|floatformat:'0'}}
                  {% if samegst == None %}
                    <br><span style="font-style:italic; font-weight:600">{{x.GST|div:2|floatformat:'1'}}%</span>
                  {%endif %}
                </td>
                <td class="td33">{{b|div:2|floatformat:'0'}}
                  {% if samegst == None %}
                    <br><span style="font-style:italic; font-weight:600">{{x.GST|div:2|floatformat:'1'}}%</span>
                  {%endif %}
                </td>
              {% else %}
                <td class="td33">{{b|floatformat:'0'}}
                  {% if samegst == None %}
                    <br><span style="font-style:italic; font-weight:600">{{x.GST|floatformat:'1'}}%</span>
                  {%endif %}
                </td>
              {% endif %}
              <td class="td33" style="font-weight:bold;text-align:right;">
              {{c|floatformat:'0'|intcomma}}
               <!-- {%  if forloop.last %}{% if roundoff != 0 %}<span id="gp2" style="float:right; margin-top:5px; font-weight:600"><br>Rounding Off {{roundoff|floatformat:2}}</span>{% endif %}{% endif %} -->
            </td>
            </tr>
          {% endfor %}
        </table>
        {%  if not forloop.last %}
        <div style="margin-top:40px;"></div>
        {% endif %}
      {% endfor %}








      {% if inv.Lock_Status == 0 %}
        <button style="margin-top:5px;" type="button" id='hideitembutton' data-toggle="modal" data-target="#addNewItemModal" onclick="javascript:fnc('addnewitem')" class="btn2 btn2-sm btn2-primary">+Add New Item</button>
        <script> var hide4=1;</script>
      {% endif %}
   
      <table class="t3" style="float: right; width: 41%; font-size: 11px;">
        <tr>
          <th class="td1 font-weight-bold" style="text-align: right;">Total Amount Before Tax</th>
          <th class="td1" style="width:40.5%; text-align: right; font-weight: bold; ">{{ss.final_without_tax_amount|floatformat:'2'|intcomma}}</th>
        </tr>
        {% if inv.Billing_To.State == inv.Billing_From.State %}
          <tr>
            <th class="td1 font-weight-bold" style="text-align: right;">Add: CGST{% if samegst != None %}@{{samegst|div:2|floatformat:1}}%{%endif %}</th>
            <th class="td1" style="width:30%; text-align: right;">{{ss.final_gst|div:2|floatformat:'2'|intcomma}}</th>
          </tr>
          <tr>
            <th class="td1 font-weight-bold" style="text-align: right;">Add: SGST{% if samegst != None %}@{{samegst|div:2|floatformat:1}}%{%endif %}</th>
            <th class="td1" style="width:30%; text-align: right;">{{ss.final_gst|div:2|floatformat:'2'|intcomma}}</th>
          </tr>
        {% else %}
          <tr>
            <th class="td1 font-weight-bold" style="text-align: right;">Add: IGST{% if samegst != None %}@{{samegst|floatformat:1}}%{%endif %}</th>
            <th class="td1" style="width:30%; text-align: right;">{{ss.final_gst|floatformat:'2'|intcomma}}</th>
          </tr>
        {% endif %}
        <tr>
          <th class="td1 font-weight-bold" style="text-align: right;">Total GST Amount</th>
          <th class="td1 font-weight-bold" style="width:30%; text-align: right; font-weight: bold;">{{ss.final_gst|floatformat:'2'|intcomma}}</th>
        </tr>
        <tr>
          <th class="td1 font-weight-bold" style="text-align: right; ">Total Amount After Tax</th>
          <th class="td1 font-weight-bold" style="width:30%; text-align: right; font-weight: bold;font-size: 12px;">₹ {{ss.final_with_tax_amount|floatformat:'0'|intcomma}}</th>
        </tr>
        {% if roundoff != 0 %}
        <tr>
          <th colspan="2" class="td1" style="border:none; font-size:11px; padding-top: 1px; font-style: italic; text-align: right;">
              <span style="font-weight:600">Rounding Off: {{roundoff|floatformat:2}}</span>
          </th>
        </tr>
        {% endif %}
        <tr>
          <th colspan="2" class="td1" style="border:none; font-size:11px; padding-top: 1px; font-style: italic; text-align: left;">
            <a class="ahr" ht="Change GST payable on reverse chargs" data-toggle="modal" data-target="#editInvoiceModal" onclick="javascript:fnc('gstreverse')">
              {% if inv.GST_Reverse_Charges == 0 %}GST payable on reverse chargs - Nill{% else %}Amount of Tax Subject to Reverse Charge{% endif %}</a> <span style="font-weight:normal;  margin-top:1px; margin-left: 15px;">(E. & O.E)</span>
            </th>
        </tr>
        <tr>
          <th colspan="2" class="td1" style="border:none; font-style: italic; font-size:12.5px; width: 38%; font-weight: bold; text-align: right;">
            For M/s {{inv.Billing_From.Company_Name}}
            <br><div style="margin-top:80px; font-size:12.5px">Authorised Signatory</div>
          </th>
        </tr>
      </table>

      <div style="text-transform: capitalize; margin-top: 10px; margin-bottom: 18px; color:black; font-size:11px; font-style: italic; font-weight:600">
        <span style="font-weight:bold; font-style: normal;">Total Invoice Amount in Words<br></span>{{amount_in_words}} Rupees Only
        <br>
        <span style="font-weight:bold; font-style: normal;">Total Tax Amount in Words<br></span>{{tax_words}} Rupees Only
      </div>
      <!-- <div style="text-transform: capitalize; margin-top: 0px; margin-bottom: 18px; color:black; font-size:12px; font-style: italic; font-weight:600">
        <span style="font-weight:bold; font-style: normal;">Total Tax Amount in Words<br></span>{{tax_words}} Rupees Only
      </div> -->
      
      <!-- <div style="float: left; margin-top: 10px; margin-bottom: 3px; color:black; font-size:12px; font-style: italic; font-weight:normal"><span style="font-weight:bold; font-style: normal;">
        Decleration: </span>We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct
      </div> -->

    
      <div  style="margin-top:10px"></div>

  
      {% if inv.Bank_Details %}
        <table class="t3" style="width:52%; float:left;">
          <tr>
            <th class="td1 font-weight-bold" >Bank Account Details</th>
          </tr>
          <tr>
            <th class="td1">
              <a class="ahr" ht="Change Bank Account Details" data-toggle="modal" data-target="#editInvoiceModal" onclick="javascript:fnc('bankaccount')">
                <span class="sh1">Account No:&nbsp; </span>{{inv.Bank_Details.Account_No}} &emsp;<span class="sh1">Bank: </span>{{inv.Bank_Details.Bank_Name}}
                <br><span class="sh1">Branch: </span>{{inv.Bank_Details.Branch}}
                <br><span class="sh1">IFSC Code: </span>{{inv.Bank_Details.IFSC_Code}}
              </a>
            </th>
          </tr>
        </table>
        <script>var hide3=0;</script>
      {% else %}
        {% if inv.Lock_Status == 0 %}<button type="button" id='hideaddbankdetailsbutton' data-toggle="modal" data-target="#editInvoiceModal" onclick="javascript:fnc('addbankdetails')" class="btn1 btn1-sm btn1-success">+Add Bank Details</button>{% endif %}
      {% endif %}


      {% if tc %}
        <table class="t3" style="width:52%; float:left; margin-bottom: 5px; margin-top:5px;">
          <tr>
            <th class="td1 font-weight-bold">General Terms & Conditions</th>
          </tr>
          <tr>
            <th class="td1">
              <a class="ahr" ht="Edit Terms and Conditions" data-toggle="modal" data-target="#editTCModal" onclick="javascript:edittc({{tc.id}})">
                {% if tc.Terms_and_Condition1 %}1. {{tc.Terms_and_Condition1}}{% endif %}
                {% if tc.Terms_and_Condition2 %}<br>2. {{tc.Terms_and_Condition2}}{% endif %}
                {% if tc.Terms_and_Condition3 %}<br>3. {{tc.Terms_and_Condition3}}{% endif %}
                {% if tc.Terms_and_Condition4 %}<br>4. {{tc.Terms_and_Condition4}}{% endif %}
              </a>
            </th>
          </tr>
        </table>
        <script>var hide2=0;</script>
      {% else %}
        {% if inv.Lock_Status == 0 %}<button style="margin-top:5px;" type="button" id='hideaddtcbutton' data-toggle="modal" data-target="#TCModal" onclick="javascript:fnc('addtc')" class="btn1 btn1-sm btn1-primary">+Add Terms and Conditions</button> {% endif %}
      {% endif %}

      <table class="t3" style="width:52%; float:left; margin-top:-10px; padding:0px">
        <tr>
          <th colspan="2" class="td1" style="border:none;  text-align: left;">
            <div style=" margin-top: 10px;  color:black; font-size:12px; font-style: italic; font-weight:normal"><span style="font-weight:bold; font-style: normal;">
            Decleration: </span>We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct
          </div>
          </th>
        </tr>
      </table>


      </div>

      <div id="nextpage1"></div>
    </div>

    {% if inv.Lock_Status == 1 %}
    <style type="text/css">a:hover {cursor:pointer; pointer-events: none; }</style>
    {% endif %}

  
<!-- Invoice Addresses and Details Update Popups - Buttons and Forms -->
  <div class="modal fade text-left" id="editInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Invoice Details Update Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='inv_edit_action' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group">

                <div style="display:none;" id='billingfrom'><label for="{{ field.label }}">{{ form_invoice.Billing_From.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_invoice.Billing_From }}</div>

                <div style="display:none;" id='invoiceno'>
                  <label for="{{ field.label }}">{{ form_invoice.Invoice_No.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_invoice.Invoice_No }}
                  <!-- <label for="{{ field.label }}">choose Invoice No format if want to change default format as above{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_invoice.Invoice_No_Format }} -->
                  <label for="{{ field.label }}">{{ form_invoice.Invoice_Date.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_invoice.Invoice_Date }}
                  <label for="{{ field.label }}">{{ form_invoice.Credit_Days.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_invoice.Credit_Days }}
                  <label for="{{ field.label }}">{{ form_invoice.Payment_Terms.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_invoice.Payment_Terms }}
                </div>

                <div style="display:none;" id='billingto'><label for="{{ field.label }}">{{ form_invoice.Billing_To.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_invoice.Billing_To }}</div>

                <div style="display:none;" id='shippingto'><label for="{{ field.label }}">{{ form_invoice.Shipping_To.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_invoice.Shipping_To }}</div>

                <div style="display:none;" id='bank_details'><label for="{{ field.label }}">{{ form_invoice.Bank_Details.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_invoice.Bank_Details }}</div>

                <div class="form-check"  style="display:none; " id='gst_reverse'>
                  <label class="form-check-label">{{ form_invoice.GST_Reverse_Charges }} Mark it if GST Reverse Charges Applicable</label><br>
                </div>

                <div class="form-check"  style="display:none; " id='lock_invoice'>
                  <label class="form-check-label">{{ form_invoice.Lock_Status }}</label><br><span style="font-size:17px;">Are You Sure !<br>Once You Lock It You Can't Modify/Edit Invoice Without Unlock Password<br>Tick Above Box and Submit to Lock the Invoice</span>
                </div>

                <div class="form-check"  style="display:none; " id='proforma_invoice'>
                  <label class="form-check-label">{{ form_invoice.Is_Proforma }}</label><br><span style="font-size:17px;">Are You Sure Wanr to Convert as Proforma Invoice !<br>Once You Lock It You Can't Modify/Edit Proforma Invoice Without Unlock Password<br>Tick Above Box and Submit to Lock the Proforma Invoice</span>
                </div>

                <div class="form-check"  style="display:none; " >
                  <label class="form-check-label">{{ form_invoice.Set_For_Returns }}</label><br>
                </div>

              </div>
              <button type="submit" class="btn btn-primary">Submit</button>    
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->

<!-- Invoice Unlock Forms and Password Popup-->
  <form class="forms-sample" action="" id='unlockinvoiceaction' method="POST" enctype="multipart/form-data" style="display: none;">
    <div class="form-group mb-4">
      {% csrf_token %}
      <div class="form-group newheight">
        {% for field in form_invoice %}
          {% if field.label != 'Lock Status' and field.label != 'Is Proforma' %}
            <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
          {% endif %}           
          {% if field.label == 'Lock Status' %}
            <input type="checkbox" name="Lock_Status" value="0" >
          {% endif %}
          {% if field.label == 'Is Proforma' %}
            <input type="checkbox" name="Is_Proforma" value="0" >
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red; margin-top: -20px">{{ error }}</p>
          {% endfor %}
        {% endfor %}
      </div>
   </div>
  <button type="submit" class="btn btn-primary" id='unlocksubmit'>Submit</button>    
  </form>

  <div class="modal fade text-left" id="unlockPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Security Password to Unlock Invoice to Edit Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="unlockpassword"><br/>
              <input type="button" class="btn2 btn2-primary" value="Submit"  onclick="javascript:validateinvoicepswd('sse123')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->
  
<!-- Delevery Note Add, Update or Delete Popups - Buttons and Forms -->
  <div class="modal fade text-left" id="editDeliveryNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button" data-toggle="modal" data-target="#DeliveryNoteModal" class="btn btn-sm btn-primary mb-2">Edit Delivery Details</button>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/delete/inv_deliverynote/'+{{inv.id}}+'/'+getid+'/'" class="btn btn-sm btn-danger mb-2">Delete Delivery Details</button>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delevery Note Add, Update Form -->
  <div class="modal fade text-left" id="DeliveryNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Add/Update Delivery Details Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='deliveryaction' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group newheight">
                {% for field in form_deliverynote %}
                  {% if field.label != 'LRR No' %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% endif %}
                  {% if field.label == 'LRR No' %}
                    <label for="{{ field.label }}">E-Waybill Number{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
           </div>
          <button type="submit" class="btn btn-primary">Submit</button>    
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->


<!-- Terms and Conditions Add, Update or Delete Popups - Buttons and Forms -->
  <div class="modal fade text-left" id="editTCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button" data-toggle="modal" data-target="#TCModal" class="btn btn-sm btn-primary mb-2">Edit T&C</button>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/delete/inv_tc/'+{{inv.id}}+'/'+getid+'/'" class="btn btn-sm btn-danger mb-2">Delete T&C</button>            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Terms and Conditions Add, Update or Delete Form -->
  <div class="modal fade text-left" id="TCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Update Terms and Condition Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='tcaction' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group newheight">
                {% for field in form_tc %}
                  {% if field.label != 'Additional Note' %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
           </div>
          <button type="submit" class="btn btn-primary">Submit</button>    
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->
  
<!-- Items Add, Update or Delete Popups - Buttons and Forms -->
  <!-- when click this modal on item description, it will open below two buttons. when you click update item, it will take this id, and return same page with id instaed of 'itemid'. below itemclick button auto activate modal01(item form with edit data) when load page  -->
  <div class="modal fade text-left" id="itemEditButtons" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button" onclick="location.href='/{{firm}}/{{pdata.pj}}/invoice/edit/'+{{inv.id}}+'/'+{{inv.Order.id}}+'/'+getid+'/msg/'" class="btn btn-sm btn-primary">Update Item</button>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/delete/invoiceitem/'+{{inv.id}}+'/'+getid+'/'" class="btn btn-sm btn-danger mb-2">Delete Item</button>

              <div style="display:none" id='btn_nextpage'>
                <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/inv_adjusttable/'+{{inv.id}}+'/'+getid+'/adjust/'" class="btn btn-sm btn-dark mb-2" ht="by click this move items table to next page from this selected item">Move Here From to Next Page</button>
                <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/inv_adjusttable/'+{{inv.id}}+'/'+getid+'/reset/'" class="btn btn-sm btn-success mb-2" ht="by click this all items tables will be adjusted to one table">Reset to Single Page</button>
              </div>  

          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" style="display:none" data-toggle="modal" data-target="#addNewItemModal" data-backdrop='static' data-keyboard='false' id='itemidclick' class="btn btn-sm btn-primary mb-2">Update Item</button>

<!-- Add/Edit Items Form -->
  <div class="modal fade text-left" id="addNewItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Item Update Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.href='/{{firm}}/{{pdata.pj}}/invoice/edit/'+{{inv.id}}+'/'+{{inv.Order.id}}+'/'+'itemid/msg/'">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='itemaction' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group newheight">
                {% for field in form_item %}
                  {% if field.label == 'Add Item' %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>
                    <a title="add new product" target="_blank" href="/{{firm}}/{{pdata.pj}}/productsform/Products/create/1/"><i class="fas fa-square-plus " style="color:purple; padding-bottom:-20px;">+</i></a>
                    {{ field}}                    
                  {% else %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
           </div>
          <button type="submit" class="btn btn-primary" >Submit</button>    
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->

<!-- Set/Unset Invoice for GST Returns -->
<div class="modal fade text-left" id="setReturnsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Security Password to Set Invoice for Returns</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="setreturns"><br/>
              <input type="button" class="btn2 btn2-primary" value="Submit"  onclick="javascript:setreturnspswd('sse123')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>

  <form class="forms-sample" action="" id='setreturnsaction' method="POST" enctype="multipart/form-data" style="display: none;">
    <div class="form-group mb-4">
      {% csrf_token %}
      <div class="form-group">
        {% for field in form_invoice %}
          {% if field.label != 'Set For Returns' %}
            <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
          {% endif %}           
          {% if field.label == 'Set For Returns' %}
            <input type="text" name="Set_For_Returns" value="True" >
          {% endif %} 
        {% endfor %}
      </div>
   </div>
  <button type="submit" class="btn btn-primary" id='setreturnssubmit'>Submit</button>    
  </form>

  <div class="modal fade text-left" id="unsetReturnsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Security Password to Remove Invoice from Returns</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="unsetreturns"><br/>
              <input type="button" class="btn2 btn2-primary" value="Submit"  onclick="javascript:unsetreturnspswd('sse123')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>

  <form class="forms-sample" action="" id='unsetreturnsaction' method="POST" enctype="multipart/form-data" style="display: none;">
    <div class="form-group mb-4">
      {% csrf_token %}
      <div class="form-group">
        {% for field in form_invoice %}
          {% if field.label != 'Set For Returns' %}
            <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
          {% endif %}           
          {% if field.label == 'Set For Returns' %}
            <input type="checkbox" name="Set_For_Returns" value="0" >
          {% endif %} 
        {% endfor %}
      </div>
   </div>
  <button type="submit" class="btn btn-primary" id='unsetreturnssubmit'>Submit</button>    
  </form>
<!-- End -->


  <script type="text/javascript">  
    function fnc(tag) {
      document.getElementById("inv_edit_action").action = '/{{firm}}/{{pdata.pj}}/inv_edit/edit/'+{{inv.id}}+'/';

      if ( tag == 'companyaddress' ) {document.getElementById("billingfrom").style.display = 'block';}
      else {document.getElementById("billingfrom").style.display = 'none';};

      if ( tag == 'invoicedetails' ) {document.getElementById("invoiceno").style.display = 'block';}      
        else {document.getElementById("invoiceno").style.display = 'none';};

      if ( tag == 'billingaddress' ) {document.getElementById("billingto").style.display = 'block';}      
        else {document.getElementById("billingto").style.display = 'none';};

      if ( tag == 'shippingaddress' ) {document.getElementById("shippingto").style.display = 'block';}      
        else {document.getElementById("shippingto").style.display = 'none';};
      
      if ( tag == 'bankaccount' | tag == 'addbankdetails'  ) { document.getElementById("bank_details").style.display = 'block';}      
        else {document.getElementById("bank_details").style.display = 'none';};

      if ( tag == 'gstreverse' ) { document.getElementById("gst_reverse").style.display = 'block';}     
        else {document.getElementById("gst_reverse").style.display = 'none';};

        if ( tag == 'lockinvoice' ) { document.getElementById("lock_invoice").style.display = 'block'; var lock=1;}     
        else {document.getElementById("lock_invoice").style.display = 'none';};

        if ( tag == 'proformainvoice' ) { document.getElementById("proforma_invoice").style.display = 'block'; var lock=1;}     
        else {document.getElementById("proforma_invoice").style.display = 'none';};    

      // if ( tag == 'tc' ) {document.getElementById('tc').style.display = 'block';}
      // else {document.getElementById("tc").style.display = 'none';};
      
      if ( tag == 'addnewitem' ) {document.getElementById("itemaction").action = '/{{firm}}/{{pdata.pj}}/create/invoiceitem/'+{{inv.id}}+'/'+tag+'/';}

      if ( tag == 'adddeliverynote' ) {document.getElementById("deliveryaction").action = '/{{firm}}/{{pdata.pj}}/create/inv_deliverynote/'+{{inv.id}}+'/1/';}
      

      if ( tag == 'addtc' ) {document.getElementById("tcaction").action = '/{{firm}}/{{pdata.pj}}/create/inv_tc/'+{{inv.id}}+'/1/';}
    }

      function editdeliverynote(id){
        getid = id;
        document.getElementById("deliveryaction").action = '/{{firm}}/{{pdata.pj}}/edit/inv_deliverynote/'+{{inv.id}}+'/'+id+'/';}

      function edittc(id){
        getid = id;
        document.getElementById("tcaction").action = '/{{firm}}/{{pdata.pj}}/edit/inv_tc/'+{{inv.id}}+'/'+id+'/';}

      function edititem(id) {getid = id;}

      function validateinvoicepswd(pswd) { 
        if ( pswd == 'sse123') {
          document.getElementById("unlockinvoiceaction").action = '/{{firm}}/{{pdata.pj}}/inv_edit/edit/'+{{inv.id}}+'/';
          document.getElementById("unlocksubmit").click();}
        else { alert('Password did not matched. Please Try Again')}
        }
      function deleteinvoice(){location.href='/{{firm}}/{{pdata.pj}}/inv_edit/delete/'+{{inv.id}}+'/'}

      function setreturnspswd(pswd) { 
        if ( pswd == 'sse123') {
          document.getElementById("setreturnsaction").action = '/{{firm}}/{{pdata.pj}}/inv_edit/edit/'+{{inv.id}}+'/';
          document.getElementById("setreturnssubmit").click();}
        else { alert('Password did not matched. Please Try Again')}
        }

      function unsetreturnspswd(pswd) { 
        if ( pswd == 'sse123') {
          document.getElementById("unsetreturnsaction").action = '/{{firm}}/{{pdata.pj}}/inv_edit/edit/'+{{inv.id}}+'/';
          document.getElementById("unsetreturnssubmit").click();}
        else { alert('Password did not matched. Please Try Again')}
        }
  </script>

  <script>
    function test() {
      if ('{{inv.Lock_Status}}' == 'False') {
      if(hide1!=0){document.getElementById("hideadddeliverynotebutton").style.display = 'none';}
      if(hide2!=0){document.getElementById("hideaddtcbutton").style.display = 'none';}
      if(hide3!=0){document.getElementById("hideaddbankdetailsbutton").style.display = 'none';}
      if(hide4!=0){document.getElementById("hideitembutton").style.display = 'none';}
    };

      var element = document.getElementById('invoicee');
      html2pdf().from(element).set({
      margin:       [2, 15, 5, 5],
       // margin:       [t, l, b, r],
        // margin:       [10, 10, 20, 10],
        filename: '{{inv.Invoice_No}}',
        html2canvas: { dpi: 0, letterRendering: true, scale:5},
        image: { type: 'jpeg', quality: 0.2},
       pageBreak: { mode: 'css', before:'#nextpage1'},
        jsPDF: {unit: 'mm', format: [275, 210]}
      }).toPdf().get('pdf').then(function (pdf) {
        var totalPages = pdf.internal.getNumberOfPages();

        for (i = 1; i <= totalPages; i++) {
         pdf.setPage(i);
          pdf.setFontSize(9);
          pdf.setTextColor(150);
          if ( totalPages > 1){
          pdf.text(i + ' of ' + totalPages, (pdf.internal.pageSize.getWidth()/1.07), (pdf.internal.pageSize.getHeight()-5));}

          }}).save();
        
        setTimeout(func, 1000);
        function func() {location.href='/{{firm}}/{{pdata.pj}}/invoice/edit/'+{{inv.id}}+'/'+{{inv.Order.id}}+'/'+'itemid/msg/'}
    }
    document.getElementById('btnTest').onclick = test;
  
    function htt() {
      var ph1 = $("#invoicee").height();alert(ph1)
      if (ph1>800){document.getElementById('next').style.display='block'}
    }
    
  </script>

  <script type="text/javascript">
    var ph1 = $("#newTable").height();alert(ph1)
      // if (ph1>800){document.getElementById('next').style.display='block'}
  </script>

  <script type="text/javascript">
    window.onload = function () {
      
      // 350 is allowable table height to fit in a single page
      // initially its single table, if it's lenth more than specified, then show button
      var th = $("#newTable1").height();
        if (th>350){document.getElementById('btn_nextpage').style.display = 'block';
      
      }

      if({{tbl_count}}>1){
        var k = {{tbl_count}}-1
        // alert()
        while ( k != 0 ) {
          document.getElementById('btn_nextpage').style.display = 'block';
          table = "#newTable" + k ;
          k = k - 1
          
          var ph = $(table).height();
          
          // var gpp = $(rowgp).height();
          // $('#gp1').css('height',330);
          
          if (ph<650)
          {
          var nht = 650-ph;
          // var rows = newTable2.getElementsByTagName('tr');
          // var lastrow = rows[rows.length - 1];
          rowH = $("tr:last", table).height()
          $("tr:last", table).css('height',rowH+nht);
          // alert(table+', '+ph+', '+nht+', '+$(table).height())
          }
          
        }
      }
      else{

        var ph = $("#invoicee").height();
            if (ph<800){
              var nht = 800-ph;
              // rowH = $("tr:last", "#newTable1").height()
          $("tr:last", "#newTable1").css('height',nht);
          if ((nht-35)>0){$('#gp2').css('margin-top',nht-35); $('#gp3').css('margin-top',nht-35);}
        }


      }


    // content auto adjust to full page 
    // var ph = $("#invoicee").height();
    //     if (ph<800){var nht = 800-ph; 
    //   $('#gp1').css('height',nht);
    //   if ((nht-35)>0){$('#gp2').css('margin-top',nht-35); $('#gp3').css('margin-top',nht-35);}
    // }
    
      
      if ('{{msg}}' != 'msg' ) {
      $('.widget-content .message', function () {
        swal({
            title: 'Return Message !',
            text: '{{msg}}',
            padding: '2em',
            allowOutsideClick: false,
            // type:'warning',
            confirmButtonText: 'OK',
          }).then((result) => {
  if (result.value) {location.href='/{{firm}}/{{pdata.pj}}/invoice/edit/'+{{inv.id}}+'/'+{{inv.Order.id}}+'/'+'itemid/msg/';}})
      }) };

      if ('{{fnc}}' == 'create') {location.href='/{{firm}}/{{pdata.pj}}/invoice/edit/'+{{inv.id}}+'/'+{{inv.Order.id}}+'/'+'itemid/msg/'};
     if ('{{item_id}}' != 'itemid') {
      document.getElementById('itemidclick').click(); 
      document.getElementById("itemaction").action = '/{{firm}}/{{pdata.pj}}/edit/invoiceitem/'+{{inv.id}}+'/'+{{item_id}}+'/';}
    }
  </script>

  <script type="text/javascript">
    window.history.forward();
    function noBack()
    {
        window.history.forward();
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  
  <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/sweetalert2.min.js' %}"></script>

  <script type="text/javascript">
   
  </script>

  </body>
</html>