<!DOCTYPE html>
{% load static %}
{% load humanize %}
{% load mathfilters %}


<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>GPR-PRoMan</title>
    
    <link rel="stylesheet" href="{% static 'css/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/invoice1.css' %}">

  </head>
  <body>
    <br><br>
    <!-- <button onclick="Convert_HTML_To_PDF();">Convert HTML to PDF</button> -->
    <button type="button"  onclick="location.href='/{{pdata.pj}}/purchaseslist/Inprogress/'" class="btn2 btn2-info">PO's List</button>
      <button type="button"  id="btnTest" onclick="href='javascript:generatePDF()'" class="btn2 btn2-primary">Download</button>
    {% if po.Lock_Status == 1 %}
      <button type="button" ht='unlock it for edit/change the po' id='hidelockbutton' data-toggle="modal" data-target="#unlockPasswordModal" onclick="javascript:fnc('unlockpo')" class="btn2 btn2-danger">Unlock PO</button>
    {% else %}
      <button type="button" ht='by click this confirm po and lock edit options' data-toggle="modal" data-target="#editPOModal" onclick="javascript:fnc('lockpo')" class="btn2 btn2-danger">Confirm PO</button>
      
      <button type="button" ht='Delete this Draft po' data-toggle="modal" data-target="#deletepoModal" class="btn2 btn2-dark">Delete</button>
      <button style="float: right;border:none; background:none; color: blue; font-size:16px; font-weight:600;">Draft Copy</h5></button>
      
      <div class="modal fade text-left" id="deletepoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="modal-reload">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Security Password Before Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control"  placeholder="Acctivity Password" ><br/>
                  <input type="button" class="btn2 btn2-primary" value="Submit"  onclick="javascript:deletepo('sse123')" />
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    
    <br><br>
    <script>var hide1=1; var hide2=1; var hide3=1;</script>

    <div id="po" class="print">
      <img  class="invlogo" style="position: absolute; width:100px; height: 100px; margin-left: 25px;" src="{% static 'img/logo-mini.png' %}">
      <div class="row d-flex justify-content-center text-center" style="font-size:13px; font-weight: 600; color:black;">
        <a class="ahr" ht="Change PO-From-Address" data-toggle="modal" data-target="#editPOModal" onclick="javascript:fnc('companyaddress')">
        <span style="font-size:25px; font-weight: 600; color: #db1309">{{po.PO_From.Company_Name}}</span>
        
        <div style="margin-top:-18px;">{% if po.PO_From.Address_Line_1 %}<br>{{po.PO_From.Address_Line_1}},{% endif %}</div>
        
        <div style="margin-top:-18px;">{% if po.PO_From.Address_Line_2 %}<br>{{po.PO_From.Address_Line_2}},{% endif %}{% if po.PO_From.Pin_Code %}-{{po.PO_From.Pin_Code}}{% endif %}</div>
        
         <div style="margin-top:0px;">{% if po.PO_From.GST_No %}GSTIN: {{po.PO_From.GST_No}}{% endif %}{% if po.PO_From.CIN_No %}, CIN: {{po.PO_From.CIN_No}}, {% endif %}</div>

        <div style="margin-top:0px;">State: {{po.PO_From.State}}, State Code: {{po.PO_From.State_Code}}</div>


        <div style="margin-top:0px;">Phone: {{po.PO_From.Phone_Number_1}} {% if po.PO_From.Email %}, Email: {{po.PO_From.Email}}{% endif %}</div> 

        <div style="font-size:18px; font-weight: 600; color:black">{% if po.Lock_Status == 0 %}PO Draft Copy&nbsp;{% else %}Purchase Order&nbsp;{% endif %}</div></a>
    </div>
      
      <div style="margin-top:10px"></div>

      <table class="t3">
        <tr>
          <!-- <th class="th1">PO Issued Billing Details</th> -->
          <th class="th1">Purchse Order Details</th>
        </tr>
        <tr>
          <th class="td1">
            <a class="ahr" ht="Edit PO Details" data-toggle="modal" data-target="#editPOModal" onclick="javascript:fnc('po_details')">
                <span class="sh1">PO No: </span>{{po.PO_No}}, <span class="sh1">PO Date: </span>{{po.PO_Date|date:'d M Y'}}
                {% if po.Delivery_Date %}<span class="sh1">, Delivery Date: </span>{{po.Delivery_Date}}{% endif %}
                {% if po.Packing_and_Forwarding %}<span class="sh1">, Packing & Forwarding: </span>{{po.Packing_and_Forwarding}}{% endif %}
                {% if po.Warranty and po.Warranty_In %}
                  <span class="sh1">, Waaranty: </span>{{po.Warranty}} {{po.Warranty_In}}{% if po.Warranty > 1 %}s{% endif %}
                {% endif %}
                
                {% if po.Payment_Term_1 or po.Payment_Term_2 %}
                  <br><span class="sh1">Payment Terms: </span>
                  {% if po.Payment_Term_1 %}{{po.Payment_Term_1}}{% endif %}
                  {% if po.Payment_Term_2 %}, {{po.Payment_Term_2}}{% endif %}
                {% endif %}
              </a>
          </th>
        </tr>
      </table>

      <div style="margin-top:10px"></div>

      <table class="t3">
        <tr>
          <th class="th1">Vendor Details</th>
          <th class="th1">Bill To & Shipping Address</th>
        </tr>
        <tr>
          <th class="td1">
            <a class="ahr" ht="Change Billing Address" data-toggle="modal" data-target="#editPOModal" onclick="javascript:fnc('vendoraddress')">
              <span class="sh1">M/s. {{po.Vendor.Supplier_Name}}</span>
              {% if po.Vendor.Address_Line_1 %}<br>{{po.Vendor.Address_Line_1}},{% endif %}
              {% if po.Vendor.Address_Line_2 %}<br>{{po.Vendor.Address_Line_2}},{% endif %}
              <br><span class="sh1">State &nbsp; : </span>{{po.Vendor.State}}{% if po.Vendor.State_Code %}, <span class="sh1">Code: </span>{{po.Vendor.State_Code}}{% endif %}{% if po.Vendor.GST_No %}<br><span class="sh1">GSTIN : </span>{{po.Vendor.GST_No}}{% endif %}
              {% if po.Vendor_Contact %}
                <br><span class="sh1">Contact Person: </span>{{po.Vendor_Contact.Contact_Person}}
                <span class="sh1">, Cell: </span>{{po.Vendor_Contact.Phone_Number_1}}
                <!-- {% if po.Vendor_Contact.Email %}<span class="sh1">, Email: </span>{{po.Contact.Email}}.{% endif %} -->
              {% endif %}
            </a>
          </th>
          <th class="td1">
            <a class="ahr" ht="Change Delivery Address" data-toggle="modal" data-target="#editPOModal" onclick="javascript:fnc('shippingaddress')">
              <span class="sh1">M/s. {{po.Shipping_To.Company_Name}}</span>
              {% if po.Shipping_To.Address_Line_1 %}<br>{{po.Shipping_To.Address_Line_1}},{% endif %}
              {% if po.Shipping_To.Address_Line_2 %}<br>{{po.Shipping_To.Address_Line_2}},{% endif %}
              <br><span class="sh1">State &nbsp; : </span>{{po.Shipping_To.State}}{% if po.Shipping_To.State_Code %}, <span class="sh1">Code: </span>{{po.Shipping_To.State_Code}}{% endif %}
              {% if po.Shipping_To.GST_No %}<br><span class="sh1">GSTIN : </span>{{po.Shipping_To.GST_No}}{% endif %}
              {% if po.Contact %}
                <br><span class="sh1">Contact Person: </span>{{po.Contact.Nick_Name}}
                <span class="sh1">, Cell: </span>{{po.Contact.Phone_Number}}
                <!-- {% if po.Contact.Email %}<span class="sh1">, Email: </span>{{po.Contact.Email}}.{% endif %} -->
              {% endif %}
            </a>
          </th>
        </tr>
      </table>

      <div style="margin-top:10px"></div>

      {% if itm %}
        <table class="t3" style="font-size:11px">
          <tr>
            <th class="th2" style="width:5%">SNo</th>
            <th class="th2" >Description of Goods</th>
            <th class="th2" style="width:7%">HSN</th>
            <th class="th2" style="width:7.5%">Quantity</th>
            <th class="th2" style="width:9%">Rate</th>
            <th class="th2" style="width:9%">Amount</th>
            {% if po.Billing_To.State == po.Billing_From.State %}
              <th class="th2" style="width:8%">CGST</th>
              <th class="th2" style="width:8%">SGST</th>
            {% else %}
              <th class="th2" style="width:9%">IGST</th>
            {% endif %}
            <th class="th2" style="text-align:right; width:12%">Total Amount</th>
          </tr>
          {% for x, a, b, c in itm %}
            <tr>
              <th class="td2" {%  if forloop.last %}id="gp1" style="height:0px;"{% endif %}>{{forloop.counter}}</th>
              <th class="td2" style="font-weight:600"><a class="ahr" ht="Edit/Delete Item Details" data-toggle="modal" data-target="#itemEditButtons" onclick="javascript:edititem({{x.id}})">{{x.Item_Description}}</a></th>
              <th class="td2">{{x.HSN_Code}}</th>
              <th class="td2">{% if x.UOM == 'Kg' or x.UOM == 'Mtr' or x.UOM == 'Ltr' %}{{x.Quantity|floatformat:2}}{% else %}{{x.Quantity|floatformat:0}}{% endif %}
                <br><span style="font-weight:600; font-style:italic;">{{x.UOM}}{% if x.Quantity > 1 %}s{% endif %}</span></th>
              <th class="td2">{{x.Unit_Price|floatformat:'0'}}</th>
              <th class="td2">{{a|floatformat:'0'}}</th>
              {% if po.Billing_To.State == po.Billing_From.State %}
                <th class="td2">{{b|div:2|floatformat:'0'}}<br><span style="font-style:italic">{{x.GST|div:2|floatformat:'1'}}%</span></th>
                <th class="td2">{{b|div:2|floatformat:'0'}}<br><span style="font-style:italic">{{x.GST|div:2|floatformat:'1'}}%</span></th>
              {% else %}
                <th class="td2">{{b|floatformat:'0'}}<br><span style="font-style:italic">{{x.GST|floatformat:'1'}}%</span></th>
              {% endif %}
              <th class="td2" style="font-weight:bold;text-align:right;">{{c|floatformat:'0'|intcomma}}</th>
            </tr>
          {% endfor %}
        </table>
        {% if po.Lock_Status == 0 %}
          <button style="margin-top:5px" type="button" id='hideitembutton' data-toggle="modal" data-target="#addNewItemModal" onclick="javascript:fnc('addnewitem')" class="btn2 btn2-sm btn2-primary">+Add New Item</button>
          <script> var hide4=1;</script>
        {% endif %}
      {% endif %}  

        <table class="t3" style="float:right; width: 37.1%; font-size: 11px;">
          <tr>
            <th class="th1" style="text-align: right;">Total Amount Before Tax</th>
            <th class="td2" style="width:32.5%; text-align: right; font-weight: bold; ">{{ss.final_without_tax_amount|floatformat:'2'|intcomma}}</th>
          </tr>
          {% if po.Billing_To.State == po.Billing_From.State %}
            <tr>
              <th class="th1" style="text-align: right;">Add: CGST</th>
              <th class="td2" style="width:30%; text-align: right;">{{ss.final_gst|div:2|floatformat:'2'|intcomma}}</th>
            </tr>
            <tr>
              <th class="th1" style="text-align: right;">Add: SGST</th>
              <th class="td2" style="width:30%; text-align: right;">{{ss.final_gst|div:2|floatformat:'2'|intcomma}}</th>
            </tr>
          {% else %}
            <tr>
              <th class="th1" style="text-align: right;">Add: IGST</th>
              <th class="td2" style="width:30%; text-align: right;">{{ss.final_gst|floatformat:'2'|intcomma}}</th>
            </tr>
          {% endif %}
          <tr>
            <th class="th1" style="text-align: right;">Total GST Amount</th>
            <th class="td2" style="width:30%; text-align: right; font-weight: bold;">{{ss.final_gst|floatformat:'2'|intcomma}}</th>
          </tr>
          <tr>
            <th class="th1" style="text-align: right; ">Total Amount After Tax</th>
            <th class="td2" style="width:30%; text-align: right; font-weight: bold;font-size: 12px;">₹ {{ss.final_with_tax_amount|floatformat:'0'|intcomma}}</th>
          </tr>
          <!-- <tr>
            <th colspan="2" class="td1" style="border:none; padding-top: 5px; font-style: italic; font-size:12.5px; width: 38%; font-weight: bold; text-align: right;">
              For M/s {{po.PO_From.Company_Name}}
              <br><div style="margin-top:70px; font-size:11.5px">Authorised Signatory</div>
            </th>
          </tr> -->
          <tr>
            <th colspan="2" class="td1" style="border:none; padding-top: 5px; font-style: italic; font-size:12.5px; width: 38%; font-weight: bold; text-align: right;">
              <div style="margin-top:10px; font-size:12.5px">**This is Computer Generated PO<br>Authorised Signaturory Do Not Required</div>
            </th>
          </tr>
        </table>

        <div style="text-transform: capitalize; margin-top: 10px; margin-bottom: 18px; color:black; font-size:12px; font-style: italic; font-weight:normal"><span style="font-weight:bold; font-style: normal;">Total PO Amount in Words<br></span>{{amount_in_words}} Rupees Only</div>
        
        

        {% if tc %}
          <table class="t3" style="width:59%; float:left; margin-bottom: 5px;">
            <tr>
              <th class="th1">General Terms and Conditions</th>
            </tr>
            <tr>
              <th class="td1">
                <a class="ahr" ht="Edit Terms and Conditions" data-toggle="modal" data-target="#editTCModal" onclick="javascript:edittc({{tc.id}})">
                  {% if tc.Terms_and_Condition1 %}1. {{tc.Terms_and_Condition1}}{% endif %}
                  {% if tc.Terms_and_Condition2 %}<br>2. {{tc.Terms_and_Condition2}}{% endif %}
                  {% if tc.Terms_and_Condition3 %}<br>3. {{tc.Terms_and_Condition3}}{% endif %}
                  {% if tc.Terms_and_Condition4 %}<br>4. {{tc.Terms_and_Condition4}}{% endif %}
                  {% if tc.Terms_and_Condition5 %}<br>5. {{tc.Terms_and_Condition5}}{% endif %}
                  {% if tc.Terms_and_Condition6 %}<br>6. {tc.Terms_and_Condition6}}{% endif %}
                  {% if tc.Terms_and_Condition7 %}<br>7. {{tc.Terms_and_Condition7}}{% endif %}
                  {% if tc.Terms_and_Condition8 %}<br>8. {{tc.Terms_and_Condition8}}{% endif %}
                </a>
              </th>
            </tr>
          </table>
          <script>var hide2=0;</script>
        {% else %}
          {% if po.Lock_Status == 0 %}<button type="button" id='hideaddtcbutton' data-toggle="modal" data-target="#TCModal" onclick="javascript:fnc('addtc')" class="btn1 btn1-sm btn1-info">+Add Terms and Conditions</button> {% endif %}
        {% endif %}

      
      

      <div id="nextpage1"></div>
    </div>

    {% if po.Lock_Status == 1 %}
    <style type="text/css">a:hover {cursor:pointer; pointer-events: none; }</style>
    {% endif %}

  
<!-- PO Addresses and Details Update Popups - Buttons and Forms -->
  <div class="modal fade text-left" id="editPOModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">PO Details Update Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='po_edit_action' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group">

                <div style="display:none;" id="pofrom"><label for="{{ field.label }}">{{ form_po.PO_From.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.PO_From }}</div>

                <div style="display:none;" id="podetails">
                  <label for="{{ field.label }}">{{ form_po.PO_No.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.PO_No }}
                  <!-- <label for="{{ field.label }}">choose PO No format ff want to change default format as above{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.PO_No_Format }} -->
                   <label for="{{ field.label }}">{{ form_po.PO_Date.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.PO_Date }}
                   <!-- <label>Ref Contact Person</label>{{ form_po.Contact }} -->
                   <label for="{{ field.label }}">{{ form_po.Delivery_Date.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Delivery_Date }}
                   <label for="{{ field.label }}">{{ form_po.Warranty_In.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Warranty_In }}
                   <label for="{{ field.label }}">{{ form_po.Warranty.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Warranty }}
                   <label for="{{ field.label }}">{{ form_po.Payment_Term_1.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Payment_Term_1 }}
                   <label for="{{ field.label }}">{{ form_po.Payment_Term_2.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Payment_Term_2 }}
                   <label for="{{ field.label }}">{{ form_po.Packing_and_Forwarding.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Packing_and_Forwarding }}   
                   <label for="{{ field.label }}">Overal Purchase Short Description{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Purchase_Details }}
                   <label for="{{ field.label }}">specify if PO related to any specifc received work order{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Order }}
                </div>

                <div style="display:none;" id='shippingto'>
                  <label for="{{ field.label }}">Material Delivery Address{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Shipping_To }}
                  <label>Ref Contact Person</label>{{ form_po.Contact }}
                </div>

                <div style="display:none;" id='vendor_address'>
                  <label for="{{ field.label }}">Vendor Details{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Vendor }}
                  <label for="{{ field.label }}">Vendor Conatct Details{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_po.Vendor_Contact}}
                </div>

                <div class="form-check"  style="display:none; " id='lock_po'>
                  <label class="form-check-label">{{ form_po.Lock_Status }}</label><br><span style="font-size:17px;">Are You Sure !<br>Once You Lock It You Can't Modify/Edit PO Without Unlock Password<br>Tick Above Box and Submit to Lock the PO</span>
                </div>

              </div>
              <button type="submit" class="btn btn-primary">Submit</button>    
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->

<!-- PO Unlock Forms and Password Popup-->
  <form class="forms-sample" action="" id='unlockpoaction' method="POST" enctype="multipart/form-data" style="display: none;">
    <div class="form-group mb-4">
      {% csrf_token %}
      <div class="form-group newheight">
        {% for field in form_po %}
          {% if field.label != 'Lock Status' %}
            <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
          {% endif %}           
          {% if field.label == 'Lock Status' %}
            <input  type="checkbox" name="Lock_Status" value="0" >
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red; margin-top: -20px">{{ error }}</p>
          {% endfor %}
        {% endfor %}
      </div>
   </div>
  <button type="submit" class="btn btn-primary" id='unlocksubmit'>Submit</button>    
  </form>

  <div class="modal fade text-left" id="unlockPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Security Password to Unlock PO to Edit Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="unlockpassword"><br/>
              <input type="button" class="btn2 btn2-primary" value="Submit"  onclick="javascript:validatepoepswd('sse123')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->

<!-- Terms and Conditions Add, Update or Delete Popups - Buttons and Forms -->
  <div class="modal fade text-left" id="editTCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button" data-toggle="modal" data-target="#TCModal" class="btn btn-sm btn-primary mb-2">Edit T&C</button>
            <button type="button"  onclick="location.href='/{{pdata.pj}}/delete/po_tc/'+{{po.id}}+'/'" class="btn btn-sm btn-danger mb-2">Delete T&C</button>            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Terms and Conditions Add, Update or Delete Form -->
  <div class="modal fade text-left" id="TCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Update Terms and Condition Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='tcaction' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group newheight">
                {% for field in form_tc %}
                  {% if field.label != 'Additional Note' %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
           </div>
          <button type="submit" class="btn btn-primary">Submit</button>    
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->
  
<!-- Items Add, Update or Delete Popups - Buttons and Forms -->
  <!-- when click this modal on item description, it will open below two buttons. when you click update item, it will take this id, and return same page with id instaed of 'itemid'. below itemclick button auto activate modal01(item form with edit data) when load page  -->
  <div class="modal fade text-left" id="itemEditButtons" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button" onclick="location.href='/{{pdata.pj}}/po/edit/'+{{po.id}}+'/'+getid+'/msg/'" class="btn btn-sm btn-primary mb-2">Update Item</button>
            <button type="button"  onclick="location.href='/{{pdata.pj}}/delete/poitem/'+{{po.id}}+'/'+getid+'/'" class="btn btn-sm btn-danger mb-2">Delete Item</button>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" style="display:none" data-toggle="modal" data-target="#addNewItemModal" data-backdrop='static' data-keyboard='false' id='itemidclick' class="btn btn-sm btn-primary mb-2">Update Item</button>

  <!-- Add/Edit Items Form -->
  <div class="modal fade text-left" id="addNewItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Item Update Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.href='/{{pdata.pj}}/po/edit/'+{{po.id}}+'/'+'itemid/msg/'">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='itemaction' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group newheight">
                {% for field in form_item %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>
                    {% if field.label != 'Quantity' %}
                      <a title="add new item to products (after add new product add price details also" target="_blank" href="/{{pdata.pj}}/addproduct/create/1/"><i class="fas fa-square-plus float-right" style="color:purple; padding-bottom:-20px;"></i></a>
                    {% endif %}
                    {{ field}}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
           </div>
          <button type="submit" class="btn btn-primary" >Submit</button>    
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->


  <script type="text/javascript">  
    function fnc(tag) {
      document.getElementById("po_edit_action").action = '/{{pdata.pj}}/po_edit/edit/'+{{po.id}}+'/';

      if ( tag == 'companyaddress' ) {document.getElementById("pofrom").style.display = 'block';}
      else {document.getElementById("pofrom").style.display = 'none';};

      if ( tag == 'po_details' ) {document.getElementById("podetails").style.display = 'block';}      
        else {document.getElementById("podetails").style.display = 'none';};

      if ( tag == 'vendoraddress' ) {document.getElementById("vendor_address").style.display = 'block';}      
        else {document.getElementById("vendor_address").style.display = 'none';};

      if ( tag == 'shippingaddress' ) {document.getElementById("shippingto").style.display = 'block';}      
        else {document.getElementById("shippingto").style.display = 'none';};

        if ( tag == 'lockpo' ) { document.getElementById("lock_po").style.display = 'block'; var lock=1;}     
        else {document.getElementById("lock_po").style.display = 'none';};  

      // if ( tag == 'tc' ) {document.getElementById('tc').style.display = 'block';}
      // else {document.getElementById("tc").style.display = 'none';};
      
      if ( tag == 'addnewitem' ) {document.getElementById("itemaction").action = '/{{pdata.pj}}/create/poitem/'+{{po.id}}+'/'+tag+'/';}

      if ( tag == 'addtc' ) {document.getElementById("tcaction").action = '/{{pdata.pj}}/create/po_tc/'+{{po.id}}+'/';}
    }

      function edittc(id){
        getid = id;
        document.getElementById("tcaction").action = '/{{pdata.pj}}/edit/po_tc/'+{{po.id}}+'/';}

      function edititem(id) {getid = id;}

      function validatepoepswd(pswd) { 
        if ( pswd == 'sse123') {
          document.getElementById("unlockpoaction").action = '/{{pdata.pj}}/po_edit/edit/'+{{po.id}}+'/';
          document.getElementById("unlocksubmit").click();}
        else { alert('Password did not matched. Please Try Again')}
        }
      function deletepo(tag){
        if (tag=='sse123') {location.href='/{{pdata.pj}}/po_edit/delete/'+{{po.id}}+'/' }
          else { alert('Password did not matched. Please Try Again')}
      }

  </script>

  <script>
    function test() {
      if ('{{po.Lock_Status}}' == 'False') {
      if(hide2!=0){document.getElementById("hideaddtcbutton").style.display = 'none';}
      if(hide4!=0){document.getElementById("hideitembutton").style.display = 'none';}
    };

      var element = document.getElementById('po');
      html2pdf().from(element).set({
      margin:       [10, 15, 15, 5],
       // margin:       [t, l, b, r],
        // margin:       [10, 10, 20, 10],
        filename: '{{po.PO_No}}',
        html2canvas: { dpi: 0, letterRendering: true, scale:5},
        image: { type: 'jpeg', quality: 0.25},
       pageBreak: { mode: 'css', before:'#nextpage1'},
        jsPDF: {unit: 'mm', format: [275, 210]}
      }).toPdf().get('pdf').then(function (pdf) {
        var totalPages = pdf.internal.getNumberOfPages();

        for (i = 1; i <= totalPages; i++) {
         pdf.setPage(i);
          pdf.setFontSize(9);
          pdf.setTextColor(150);
          if ( totalPages > 1){
          pdf.text(i + ' of ' + totalPages, (pdf.internal.pageSize.getWidth()/1.07), (pdf.internal.pageSize.getHeight()-5));}

          }}).save();
        
        setTimeout(func, 1000);
        function func() {location.href='/{{pdata.pj}}/po/edit/'+{{po.id}}+'/itemid/msg/'}
    }
    document.getElementById('btnTest').onclick = test;
  </script>

  <script type="text/javascript">
    window.onload = function () {

      var ph = $("#po").height();
        if (ph<760){var nht = 760-ph;
      $('#gp1').css('height',nht);
    }
      
      if ('{{msg}}' != 'msg' ) {
      $('.widget-content .message', function () {
        swal({
            title: 'Return Message !',
            text: '{{msg}}',
            padding: '2em',
            allowOutsideClick: false,
            // type:'warning',
            confirmButtonText: 'OK',
          }).then((result) => {
  if (result.value) {location.href='/{{pdata.pj}}/po/edit/'+{{po.id}}+'/itemid/msg/';}})
      }) };

      if ('{{fnc}}' == 'create') {location.href='/{{pdata.pj}}/po/edit/'+{{po.id}}+'/itemid/msg/'};
     if ('{{item_id}}' != 'itemid') {
      document.getElementById('itemidclick').click(); 
      document.getElementById("itemaction").action = '/{{pdata.pj}}/edit/poitem/'+{{po.id}}+'/'+{{item_id}}+'/';}
    }
  </script>

  <script type="text/javascript">
    window.history.forward();
    function noBack()
    {
        window.history.forward();
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  
  <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/sweetalert2.min.js' %}"></script>

  <script type="text/javascript">
   
  </script>

  </body>
</html>