<!DOCTYPE html>
{% load static %}
{% load humanize %}
{% load mathfilters %}


<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>WENTO</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo-mini1.png' %}"/>
    
    <link rel="stylesheet" href="{% static 'css/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/invoice1.css' %}">

    <style type="text/css">
      .tclass1 {color: black; font-weight: 600; font-size: 12.5px;}
      .tar {text-align: right;}
    </style>

  </head>
  <body>
    <br><br>
    <!-- <button onclick="Convert_HTML_To_PDF();">Convert HTML to PDF</button> -->
    <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/quotationslist/all/'" class="btn2 btn2-info">Quotes List</button>
      <button type="button"  id="btnTest" onclick="href='javascript:generatePDF()'" class="btn2 btn2-primary">Download</button>
    {% if qt.Lock_Status == 1 %}
      <button type="button" ht='unlock it for edit/change the quote' id='hidelockbutton' data-toggle="modal" data-target="#unlockPasswordModal" onclick="javascript:fnc('unlockqt')" class="btn2 btn2-danger">Unlock Quote</button>
    {% else %}
      <button type="button" ht='by click this confirm quote and lock edit options' data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('lockqt')" class="btn2 btn2-danger">Confirm Quote</button>
      
      <button type="button" ht='Delete this Draft Quote' data-toggle="modal" data-target="#deletepoModal" class="btn2 btn2-dark">Delete</button>
      <button style="float: right;border:none; background:none; color: blue; font-size:16px; font-weight:600;">Draft Copy</h5></button>
      
      <div class="modal fade text-left" id="deletepoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="modal-reload">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Security Password Before Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control"  placeholder="Acctivity Password" ><br/>
                  <input type="button" class="btn2 btn2-primary" value="Submit"  onclick="javascript:deletepo('sse123')" />
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    
    <br><br>
    <script>var hide1=1; var hide2=1; var hide3=1;</script>

    <div id="po" class="print">
      
      <img  class="invlogo" style="position: absolute; width:100px; height: 100px; margin-left: 25px;" src="{% static 'img/logo-name.png' %}">
      <div class="row d-flex justify-content-center text-center">
      <a class="ahr" ht="Change QuoteFrom Details" data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('companyaddress')">
        <span style="font-size:25px; font-weight: 600; color: #db1309">{{qt.Quote_From.Company_Name}}</span>
        
        <div style="margin-top:-2px;"></div>
        <span style="font-size:12px; font-weight: 600; color:black;">{{qt.Quote_From.Address_Line_1}}</span>
        
        <div style="margin-top:-2px;"></div>
        <span style="font-size:12px; font-weight: 600; color:black">{{qt.Quote_From.Address_Line_2}}{% if qt.Quote_From.Pin_Code %}-{{qt.Quote_From.Pin_Code}}{% endif %}</span>
        
        <div style="margin-top:-2px;"></div>
        <span style="font-size:12px; font-weight: 600; color:black">
         {% if qt.Quote_From.GST_No %}GSTIN: {{qt.Quote_From.GST_No}}{% endif %}{% if qt.Quote_From.CIN_No %}, CIN: {{qt.Quote_From.CIN_No}}, {% endif %}
        </span>

        <div style="margin-top:-2px;"></div>
        <span style="font-size:12px; font-weight: 600; color:black">State: {{qt.Quote_From.State}}, State Code: {{qt.Quote_From.State_Code}}</span>


        <div style="margin-top:-2px;"></div>
        <span style="font-size:12px; font-weight: 600; color:black">
         Phone: {{qt.Quote_From.Phone_Number_1}} {% if qt.Quote_From.Email %}, Email: {{qt.Quote_From.Email}}{% endif %}
        </span> 

        <div style="margin-top:0px;"></div>
        <span style="font-size:18px; font-weight: 600; color:black">{% if qt.Lock_Status == 0 %}Quotation Draft Copy&nbsp;
        {% else %}Quotation&nbsp;{% endif %}</span>
      </div></a>
      
      <div style="margin-top:10px"></div>

      <!-- <table class="t3 tclass1">
        <tr>
          <th><a class="ahr" ht="edit/update" data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('customeraddress')">Quotation No: </a></th>
          <th class="tar">Date: </th>
        </tr>
      </table> -->

      <div style="margin-top:10px"></div>

      <table  style="width:55%; font-size: 12px; float: left;">
        <tr>
          <th class="tb0" style="font-size:13px;"><a class="ahr" ht="edit" data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('quoteto1')">To,</a></th>
        </tr>
        <tr>
          <!-- <th class="tb0" style="font-weight:500;">
            <a class="ahr" ht="edit" data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('quoteto')">
              {% if qt.Quote_To %}
                <span class="sh1" style="font-weight:bold">M/s. {{qt.Quote_To.Contact_Person}}</span>
                <br>{{qt.Quote_To.Customer_Name.Customer_Name}}
                <br>{{qt.Quote_To.Phone_Number_1}}
                {% if qt.Quote_To.Email %}<br>Email: {{qt.Quote_To.Email}}{% endif %}
            </a>
              {% else %}
                <a class="ahr" ht="edit" data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('quoteto1')">
                  {% if qt.Reference_Person %}<span class="sh1" style="font-weight:bold">M/s. {{qt.Reference_Person}}</span>{% endif %}
                  {% if qt.Firm_Name %}<br>{{qt.Firm_Name}}{% endif %}
                  {% if qt.Phone_Number %}<br>{{qt.Phone_Number}}{% endif %}
                  {% if qt.Location %}<br>{{qt.Location}}{% endif %}
                  {% if qt.Email %}<br>Email: {{qt.Email}}{% endif %}
                {% endif %}
              </a>
          </th> -->
          <th class="tb0" style="font-weight:500;">
            <a class="ahr" ht="edit" data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('quoteto1')">
              {% if qt.Reference_Person %}<span class="sh1" style="font-weight:bold">M/s. {{qt.Reference_Person}}</span>{% endif %}
              {% if qt.Firm_Name %}<br> {{qt.Firm_Name}}{% endif %}
              {% if qt.Phone_Number %}<br>{{qt.Phone_Number}}{% endif %}
              {% if qt.Location %}<br>{{qt.Location}}{% endif %}
              {% if qt.Email %}<br>Email: {{qt.Email}}{% endif %}
            </a>
          </th>
        </tr>
      </table>

      <a class="ahr" ht="Change Quote No and Date" data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('qt_details')">
      <table  style="width:35%; font-size: 12px; float: right;">
        <tr>
          <th class="th1" style="text-align: left; ">Quotation No</th>
          <th class="th1" style="text-align: right; width: 40%; ">Date</th>
        </tr>
        <tr>
          
          <td class="td2" style="text-align: left; font-weight: 600;">{{qt.Quote_No}}</a></td>
          <td class="td2" style="text-align: right; font-weight: 600;">{{qt.Date|date:'d-M-Y'}}</td> 
        </tr>
      </table></a>


      {% if qt.Subject %}
      <div style="margin-top:100px;"></div>

        <table class="t3 tclass1" style="width:100%; float: right;  font-size:12px; font-style: italic;">
          <tr>
            <th><a class="ahr" ht="Edit Subject" data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('subject')">Subject: <span style="font-weight: 600;background:yellow">{{qt.Subject}}</span></a><div style="margin-top:10px"></div></th>
          </tr>
        </table>
      {% else %}
      {% if qt.Lock_Status == 0 %}
      <div style="margin-top:65px;"></div>
      <table class="t3 tclass1" style="width:100%; float: right;  font-size:12px; font-style: italic;">
        <tr>
          <th><button type="button" id='hideaddsubjectbutton' data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('subject')" class="btn1 btn1-sm btn1-danger">+Add Subject</button><div style="margin-bottom:10px">{% endif %}</th>
        </tr>
      </table>

      {% endif %}

      {% if qt.Subject %}<div style="margin-top:135px"></div>{% else %}<div style="margin-top:120px">{% endif %}

      {% if itm %}
        <table class="t3" style="font-size:11.5px">
          <tr>
            <th class="td11 font-weight-bold" style="width:5%">SNo</th>
            <th class="td1 font-weight-bold" style="text-align: center;">Description of Goods</th>
            <th class="td1 font-weight-bold" style="width:9%; text-align: center;">HSN/SAC</th>
            <!-- <th class="td1 font-weight-bold" style="width:10%; text-align: center;">Ref. PO No</th> -->
            <th class="td11 font-weight-bold" style="width:7%; text-align: center;">QTY</th>
            <th class="td11 font-weight-bold" style="width:5%; text-align: center;">UOM</th>
            <th class="td11 font-weight-bold" style="width:9%; text-align: center;">Rate</th>
            <th class="td11 font-weight-bold" style="width:10%; text-align: center;">Amount</th>
            {% if refpo == 1 %}
              <th class="td11 font-weight-bold" style="width:10%; text-align: center;">Remarks</th>
            {% endif %}
          </tr>
          {% for x, a in itm %}
            <tr {%  if forloop.last %}id="gp1" style="height:0px;"{% endif %}>
              <td class="td33" style="text-align:center;">{{forloop.counter}}</td>
              <td class="td33 mb-4" style="font-weight:600; text-align:left">
                <a class="ahr" ht="Edit/Delete Item Details" data-toggle="modal" data-target="#itemEditButtons" onclick="javascript:edititem({{x.id}})">{% if x.Item_Code == '0' or x.Item_Code == None %}{% else %}<span>{{x.Item_Code}} </span>{% endif %}{{x.Item_Description}}</a>
               <!--  {%  if forloop.last %}{% if roundoff != 0 %}<span id="gp2" style="float:right; margin-top:5px"><br>Rounding Off</span>{% endif %}{% endif %} -->
              </td>
              <td class="td33" style="font-weight:600;">{% if x.HSN_Code %}{{x.HSN_Code}}{% endif %}</td>
              <!-- <td class="td33" style="font-weight:600;">{% if x.Ref_PO %}{{x.Ref_PO}}{% endif %}</td> -->
              <td class="td33" style="font-weight:600;">{% if x.UOM == 'Kg' or x.UOM == 'Mtr' or x.UOM == 'Ltr' %}{{x.Quantity|floatformat:1}}{% else %}{{x.Quantity|floatformat:0}}{% endif %}</td>
                <td class="td33" style="font-weight:600;"><span style="font-weight:600; font-style:italic;">{{x.UOM}}{% if x.Quantity > 1 %}s{% endif %}</span></td>
              <td class="td33" style="font-weight:600;">{{x.Unit_Price|floatformat:'1'}}</td>
              <td class="td33" style="font-weight:600; text-align:right">{{a|floatformat:'1'}}</td>
              {% if refpo == 1 %}
                <td class="td33" style="font-weight:600; text-align:right">{{x.Ref_PO}}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
        {% if qt.Lock_Status == 0 %}
          <button style="margin-top:5px" type="button" id='hideitembutton' data-toggle="modal" data-target="#addNewItemModal" onclick="javascript:fnc('addnewitem')" class="btn2 btn2-sm btn2-primary">+Add Quote Item</button>

          <button style="margin-top:5px" type="button" id='hideitembutton1' data-toggle="modal" data-target="#uploadModal" onclick="javascript:fnc('addnewitem')" class="btn2 btn2-sm btn2-success">Uplaod From Excel File</button>
        
          <script> var hide4=1;</script>
        {% endif %}
      {% endif %}

      <table class="t3" style="float: right; width: 24.1%; font-size: 12px;">
        <tr>
          <th class="td1 font-weight-bold" style="text-align: right;">Total</th>
          <th class="td1" style="width:50%; text-align: right; font-weight: bold; ">{{qt.Quote_Value|floatformat:'0'|intcomma}}</th>
        </tr>

        <tr>
          <th colspan="2" class="td1" style="border:none; padding-top: 5px; font-style: italic; font-size:12.5px; width: 38%; font-weight: bold; text-align: right;">
            <div style="margin-top:10px; font-size:12.5px">**This is Computer Generated Quotation<br>Authorised Signaturory Do Not Required</div>
          </th>
        </tr>
      </table>

        <div style="margin-top:20px"></div>

        {% if tc %}
        
        <div style="color:black; font-size:13px; font-style: italic; font-weight:bold; margin-bottom: 5px;">General Terms and Conditions</div>
        
          <a class="ahr" ht="Edit Terms and Conditions" data-toggle="modal" data-target="#editTCModal" onclick="javascript:fnc('tcedit')">
          <table  style="width:75%; float: left; font-size:12px;">
            {% if tc.Taxes %}
              <tr>
                <th class="tb0" >Taxes</th>
                <th class="tb0" style="width: 90%; font-weight:500">: {{tc.Taxes}}</th>
              </tr>
            {% endif %}
            {% if tc.Payment_Terms %}
              <tr>
                <th class="tb0" >Payment</th>
                <th class="tb0" style="width: 60%; font-weight:500">: {{tc.Payment_Terms}}</th>
              </tr>
            {% endif %}

            {% if tc.Delivery_Terms %}
              <tr>
                <th class="tb0" >Delivery</th>
                <th class="tb0" style="width: 60%; font-weight:500">: {{tc.Delivery_Terms}}</th>
              </tr>
            {% endif %}

            {% if tc.Transport_Terms %}
              <tr>
                <th class="tb0" >Transport</th>
                <th class="tb0" style="width: 60%; font-weight:500">: {{tc.Transport_Terms}}</th>
              </tr>
            {% endif %}

            {% if tc.Validation_Terms %}
              <tr>
                <th class="tb0" >Validation</th>
                <th class="tb0" style="width: 60%; font-weight:500">: {{tc.Validation_Terms}}</th>
              </tr>
            {% endif %}

            {% if tc.FOR %}
              <tr>
                <th class="tb0" >Rates</th>
                <th class="tb0" style="width: 60%; font-weight:500">: {{tc.FOR}}</th>
              </tr>
            {% endif %}

            {% if tc.Other_Terms %}
              <tr>
                <th class="tb0" >Other Terms</th>
                <th class="tb0_1" style="width: 60%; font-weight:500">: {{tc.Other_Terms}}</th>
              </tr>
            {% endif %}
              
          </table></a>

        {% endif %}

        <table  style="width:100%; float:left;  padding:0px">
        <tr>
          <th class="td1" style="border:none;  text-align: left;">
            <div style=" margin-top: 10px;   color:black; font-size:13px; font-style: italic; font-weight:normal">
              {% if qt.Lock_Status == 0 and qt.Thanks_Note == '' or qt.Thanks_Note == None %}
                <button type="button"  data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('thanks')" class="btn1 btn1-sm btn1-warning">+Add Remarks</button><br><br>
              {% endif %}
              {% if qt.Thanks_Note %}
                <a class="ahr" ht="edit thanks note" data-toggle="modal" data-target="#editQuoteModal" onclick="javascript:fnc('thanks')"><span style="font-weight:600">Remarks: </span>{{qt.Thanks_Note}}</a>
                <br><br>
              {% endif %}
            
            Thanking you and assuring you of our best services at all times
            <br><br>
            <span style="font-style: normal; font-size:13px; font-weight:bold;">Yours Faithfully,</span>
            <br>
            <span style="font-style: normal; font-size:15px; font-weight:bold;">For {{qt.Quote_From.Company_Name}}</span>
          </div>
          </th>
        </tr>
      </table>
        
      <div id="nextpage1"></div>
    </div>

    {% if qt.Lock_Status == 1 %}
    <style type="text/css">a:hover {cursor:pointer; pointer-events: none; }</style>
    {% endif %}

  
<!-- PO Addresses and Details Update Popups - Buttons and Forms -->
  <div class="modal fade text-left" id="editQuoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Quote Details Update Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='qt_edit_action' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group">

                <div style="display:none;" id="qtfrom"><label>{{ form_qt.Quote_From.label }}</label>{{ form_qt.Quote_From }}</div>

                <div style="display:none;" id="qtdetails">
                  <label>{{ form_qt.Quote_No.label }}</label>{{ form_qt.Quote_No }}
                  <label>{{ form_qt.Date.label }}</label>{{ form_qt.Date }}
                </div>

                <div style="display:none;" id="sub">
                  <label>{{ form_qt.Subject.label }}</label>{{ form_qt.Subject }}
                </div>

                <div style="display:none;" id="thanknote">
                  <label>Remarks</label>{{ form_qt.Thanks_Note }}
                </div>

                <!-- <div style="display:none;" id='quote_to'>
                  <label>{{ form_qt.Quote_To.label }}</label>{{ form_qt.Quote_To }}
                </div>

                <div style="display:none;" id='quote_to1'>
                  <label>{{ form_qt.Reference_Person.label }}</label>{{ form_qt.Reference_Person }}
                  <label>{{ form_qt.Firm_Name.label }}</label>{{ form_qt.Firm_Name }}
                  <label>{{ form_qt.Phone_Number.label }}</label>{{ form_qt.Phone_Number }}
                  <label>{{ form_qt.Email.label }}</label>{{ form_qt.Email }}
                  <label>{{ form_qt.Location.label }}</label>{{ form_qt.Location }}
                </div> -->

                <div style="display:none;" id='quote_to1'>
                  <label>{{ form_qt.Reference_Person.label }}</label>{{ form_qt.Reference_Person }}
                  <label>Customer Name</label>{{ form_qt.Firm_Name }}
                  <label>{{ form_qt.Phone_Number.label }}</label>{{ form_qt.Phone_Number }}
                  <label>{{ form_qt.Email.label }}</label>{{ form_qt.Email }}
                  <label>{{ form_qt.Location.label }}</label>{{ form_qt.Location }}
                </div>

                <div style="display:none;" id='vendor_address'>
                  <label for="{{ field.label }}">Vendor Details{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_qt.Vendor }}
                  <label for="{{ field.label }}">Vendor Conatct Details{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ form_qt.Vendor_Contact}}
                </div>

                <div class="form-check"  style="display:none; " id='lock_qt'>
                  <label class="form-check-label">{{ form_qt.Lock_Status }}</label><br><span style="font-size:17px;">Are You Sure !<br>Once You Lock It You Can't Modify/Edit Quote Without Unlock Password<br>Tick Above Box and Submit to Lock the PO</span>
                </div>

              </div>
              <button type="submit" class="btn btn-primary">Submit</button>    
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->

<!-- PO Unlock Forms and Password Popup-->
  <form class="forms-sample" action="" id='unlockqtaction' method="POST" enctype="multipart/form-data" style="display: none;">
    <div class="form-group mb-4">
      {% csrf_token %}
      <div class="form-group newheight">
        {% for field in form_qt %}
          {% if field.label != 'Lock Status' %}
            <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
          {% endif %}           
          {% if field.label == 'Lock Status' %}
            <input  type="checkbox" name="Lock_Status" value="0" >
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red; margin-top: -20px">{{ error }}</p>
          {% endfor %}
        {% endfor %}
      </div>
   </div>
  <button type="submit" class="btn btn-primary" id='unlocksubmit'>Submit</button>    
  </form>

  <div class="modal fade text-left" id="unlockPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Enter Security Password to Unlock PO to Edit Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  placeholder="Acctivity Password" id="unlockpassword"><br/>
              <input type="button" class="btn2 btn2-primary" value="Submit"  onclick="javascript:validatepoepswd('sse123')" />
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->

<!-- Terms and Conditions Add, Update or Delete Popups - Buttons and Forms -->
  <!-- <div class="modal fade text-left" id="editTCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button" data-toggle="modal" data-target="#TCModal" class="btn btn-sm btn-primary mb-2">Edit T&C</button>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/delete/quote_tc/'+{{qt.id}}+'/'" class="btn btn-sm btn-danger mb-2">Delete T&C</button>            
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Terms and Conditions Add, Update or Delete Form -->
  <div class="modal fade text-left" id="editTCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Update Terms and Condition Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='tcaction' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group newheight">
                {% for field in form_tc %}
                  {% if field.label != 'Additional Note' %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
           </div>
          <button type="submit" class="btn btn-primary">Submit</button>    
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->
  
<!-- Items Add, Update or Delete Popups - Buttons and Forms -->
  <!-- when click this modal on item description, it will open below two buttons. when you click update item, it will take this id, and return same page with id instaed of 'itemid'. below itemclick button auto activate modal01(item form with edit data) when load page  -->
  <div class="modal fade text-left" id="itemEditButtons" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button" onclick="location.href='/{{firm}}/{{pdata.pj}}/genquote/edit/'+{{qt.id}}+'/'+getid+'/msg/'" class="btn btn-sm btn-primary mb-2">Update Item</button>
            <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/delete/quoteitem/'+{{qt.id}}+'/'+getid+'/'" class="btn btn-sm btn-danger mb-2">Delete Item</button>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" style="display:none" data-toggle="modal" data-target="#addNewItemModal" data-backdrop='static' data-keyboard='false' id='itemidclick' class="btn btn-sm btn-primary mb-2">Update Item</button>

  <!-- Add/Edit Items Form -->
  <div class="modal fade text-left" id="addNewItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Item Update Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.href='/{{firm}}/{{pdata.pj}}/genquote/edit/'+{{qt.id}}+'/'+'itemid/msg/'">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='itemaction' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group newheight">
                {% for field in form_item %}
                  {% if field.label != 'Ref PO' %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>
                    {% if field.label == 'Item Description' %}
                      <a title="add new item to products (after add new product add price details also" target="_blank" href="/{{firm}}/{{pdata.pj}}/productsform/Products/create/1/"><i class="fas fa-square-plus float-right" style="color:purple; padding-bottom:-20px;"></i></a>
                    {% endif %}
                    {{ field}}
                  {% endif %}
                  {% if field.label == 'Ref PO' %}
                    <label for="{{ field.label }}">Remarks/Ref. PO</label>{{ field}}
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
           </div>
          <button type="submit" class="btn btn-primary" >Submit</button>    
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->

  <div class="modal fade text-left" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Excel Sheet Uplaod Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.href='/{{firm}}/{{pdata.pj}}/genquote/edit/'+{{qt.id}}+'/'+'itemid/msg/'">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="/{{firm}}/{{pdata.pj}}/uploadquote/{{qt.id}}/" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}

                <div class="form-group">
                  {% for field in form_fileupload %}
                    {% if field.label ==  'Attach' %}
                      <label style="color:#32a852;"></label>{{field}} 
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red; margin-top: -20px">{{ error }}</p>
                    {% endfor %}
                  {% endfor %}  
                </div>
            </div>
          <button type="submit" class="btn btn-primary">Uplaod From Excel File</button>
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->


  <script type="text/javascript">  
    function fnc(tag) {
      document.getElementById("qt_edit_action").action = '/{{firm}}/{{pdata.pj}}/quote_edit/edit/'+{{qt.id}}+'/';

      if ( tag == 'companyaddress' ) {document.getElementById("qtfrom").style.display = 'block';}
      else {document.getElementById("qtfrom").style.display = 'none';};

      if ( tag == 'qt_details' ) {document.getElementById("qtdetails").style.display = 'block';}      
        else {document.getElementById("qtdetails").style.display = 'none';};

      if ( tag == 'customeraddress' ) {document.getElementById("vendor_address").style.display = 'block';}      
        else {document.getElementById("vendor_address").style.display = 'none';};

      if ( tag == 'subject' ) {document.getElementById("sub").style.display = 'block';}      
        else {document.getElementById("sub").style.display = 'none';};

        if ( tag == 'thanks' ) {document.getElementById("thanknote").style.display = 'block';}      
        else {document.getElementById("thanknote").style.display = 'none';};

        if ( tag == 'lockqt' ) { document.getElementById("lock_qt").style.display = 'block'; var lock=1;}     
        else {document.getElementById("lock_qt").style.display = 'none';};  

      // if ( tag == 'tc' ) {document.getElementById('tc').style.display = 'block';}
      // else {document.getElementById("tc").style.display = 'none';};
      
      if ( tag == 'addnewitem' ) {document.getElementById("itemaction").action = '/{{firm}}/{{pdata.pj}}/create/quoteitem/'+{{qt.id}}+'/'+tag+'/';}

      if ( tag == 'tcedit' ) {document.getElementById("tcaction").action = '/{{firm}}/{{pdata.pj}}/edit/quote_tc/'+{{qt.id}}+'/';}

      // if ( tag == 'quoteto' ) {document.getElementById("quote_to").style.display = 'block';}      
      //   else {document.getElementById("quote_to").style.display = 'none';};

         if ( tag == 'quoteto1' ) {document.getElementById("quote_to1").style.display = 'block';}      
        else {document.getElementById("quote_to1").style.display = 'none';};
    }

      function edittc(id){
        getid = id;
        document.getElementById("tcaction").action = '/{{firm}}/{{pdata.pj}}/edit/quote_tc/'+{{qt.id}}+'/';}

      function edititem(id) {getid = id;}

      function validatepoepswd(pswd) { 
        if ( pswd == 'sse123') {
          document.getElementById("unlockqtaction").action = '/{{firm}}/{{pdata.pj}}/quote_edit/edit/'+{{qt.id}}+'/';
          document.getElementById("unlocksubmit").click();}
        else { alert('Password did not matched. Please Try Again')}
        }
      function deletepo(tag){
        if (tag=='sse123') {location.href='/{{firm}}/{{pdata.pj}}/quote_edit/delete/'+{{qt.id}}+'/' }
          else { alert('Password did not matched. Please Try Again')}
      }

  </script>

  <script>
    function test() {
      if ('{{qt.Lock_Status}}' == 'False') {
      // if(hide2!=0){document.getElementById("hideaddtcbutton").style.display = 'none';}
      if(hide4!=0){document.getElementById("hideitembutton").style.display = 'none';}
    };

      var element = document.getElementById('po');
      html2pdf().from(element).set({
      margin:       [10, 15, 15, 5],
       // margin:       [t, l, b, r],
        // margin:       [10, 10, 20, 10],
        filename: '{{qt.Quote_No}}',
        html2canvas: { dpi: 0, letterRendering: true, scale:5},
        image: { type: 'jpeg', quality: 0.25},
       pageBreak: { mode: 'css', before:'#nextpage1'},
        jsPDF: {unit: 'mm', format: [275, 210]}
      }).toPdf().get('pdf').then(function (pdf) {
        var totalPages = pdf.internal.getNumberOfPages();

        for (i = 1; i <= totalPages; i++) {
         pdf.setPage(i);
          pdf.setFontSize(9);
          pdf.setTextColor(150);
          if ( totalPages > 1){
          pdf.text(i + ' of ' + totalPages, (pdf.internal.pageSize.getWidth()/1.07), (pdf.internal.pageSize.getHeight()-5));}

          }}).save();
        
        setTimeout(func, 1000);
        function func() {location.href='/{{firm}}/{{pdata.pj}}/genquote/edit/'+{{qt.id}}+'/itemid/msg/'}
    }
    document.getElementById('btnTest').onclick = test;
  </script>

  <script type="text/javascript">
    window.onload = function () {

      var ph = $("#po").height();
        if (ph<730){var nht = 730-ph;
          // alert(ph)
      $('#gp1').css('height',nht);
    }
      
      if ('{{msg}}' != 'msg' ) {
      $('.widget-content .message', function () {
        swal({
            title: 'Return Message !',
            text: '{{msg}}',
            padding: '2em',
            allowOutsideClick: false,
            // type:'warning',
            confirmButtonText: 'OK',
          }).then((result) => {
  if (result.value) {location.href='/{{firm}}/{{pdata.pj}}/genquote/edit/'+{{qt.id}}+'/itemid/msg/';}})
      }) };

      if ('{{fnc}}' == 'create') {location.href='/{{firm}}/{{pdata.pj}}/genquote/edit/'+{{qt.id}}+'/itemid/msg/'};
     if ('{{item_id}}' != 'itemid') {
      document.getElementById('itemidclick').click(); 
      document.getElementById("itemaction").action = '/{{firm}}/{{pdata.pj}}/edit/quoteitem/'+{{qt.id}}+'/'+{{item_id}}+'/';}
    }
  </script>

  <script type="text/javascript">
    window.history.forward();
    function noBack()
    {
        window.history.forward();
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  
  <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/sweetalert2.min.js' %}"></script>

  <script type="text/javascript">
   
  </script>

  </body>
</html>