{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %} 

{% block css %}
  <link rel="stylesheet" href="{% static 'css/filterdate.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_theme_1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dt-global_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/buttons.dataTables.min.css' %}">
{% endblock %}  

{% block scripts %} 
  <script src="{% static 'js/filterdate.js' %}"></script>
  <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS --> 
  <script src="{% static 'js/datatables/datatables.js' %}"></script>
  <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
  <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/datatables/jszip.min.js' %}"></script>    
  <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/tableexport.js' %}"></script>

<script type="text/javascript">

  function editpo(po_id, is_manual, is_nopo) {
    poid = po_id;
    
    if(is_manual == 'True' || is_nopo == 'True') {editurl = '/{{pdata.pj}}/purchasesform/edit_manually/'+poid+'/'; }
    else { editurl = '/{{pdata.pj}}/po/edit/'+poid+'/itemid/msg/'; }
  };

  function edit() {
    location.href= editurl
  }


  function rid(tid, can_gen_invoice, billed, ordervalue) {poid = tid;
    if (can_gen_invoice=='False' | ordervalue <= billed){
      document.getElementById('hidebillbutton').style.display='none';
      document.getElementById('showbillbutton').style.display='block';}
    else {
      document.getElementById('hidebillbutton').style.display='block';
      document.getElementById('showbillbutton').style.display='none';}
  };

  function hidedomore() {
    document.getElementById('selectvendorformaction').action = '/{{pdata.pj}}/po/create/1/itemid/msg/'
    $("#doMoreModal .close").click()
    // $('#doMoreModal').modal('hide');
}
  function hidepoedit() {
    document.getElementById('paymentformaction').action = '/{{pdata.pj}}/popaymentsform/'+poid+'/'
    $("#editPOModal .close").click()
  }

  function alertpopup(){
    // document.getElementById('exampleModal11').style.display = 'none';
    $('.widget-content .message', function () {
        swal({
            title: 'Error Alert !',
            text: 'Invoice generation not allowed due to all Invoices value under this order exceeding the order value',
            padding: '2em'
          })
      }) 
  }

  function validate1(p) {
    if(   document.getElementById("activitypswd1").value == "sse123" ){
        url = '/{{pdata.pj}}/purchasesform/delete/'+poid+'/'
        location.href=url;}
    else{alert( "Incorrect Activity Password, Please Try Again" );}}
</script>

<!-- Data Tables Export Script -->
<script src="{% static 'js/datatablesexport.js' %}"></script>
<script type="text/javascript">
  // Datatables Excel Formating Before Export//
  var customexcel = function( xlsx ) {
    var sheet = xlsx.xl.worksheets['sheet1.xml'];
    var style = xlsx.xl['styles.xml'];
    var tagName = style.getElementsByTagName('sz');
    for (i = 0; i < tagName.length; i++) {tagName[i].setAttribute("val", "10")}
    $('row:first c', sheet).attr('s', '2')
    $('row c[r^="B"]', sheet).attr( 's', '55' ); $('row c[r^="C"]', sheet).attr( 's', '55' );$('row c[r^="D"]', sheet).attr( 's', '55' ); $('row c[r^="E"]', sheet).attr( 's', '55' );  //wrap text
    var col = $('col', sheet);
    // col.each(function () {$(this).attr('width', 20);}); //for all columns widths     
    $(col[1]).attr('width', 25); $(col[2]).attr('width', 25); $(col[3]).attr('width', 25); $(col[4]).attr('width', 35); }; 
  //--End--//

  var cl = [0,  1, 2, 3, 4]
  var wdths = ['4%', '22%', '22%', '22%', '30%'];
  
   if ('{{status}}' == 'Inprogress' ) { var msgTop = 'Total Inprogress Purchase Orders {{count.ic}}, Value {{pos.inprogress|floatformat:0|intcomma}}';}
    else { var msgTop = 'Total Purchase Orders {{count.tc}}, Value {{pos.total|floatformat:0|intcomma}}  |  Closed Orders {{count.cc}}, Value {{pos.closed|floatformat:0|intcomma}}  |  Inprogress Orders {{count.ic}}, Value {{pos.inprogress|floatformat:0|intcomma}}';};
    var title = '{{pdata.pj}} - {{status}} Purchase Orders List';
    var filename = '{{pdata.pj}}-POs_{{table.last.PO_Date|date:'dMy'}}to{{table.first.PO_Date|date:'dMy'}}'
    var ort = 'portrait'

  // Datatables Customise PDF Before Export//
  var pdf_custom = function ( doc ) {
    doc.content[1].table.widths = wdths; doc.content[0].text = doc.content[0].text.trim();
    doc.pageMargins = [40,60,20,30];
    // doc.content[1].margin = [ 0, 50, 0, 50 ]
    doc['footer']= footer1;
    doc['header']= header1;
    var objLayout = {};objLayout['hLineWidth'] = function(i) { return .5; };
    objLayout['vLineWidth'] = function(i) { return .5; };objLayout['hLineColor'] = function(i) { return '#aaa'; };
    objLayout['vLineColor'] = function(i) { return '#aaa'; };objLayout['paddingLeft'] = function(i) { return 5; };
    objLayout['paddingRight'] = function(i) { return 5; };doc.content[1].layout = objLayout;      
    doc.defaultStyle.fontSize = 9;doc.styles.title.fontSize = 13;doc.styles.title.messageTop = 15;doc.defaultStyle.alignment = 'left'; doc.styles.tableHeader = table_header; 
    // doc.content[1].table.widths =Array(doc.content[1].table.body[0].length + 1).join('*').split('');
  doc.content.splice(0, 1,{text: [{text: title+'\n\n',bold: true,fontSize: 12,alignment: 'center',},
  {text: msgTop, bold: true, fontSize: 9.5, alignment: 'left',}],margin: [0, -30, 0, 12],});
  };

  //--End--//
</script>

<!-- Data Tables Export Script -->
<script type="text/javascript">
  $('#html5-extension').DataTable( {
  autoWidth: false, dom: 'lBfrtip', "oLanguage": olg, "stripeClasses": [],"lengthMenu": lmenu,"pageLength": 20,
  buttons: {dom: {button: {tag: 'i',className: ''}},buttons: [
      
    {extend: 'excel', title: title, filename: filename, text:'', titleAttr: 'Download as Excel', className: 'custom-btn1 mdi mdi-file-excel', customize: customexcel, exportOptions: {columns: cl, format: _format, rows : {search:'applied'}}, orientation:ort, messageTop: msgTop, },

    {extend: 'pdf', title: title, filename: filename, pageSize: 'A4', exportOptions: { columns: cl, format:  _format, rows : {search:'applied'}}, text:'', titleAttr: 'Download as PDF', className: 'custom-btn1 mdi mdi-file-pdf', customize: pdf_custom, orientation:ort, },

    {extend: 'print',title: title, filename: filename, exportOptions: {columns: cl, format: formatprint, stripHtml: false, rows : {search:'applied'}},text:'',titleAttr: 'Print',className: 'custom-btn1 mdi mdi-printer style="color:blue"', orientation:ort, messageTop: msgTop },]}, } );
</script>
{% endblock %} <!-- For Scripts -->


{% block content %}
<div class="page-header">
  <h3 class="page-title">{{pdata.pj.Short_Name}} - {{status}} Purchase Orders List</h3>
</div>

<div>
  <div style="float:left">
    <button type="button" data-toggle='modal', data-target="#doMoreModal" class="btn btn-sm btn-primary mb-4" ht="select category">Do More</button>
  </div>

    &emsp;&emsp;
    <button type="button" data-toggle='modal', data-target="#MorePagesModal" class="btn btn-sm btn-danger mb-4" >More Pages</button>

  <div style="float:right">
    {% if status == 'Total'%}
      <button type="button" id="myBtn" class="btn btn-sm  btn-primary mb-4" ht="search your required data">ApplyFilters<i class="mdi mdi-filter btn-icon-append"></i></button>
      <button type="button" onclick="location.href='/{{pdata.pj}}/purchaseslist/Total/'" class="btn btn-sm  btn-info mb-4" ht="clear all searched data">ClearFilters<i class="mdi mdi-filter-remove btn-icon-append"></i></button>
    {% endif %}
  </div>
  <div style="clear:both"></div>
</div>

<!--Filter/Serch History Form-->
  <div id="addEventsModal" class="modal animated fadeIn"> 
    <div class="modal-dialog modal-dialog-centered">                            
      <!-- Modal content -->
      <div class="card modal-content">
        <div class="modal-body">
          <span id="discard" data-dismiss="modal" class="close">&times;</span>
          <div class="add-edit-event-box">
            <div class="add-edit-event-content">
              <div class="add-event-title edit-event-title"></div>
                <h5 class="modal-title">Search Data by Applying Filter</h5>
                  <form class="">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-12">
                          <label style=" font-weight: 200; color: black; font-size: 13px;">From Date</label>
                          <input type="date" name="from_date" class="form-control">
                      </div>
                      <div class="col-md-6 col-sm-6 col-12">
                          <label style="font-weight: 200; color: black; font-size: 13px;">To Date</label>
                          <input type="date" name="to_date" class="form-control">
                      </div>
                      <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group start-date">
                          <label style="font-weight: 200; color: black; font-size: 13px;">PO Value From</label>
                          <input  name="from_value" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group start-date">
                          <label style="font-weight: 200; color: black; font-size: 13px;">PO Value To</label>
                          <input  name="to_value" class="form-control">
                        </div>
                      </div>
                      <!-- <div class="col-md-6 col-sm-6 col-12">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Product Delivery Status</label>
                        {{ filter_data.form.Final_Work_Status}}
                      </div> -->
                      <!-- <div class="col-md-6 col-sm-6 col-12">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Payment Cleared Orders</label>
                        {{ filter_data.form.Final_Payment_Status}}
                      </div> -->
                      <div class="col-md-6 col-sm-6 col-12 ">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Vendor Name</label>
                        {{ filter_data.form.Vendor}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 ">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">PO Follow Up By</label>
                        {{ filter_data.form.user}}
                      </div>
                      <!-- <div class="col-md-6 col-sm-6 col-12 mt-4">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Product Details</label>
                        {{ filter_data.form.Add_Product__Product_Description}}
                      </div> -->
                      
                      <!-- <div class="col-md-6 col-sm-6 col-12 mt-4">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Billing Status</label>
                        {{ filter_data.form.Is_Billed}}
                      </div> -->
                      <div class="col-md-6 col-sm-6 col-12 mt-4">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">Delivery Status</label>
                        {{ filter_data.form.Delivery_Status}}
                      </div>
                      <div class="col-md-6 col-sm-6 col-12 mt-4">
                        <label style=" font-weight: 200; color: black; font-size: 13px;">PO Closing Status</label>
                        {{ filter_data.form.Final_Status}}
                      </div>
                     
                      <div style="float:left; margin-left: 10px; margin-top:20px;" style="">
                        <button type="submit"  id="add-e" class="btn btn-sm btn-primary mb-4">Apply Filters</button>
                        <!-- <button id="add-e" class="btn">Add Task</button> -->
                        <button id="edit-event" class="btn"></button>
                      </div>
                    </div>   
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% if status == 'Total' %}
  <div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <a ht="including closed and inprogress i.e all confirmed orders" ><div class="card-body2">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Total PO's - {{count.tc}}</div>
              <div class="h6 mb-0 font-weight-bold text-gray-800">₹ {{pos.total|floatformat:0|intcomma}}</div>
            </div>
          </div>
        </div></a>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <a ht="closed orders means order/all splitted orders under PO must be deliver, all billings must be done and all payments must be received against all bills" ><div class="card-body2">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Closed PO's - {{count.cc}}</div>
              <div class="h6 mb-0 font-weight-bold text-gray-800">₹ {{pos.closed|floatformat:0|intcomma}}</div>
            </div>
          </div>
        </div></a>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <a ht="may be work not delivered or payments may not received or both not done" ><div class="card-body2">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Inprogress PO's - {{count.ic}}</div>
              <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">₹ {{pos.inprogress|floatformat:0|intcomma}}</div>
            </div>
          </div>
        </div></a>
      </div>
    </div>
  </div>
{% elif status == 'Inprogress' %}
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <a ht="Inprogress Orders Means Product Not Delivered or Payment Not Received Fully or Both" ><div class="card-body2">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Inprogress PO's - {{count.ic}}</div>
              <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">₹ {{pos.inprogress|floatformat:0|intcomma}}</div>
            </div>
          </div>
        </div></a>
      </div>
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <a ht="closed orders means order/all splitted orders under PO must be deliver, all billings must be done and all payments must be received against all bills" ><div class="card-body2">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Closed PO's - {{count.cc}}</div>
              <div class="h6 mb-0 font-weight-bold text-gray-800">₹ {{pos.closed|floatformat:0|intcomma}}</div>
            </div>
          </div>
        </div></a>
      </div>
    </div>
  </div>
{% endif %}

<!-- PO's List -->
  {% if status == 'Total' %}
    <div class="card">
      <div class="card-body2">
        <div class="table-responsive mb-4 mt-4">
        <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
          <thead>
            <tr>
              <th>#</th>
              <th>Vendor Details</th>
              <th>PO Details</th>
              <th>Billing & Payment Status</th>
              <th>Delivery Status</th>
            </tr>
          </thead>
          <tbody>
            {% for x, y, z, c, delivery in tableset %}
               {% if x.Final_Status == 1 %}
                <tr class="customtr1" >
                  <!-- <tr> -->
               {% else %}
                <tr>
               {% endif %}
              
                <td >{{forloop.counter}}{% if x.Final_Status == 1 %}#{% endif %}&nbsp;<a class="ahr" ht="open/edit/delete PO Primary Details" data-toggle="modal" data-target="#editPOModal" onclick="javascript:editpo('{{x.id}}', '{{x.Is_Manual}}', '{{x.Is_No_PO}}')">&nbsp;<i class="fas fa-lg fa-pen-to-square"></i></a></td>

                <td style="white-space:normal;">
                  {{x.Vendor.Supplier_Name}}
                  <br><br><i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Customer_Name.Phone_Number_1}}'>{{x.Vendor.Phone_Number_1}}</a>
                </td>

                <td style="white-space:normal;">
                  {% if x.Purchase_Details %}{{x.Purchase_Details}}{% endif %}                  
                  <br><br><span class="hlt2">PO Value: ₹ {{x.PO_Value|floatformat:0|intcomma}}</span>
                  <br><span class='hlt5'>PO No: </span>{{x.PO_No}}
                  <br><span class='hlt5'>PO Date: </span>{{x.PO_Date|date:'d M Y'}}
                  {% if x.Attach %}<a class="ahr" ht='click here to download copy' href="{{x.Attach.url}}" target="_blank"><br><span class='hlt5'>Download PO: </span><i class="fas fa fa-download"></i></a>{% endif %}
                  {% if x.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span>{{x.user.Nick_Name}}{% endif %}
                  {% if x.Final_Status == 1 %}<br><span class="hlt2">Order/PO Closed</span>{% endif %}
                </td>

                <td style="white-space:normal;">                  
                  {% if c %}
                    <span class='hlt5'>No of Received Bills: </span>{{c}}
                    <span class='hlt5'><br>Billing Amount: </span>₹ {{y|floatformat:0|intcomma}}
                    {% if z != 0 %}
                      <span class='hlt5'><br>Paid Amount: </span>₹ {{z|floatformat:0|intcomma}}
                      {% if z > y %}
                        <br><span class='hlt2'>Balance as Advance: </span>₹ {{y|mul:-1|add:z|floatformat:0|intcomma}}
                      {% endif %}
                    {% else %}
                      <br><span class="hlt3">No Payments Started Yet</span>
                    {% endif %}
                    {% if y != z %}
                      {% if z < y %}
                        <span class='hlt3' style="font-weight:bold"><br>Due Amount: </span><span style="font-weight:bold;">₹ {{z|mul:-1|add:y|floatformat:0|intcomma}}</span>
                      {% endif %}
                    {% else %}
                      <br><span class="hlt2">Payments Done Against Received Bills</span>
                    {% endif %}
                    {% if x.Payment_Status.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{x.Payment_Status.user.Nick_Name}}{% endif %}
                  {% else %}
                    <span class="hlt3">No Bills Given by Vendor</span>
                    {% if x.Payment_Status %}
                      <span class='hlt5'><br><br>Total Paid Advances</span>
                      <br>₹ {{z|floatformat:0|intcomma}}
                      {% if x.Payment_Status.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{x.Payment_Status.user.Nick_Name}}{% endif %}
                    {% else %}
                      <span class="hlt3"><br><br>No Payments/Advances Paid</span>
                    {% endif %}
                  {% endif %}
                </td>

                <td style="white-space:normal;">
                  {% if delivery %}
                    {% for p in delivery %}
                      <a class="ahr" ht='edit delivery details' target="_blank" onclick="location.href='/{{pdata.pj}}/podeliveryform/edit/{{x.id}}/{{p.id}}/'">
                      <span class="hlt5">Delivered Date: </span>{{p.Delivery_Date|date:'d M Y'}}
                      {% if p.Is_Delivered_Fully == 1 %}
                        <br><span class="hlt2">All Material Received</span>
                      {% elif p.Want_To_Close_PO == 1 %}
                        <br><span class="hlt2">Delivery Closed</span>
                      {% else %}
                        <br><span class="hlt2">Material Not Deliverd Fully</span>
                        {% if p.Next_Commitment_Date %}
                          <br><span class="hlt5">Next Promissed Delivery On: </span>{{p.Next_Commitment_Date|date:'d M Y'}}
                        {% endif %}
                      {% endif %}</a>
                      {% if p.Remarks %}
                        <br><span class="hlt5">Remarks: </span>{{p.Remarks}}
                      {% endif %}
                      {% if p.Attach %}<a class="ahr" ht='click here to download copy' href="{{p.Attach.url}}" target="_blank"><br><span class='hlt5'>Download DC: </span><i class="fas fa fa-download"></i></a>{% endif %}
                      {% if p.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{p.user.Nick_Name}}{% endif %}
                      <br><br>
                    {% endfor %}
                  {% else %}
                    <br><span class="hlt3">PO Not Yet Delivered</span>
                  {% endif %}
                </td>               
              </tr>
          {% endfor %} 
          </tbody>
        </table>
        </div>
      </div>
    </div>
  {% elif status == 'Inprogress' %}
    <div class="card">
      <div class="card-body2">
        <div class="table-responsive mb-4 mt-4">
        <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
          <thead>
            <tr>
              <th>#</th>
              <th>Vendor Details</th>
              <th>Order Description</th>
              <th>PO Details</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for x, y, z, c, delivery in tableset %}
              <tr>
          
                <td >{{forloop.counter}}{% if x.Final_Status == 1 %}#{% endif %}&nbsp;<a class="ahr" ht="open/edit/delete PO Primary Details" data-toggle="modal" data-target="#editPOModal" onclick="javascript:editpo('{{x.id}}', '{{x.Is_Manual}}', '{{x.Is_No_PO}}')">&nbsp;<i class="fas fa-lg fa-pen-to-square"></i></a></td>

                <td style="white-space:normal;">
                  {{x.Vendor.Supplier_Name}}
                  <br><br><i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Customer_Name.Phone_Number_1}}'>{{x.Vendor.Phone_Number_1}}</a>
                </td>

                <td style="white-space:normal;">
                  {% if x.Purchase_Details %}{{x.Purchase_Details}}{% endif %}
                  <br><br><span class="hlt2">PO Value: ₹ {{x.PO_Value|floatformat:0|intcomma}}</span>
                  <br><span class='hlt5'>PO No: </span>{{x.PO_No}}
                  <br><span class='hlt5'>PO Date: </span>{{x.PO_Date|date:'d M Y'}}
                  {% if x.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span>{{x.user.Nick_Name}}{% endif %}
                  {% if x.Final_Status == 1 %}<br><span class="hlt2">Order/PO Closed</span>{% endif %}</a>
                </td>

                <td style="white-space:normal;">                  
                  {% if c %}
                    <span class='hlt5'>No of Received Bills: </span>{{c}}
                    <span class='hlt5'><br>Billing Amount: </span>₹ {{y|floatformat:0|intcomma}}
                    {% if z != 0 %}
                      <span class='hlt5'><br>Paid Amount: </span>₹ {{z|floatformat:0|intcomma}}
                      {% if z > y %}
                        <br><span class='hlt2'>Balance as Advance: </span>₹ {{y|mul:-1|add:z|floatformat:0|intcomma}}
                      {% endif %}
                    {% else %}
                      <br><span class="hlt3">No Payments Started Yet</span>
                    {% endif %}
                    {% if y != z %}
                      {% if z < y %}
                        <span class='hlt3' style="font-weight:bold"><br>Due Amount: </span><span style="font-weight:bold;">₹ {{z|mul:-1|add:y|floatformat:0|intcomma}}</span>
                      {% endif %}
                    {% else %}
                      <br><span class="hlt2">Payments Done Against Received Bills</span>
                    {% endif %}
                    {% if x.Payment_Status.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{x.Payment_Status.user.Nick_Name}}{% endif %}
                  {% else %}
                    <span class="hlt3">No Bills Given by Vendor</span>
                    {% if x.Payment_Status %}
                      <span class='hlt5'><br><br>Total Paid Advances</span>
                      <br>₹ {{z|floatformat:0|intcomma}}
                      {% if x.Payment_Status.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{x.Payment_Status.user.Nick_Name}}{% endif %}
                    {% else %}
                      <span class="hlt3"><br><br>No Payments/Advances Paid</span>
                    {% endif %}
                  {% endif %}
                </td>

                <td style="white-space:normal;">
                  {% if delivery %}
                    {% for p in delivery %}
                      <a class="ahr" ht='edit delivery details' target="_blank" onclick="location.href='/{{pdata.pj}}/podeliveryform/edit/{{x.id}}/{{p.id}}/'">
                      <span class="hlt5">Delivered Date: </span>{{p.Delivery_Date|date:'d M Y'}}
                      {% if p.Is_Delivered_Fully == 1 %}
                        <br><span class="hlt2">All Material Received</span>
                      {% elif p.Want_To_Close_PO == 1 %}
                        <br><span class="hlt2">Delivery Closed</span>
                      {% else %}
                        <br><span class="hlt2">Material Not Deliverd Fully</span>
                        {% if p.Next_Commitment_Date %}
                          <br><span class="hlt5">Next Promissed Delivery On: </span>{{p.Next_Commitment_Date|date:'d M Y'}}
                        {% endif %}
                      {% endif %}</a>
                      {% if p.Remarks %}
                        <br><span class="hlt5">Remarks: </span>{{p.Remarks}}
                      {% endif %}
                      {% if p.Attach %}<a class="ahr" ht='click here to download copy' href="{{p.Attach.url}}" target="_blank"><br><span class='hlt5'>Download DC: </span><i class="fas fa fa-download"></i></a>{% endif %}
                      {% if p.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{p.user.Nick_Name}}{% endif %}
                      <br><br>
                    {% endfor %}
                  {% else %}
                    <br><span class="hlt3">PO Not Yet Delivered</span>
                  {% endif %}
                </td>
              </tr>
          {% endfor %} 
          </tbody>
        </table>
        </div>
      </div>
    </div>
  {% elif status == 'Closed' %}
    <div class="card">
      <div class="card-body2">
        <div class="table-responsive mb-4 mt-4">
        <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
          <thead>
            <tr>
              <th>#</th>
              <th>Vendor Details</th>
              <th>Order Description</th>
              <th>PO Details</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for x, y, z, c, delivery in tableset %}
              <tr>
              
                <td style="white-space:normal;">
                  {{x.Vendor.Supplier_Name}}
                  <br><br><i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Customer_Name.Phone_Number_1}}'>{{x.Vendor.Phone_Number_1}}</a>
                </td>

                <td style="white-space:normal;">
                  {% if x.Purchase_Details %}{{x.Purchase_Details}}{% endif %}
                  <br><br><span class="hlt2">PO Value: ₹ {{x.PO_Value|floatformat:0|intcomma}}</span>
                  <br><span class='hlt5'>PO No: </span>{{x.PO_No}}
                  <br><span class='hlt5'>PO Date: </span>{{x.PO_Date|date:'d M Y'}}
                  {% if x.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span>{{x.user.Nick_Name}}{% endif %}
                  {% if x.Final_Status == 1 %}<br><span class="hlt2">Order/PO Closed</span>{% endif %}
                </td>

                <td style="white-space:normal;">                  
                  {% if c %}
                    <span class='hlt5'>No of Received Bills: </span>{{c}}
                    <span class='hlt5'><br>Billing Amount: </span>₹ {{y|floatformat:0|intcomma}}
                    {% if z != 0 %}
                      <span class='hlt5'><br>Paid Amount: </span>₹ {{z|floatformat:0|intcomma}}
                      {% if z > y %}
                        <br><span class='hlt2'>Balance as Advance: </span>₹ {{y|mul:-1|add:z|floatformat:0|intcomma}}
                      {% endif %}
                    {% else %}
                      <br><span class="hlt3">No Payments Started Yet</span>
                    {% endif %}
                    {% if y != z %}
                      {% if z < y %}
                        <span class='hlt3' style="font-weight:bold"><br>Due Amount: </span><span style="font-weight:bold;">₹ {{z|mul:-1|add:y|floatformat:0|intcomma}}</span>
                      {% endif %}
                    {% else %}
                      <br><span class="hlt2">Payments Done Against Received Bills</span>
                    {% endif %}
                    {% if x.Payment_Status.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{x.Payment_Status.user.Nick_Name}}{% endif %}
                  {% else %}
                    <span class="hlt3">No Bills Given by Vendor</span>
                    {% if x.Payment_Status %}
                      <span class='hlt5'><br><br>Total Paid Advances</span>
                      <br>₹ {{z|floatformat:0|intcomma}}
                      {% if x.Payment_Status.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{x.Payment_Status.user.Nick_Name}}{% endif %}
                    {% else %}
                      <span class="hlt3"><br><br>No Payments/Advances Paid</span>
                    {% endif %}
                  {% endif %}
                </td>

                <td style="white-space:normal;">
                  {% if delivery %}
                    {% for p in delivery %}
                      <a class="ahr" ht='edit delivery details' target="_blank" onclick="location.href='/{{pdata.pj}}/podeliveryform/edit/{{x.id}}/{{p.id}}/'">
                      <span class="hlt5">Delivered Date: </span>{{p.Delivery_Date|date:'d M Y'}}
                      {% if p.Is_Delivered_Fully == 1 %}
                        <br><span class="hlt2">All Material Received</span>
                      {% elif p.Want_To_Close_PO == 1 %}
                        <br><span class="hlt2">Delivery Closed</span>
                      {% else %}
                        <br><span class="hlt2">Material Not Deliverd Fully</span>
                        {% if p.Next_Commitment_Date %}
                          <br><span class="hlt5">Next Promissed Delivery On: </span>{{p.Next_Commitment_Date|date:'d M Y'}}
                        {% endif %}
                      {% endif %}</a>
                      {% if p.Remarks %}
                        <br><span class="hlt5">Remarks: </span>{{p.Remarks}}
                      {% endif %}
                      {% if p.Attach %}<a class="ahr" ht='click here to download copy' href="{{p.Attach.url}}" target="_blank"><br><span class='hlt5'>Download DC: </span><i class="fas fa fa-download"></i></a>{% endif %}
                      {% if p.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{p.user.Nick_Name}}{% endif %}
                      <br><br>
                    {% endfor %}
                  {% else %}
                    <br><span class="hlt3">PO Not Yet Delivered</span>
                  {% endif %}
                </td>
              </tr>
          {% endfor %} 
          </tbody>
        </table>
        </div>
      </div>
    </div>
  {% else %}
  <!-- draft copies -->
    <div class="card">
      <div class="card-body2">
        <div class="table-responsive mb-4 mt-4">
        <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
          <thead>
            <tr>
              <th>#</th>
              <th>Vendor Details</th>
              <th>Order Description</th>
              <th>PO Details - Draft Copy</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for x, y, z, c, delivery in tableset %}
               <tr>
              
                <td >{{forloop.counter}}</td>

                <td style="white-space:normal;">
                  {{x.Vendor.Supplier_Name}}
                  <br><br><i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Customer_Name.Phone_Number_1}}'>{{x.Vendor.Phone_Number_1}}</a>
                </td>

                <td style="white-space:normal;">
                  {% if x.Purchase_Details %}{{x.Purchase_Details}}{% endif %}
                </td>

                <td style="white-space:normal;">
                  <a class="ahr" ht='open/edit/delete PO Copy' target="_blank" onclick="location.href='/{{pdata.pj}}/po/edit/{{x.id}}/itemid/msg/'">
                  <span class="hlt2">PO Value: ₹ {{x.PO_Value|floatformat:0|intcomma}}</span>
                  <br><span class='hlt5'>PO No: </span>{{x.PO_No}}
                  <br><span class='hlt5'>PO Date: </span>{{x.PO_Date|date:'d M Y'}}
                  {% if x.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span>{{x.user.Nick_Name}}{% endif %}
                  {% if x.Final_Status == 1 %}<br><span class="hlt2">Order/PO Closed</span>{% endif %}</a>
                </td>

                <td style="white-space:normal;">                  
                  {% if c %}
                    <span class='hlt5'>No of Received Bills: </span>{{c}}
                    <span class='hlt5'><br>Billing Amount: </span>₹ {{y|floatformat:0|intcomma}}
                    {% if z != 0 %}
                      <span class='hlt5'><br>Paid Amount: </span>₹ {{z|floatformat:0|intcomma}}
                      {% if z > y %}
                        <br><span class='hlt2'>Balance as Advance: </span>₹ {{y|mul:-1|add:z|floatformat:0|intcomma}}
                      {% endif %}
                    {% else %}
                      <br><span class="hlt3">No Payments Started Yet</span>
                    {% endif %}
                    {% if y != z %}
                      {% if z < y %}
                        <span class='hlt3' style="font-weight:bold"><br>Due Amount: </span><span style="font-weight:bold;">₹ {{z|mul:-1|add:y|floatformat:0|intcomma}}</span>
                      {% endif %}
                    {% else %}
                      <br><span class="hlt2">Payments Done Against Received Bills</span>
                    {% endif %}
                    {% if x.Payment_Status.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{x.Payment_Status.user.Nick_Name}}{% endif %}
                  {% else %}
                    <span class="hlt3">No Bills Given by Vendor</span>
                    {% if x.Payment_Status %}
                      <span class='hlt5'><br><br>Total Paid Advances</span>
                      <br>₹ {{z|floatformat:0|intcomma}}
                      {% if x.Payment_Status.user.Nick_Name %}<br><span class='hlt5'>Followup By: </span> {{x.Payment_Status.user.Nick_Name}}{% endif %}
                    {% else %}
                      <span class="hlt3"><br><br>No Payments/Advances Paid</span>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
          {% endfor %} 
          </tbody>
        </table>
        </div>
      </div>
    </div>
  {% endif %}

<!-- #do next, displaying buttons to perform PO related tasks -->
  <div class="modal fade text-left" id="doMoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button"  data-toggle="modal" data-target="#selectVendorModal" class="btn btn-sm btn-danger" ht="generate new PO" onclick="hidedomore()">Generate Online PO</button>
            <button type="button"  onclick="location.href='/{{pdata.pj}}/po/create_manually/1/itemid/msg/'" class="btn btn-sm btn-primary" ht="add PO manually" onclick="hidedomore()">Add Manual PO</button>

            <button type="button"  onclick="location.href='/{{pdata.pj}}/purchaseslist/Inprogress/'" class="btn btn-sm btn-info" ht="inprogress PO's maens PO not delivered/vendor payment not paid fully or both">Inprogress PO's</button>
            
            <button type="button"  onclick="location.href='/{{pdata.pj}}/purchaseslist/Closed/'" class="btn btn-sm btn-success" ht="Closed PO's maens PO delivered and vendor payments paid fully">Closed PO's</button>

            <button type="button"  onclick="location.href='/{{pdata.pj}}/purchaseslist/Total/'" class="btn btn-sm btn-dark" ht="all issued PO's i.e closed and inprogress">All PO's</button>

            <button type="button"  onclick="location.href='/{{pdata.pj}}/purchaseslist/Incomplete/'" class="btn btn-sm btn-warning" ht="not issued to vendor, just draft copies">PO Draft Copies</button>          
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- select Vendor Form -->
  <div class="modal fade text-left" id="selectVendorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Vendor Selection Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='selectvendorformaction' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group newheight">
                {% for field in form_select_vendor %}
                  {% if field.label == 'Vendor' or field.label == 'Purchase Details' %}
                    {% if field.label == 'Vendor' %}
                      <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>
                      <a title="add new vendor" target="_blank" href="/{{pdata.pj}}/vendorform/create/1/"><i class="fas fa-square-plus " style="color:purple; padding-bottom:-20px;"></i></a>
                    {{ field}}
                    {% endif %}
                    {% if field.label == 'Purchase Details' %}
                      <label >Overal Purchase Short Description{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>
                    {{ field}}
                    {% endif %}
                  {% else %}
                    <div style="display:none"><label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}</div>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
           </div>
          <button type="submit" class="btn btn-primary">Submit</button>    
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->

<!-- add payments Form -->
  <div class="modal fade text-left" id="addPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Vendor Selection Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">   
          <form class="forms-sample" action="" id='paymentformaction' method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group newheight">
                {% for field in pay_form %}
                  {% if field.label != 'PO No' %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
           </div>
          <button type="submit" class="btn btn-primary">Submit</button>    
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- End -->

<!-- Edit PO Selection Pupup -->
  <div class="modal fade text-left" id="editPOModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button" targt="_blank" onclick="location.href='/{{pdata.pj}}/purchasesform/edit/'+poid+'/'" class="btn btn-sm btn-danger">Update PO Status</button>

            <button type="button" targt="_blank" onclick="edit()" class="btn btn-sm btn-primary">Edit PO</button>
            <!-- <button type="button"  data-toggle="modal" data-target="#deletePOModal" class="btn btn-sm btn-warning">Delete PO</button> -->

            <button type="button" onclick="hidepoedit()" data-toggle="modal" data-target="#addPaymentModal" class="btn btn-sm btn-info">Add Payment</button>
            <button type="button"  onclick="location.href='/{{pdata.pj}}/podeliveryform/create/'+poid+'/1/'" class="btn btn-sm btn-success">Add Delivery Details</button>     
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- more pages -->
  <div class="modal fade text-left" id="MorePagesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button   onclick="location.href='/{{pdata.pj}}/vendorinvoiceslist/Issued/'" type="button" class="btn btn-sm btn-info">Vendor Invoices</button>
            <button   onclick="location.href='/{{pdata.pj}}/vendorpaymentslist/Paid/vendflt/'" type="button" class="btn btn-sm btn-success">Vendor Payments</button>          
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
 
