{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-inline-block">Holidays/Extra Working Days Form</h4>
        <div style="color: red; font-style: italic; font-size: 13px;">**Fields are Mandatory</div>
        <br>
          <form class="forms-sample" action="" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group">
                {% for field in form %}
                {% if mode == 'presents' %}
                  {% if field.label == 'Presents' or  field.label == 'OT Hours'  %}
                    <label>{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% else %}
                    <div style="display:none"><label>{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}</div>
                  {% endif %}
                {% else %}
                  {% if field.label == 'PF' or  field.label == 'ESI' or  field.label == 'TDS' or field.label == 'Other Deductions' or  field.label == 'Salary Advance' or field.label == 'Professional Tax' %}
                    <label>{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% else %}
                    <div style="display:none"><label>{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}</div>
                  {% endif %}
                {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}  
              </div>
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> 
{% endblock %}  
 