{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %} 

{% block css %}
  <link rel="stylesheet" href="{% static 'css/filterdate.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_theme_1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dt-global_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/buttons.dataTables.min.css' %}">
{% endblock %}  

{% block scripts %} 
  <script src="{% static 'js/filterdate.js' %}"></script>
  <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS --> 
  <script src="{% static 'js/datatables/datatables.js' %}"></script>
  <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
  <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/datatables/jszip.min.js' %}"></script>    
  <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/tableexport.js' %}"></script>

<script type="text/javascript">

  function editpo(po_id, is_manual, is_nopo) {
    qid = po_id;
    
    if(is_manual == 'True' || is_nopo == 'True') {editurl = '/{{firm}}/{{pdata.pj}}/purchasesform/edit_manually/'+qid+'/'; }
    else { editurl = '/{{firm}}/{{pdata.pj}}/po/edit/'+qid+'/'; }
  };

  function edit() {
    location.href= editurl
  }


  function rid(tid, can_gen_invoice, billed, ordervalue) {qid = tid;
    if (can_gen_invoice=='False' | ordervalue <= billed){
      document.getElementById('hidebillbutton').style.display='none';
      document.getElementById('showbillbutton').style.display='block';}
    else {
      document.getElementById('hidebillbutton').style.display='block';
      document.getElementById('showbillbutton').style.display='none';}
  };

  function hidedomore() {
    document.getElementById('selectvendorformaction').action = '/{{firm}}/{{pdata.pj}}/po/create/1/itemid/msg/'
    $("#doMoreModal .close").click()
    // $('#doMoreModal').modal('hide');
}
  function hidepoedit() {
    document.getElementById('paymentformaction').action = '/{{firm}}/{{pdata.pj}}/popaymentsform/'+qid+'/'
    $("#editQuoteModal .close").click()
  }

  function alertpopup(){
    // document.getElementById('exampleModal11').style.display = 'none';
    $('.widget-content .message', function () {
        swal({
            title: 'Error Alert !',
            text: 'Invoice generation not allowed due to all Invoices value under this order exceeding the order value',
            padding: '2em'
          })
      }) 
  }

  function validate1(p) {
    if(   document.getElementById("activitypswd1").value == "sse123" ){
        url = '/{{firm}}/{{pdata.pj}}/purchasesform/delete/'+qid+'/'
        location.href=url;}
    else{alert( "Incorrect Activity Password, Please Try Again" );}}
</script>

<!-- Data Tables Export Script -->
<script src="{% static 'js/datatablesexport.js' %}"></script>
<script type="text/javascript">
  // Datatables Excel Formating Before Export//
  var customexcel = function( xlsx ) {
    var sheet = xlsx.xl.worksheets['sheet1.xml'];
    var style = xlsx.xl['styles.xml'];
    var tagName = style.getElementsByTagName('sz');
    for (i = 0; i < tagName.length; i++) {tagName[i].setAttribute("val", "10")}
    $('row:first c', sheet).attr('s', '2')
    $('row c[r^="B"]', sheet).attr( 's', '55' ); $('row c[r^="C"]', sheet).attr( 's', '55' );$('row c[r^="D"]', sheet).attr( 's', '55' ); $('row c[r^="E"]', sheet).attr( 's', '55' );  //wrap text
    var col = $('col', sheet);
    // col.each(function () {$(this).attr('width', 20);}); //for all columns widths     
    $(col[1]).attr('width', 40); $(col[2]).attr('width', 25); $(col[3]).attr('width', 15); $(col[4]).attr('width', 25); }; 
  //--End--//

  var cl = [0,  1, 2, 3, 4]
  var wdths = ['4%', '30%', '25%', '16%', '25%'];
  
    var msgTop = ''
    var title = "{{pdata.pj}} - {% if status == 'active' %} Issued Quotations List {% else %} Quotations Draft Copies {% endif %}";
    var filename = '{{pdata.pj}}-quotes'
    var ort = 'portrait'

  // Datatables Customise PDF Before Export//
  var pdf_custom = function ( doc ) {
    doc.content[1].table.widths = wdths; doc.content[0].text = doc.content[0].text.trim();
    doc.pageMargins = [40,60,20,30];
    // doc.content[1].margin = [ 0, 50, 0, 50 ]
    doc['footer']= footer1;
    doc['header']= header1;
    var objLayout = {};objLayout['hLineWidth'] = function(i) { return .5; };
    objLayout['vLineWidth'] = function(i) { return .5; };objLayout['hLineColor'] = function(i) { return '#aaa'; };
    objLayout['vLineColor'] = function(i) { return '#aaa'; };objLayout['paddingLeft'] = function(i) { return 5; };
    objLayout['paddingRight'] = function(i) { return 5; };doc.content[1].layout = objLayout;      
    doc.defaultStyle.fontSize = 9;doc.styles.title.fontSize = 13;doc.styles.title.messageTop = 15;doc.defaultStyle.alignment = 'left'; doc.styles.tableHeader = table_header; 
    // doc.content[1].table.widths =Array(doc.content[1].table.body[0].length + 1).join('*').split('');
  doc.content.splice(0, 1,{text: [{text: title+'\n\n',bold: true,fontSize: 12,alignment: 'center',},
  {text: msgTop, bold: true, fontSize: 9.5, alignment: 'left',}],margin: [0, -30, 0, 12],});
  };

  //--End--//
</script>

<!-- Data Tables Export Script -->
<script type="text/javascript">
  $('#html5-extension').DataTable( {
  autoWidth: false, dom: 'lBfrtip', "oLanguage": olg, "stripeClasses": [],"lengthMenu": lmenu,"pageLength": 20,
  buttons: {dom: {button: {tag: 'i',className: ''}},buttons: [
      
    {extend: 'excel', title: title, filename: filename, text:'', titleAttr: 'Download as Excel', className: 'custom-btn1 mdi mdi-file-excel', customize: customexcel, exportOptions: {columns: cl, format: _format, rows : {search:'applied'}}, orientation:ort, messageTop: msgTop, },

    {extend: 'pdf', title: title, filename: filename, pageSize: 'A4', exportOptions: { columns: cl, format:  _format, rows : {search:'applied'}}, text:'', titleAttr: 'Download as PDF', className: 'custom-btn1 mdi mdi-file-pdf', customize: pdf_custom, orientation:ort, },

    {extend: 'print',title: title, filename: filename, exportOptions: {columns: cl, format: formatprint, stripHtml: false, rows : {search:'applied'}},text:'',titleAttr: 'Print',className: 'custom-btn1 mdi mdi-printer style="color:blue"', orientation:ort, messageTop: msgTop },]}, } );
</script>
{% endblock %} <!-- For Scripts -->


{% block content %}
<div class="page-header">
  <h3 class="page-title">{{pdata.pj.Short_Name}} - Quotations List</h3>
</div>

<div>
  <div style="float:left">
    <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/manualquoteform/create/1/'" class="btn btn-sm btn-primary mb-4">Generate Quotation</button>
    <button type="button" data-toggle='modal', data-target="#doMoreModal" class="btn btn-sm btn-danger mb-4" ht="select category">Do More</button>
  </div>

  <div style="float:right">
    <button type="button" id="myBtn" class="btn btn-sm  btn-primary mb-4" ht="search your required data">ApplyFilters<i class="mdi mdi-filter btn-icon-append"></i></button>
    <button type="button" onclick="location.href='/{{firm}}/{{pdata.pj}}/manualquoteslist/active/'" class="btn btn-sm  btn-info mb-4" ht="clear all searched data">ClearFilters<i class="mdi mdi-filter-remove btn-icon-append"></i></button>
  </div>
  <div style="clear:both"></div>
</div>

<!--Filter/Serch History Form-->
  <div id="addEventsModal" class="modal animated fadeIn"> 
    <div class="modal-dialog modal-dialog-centered">                            
      <!-- Modal content -->
      <div class="card modal-content">
        <div class="modal-body">
          <span id="discard" data-dismiss="modal" class="close">&times;</span>
          <div class="add-edit-event-box">
            <div class="add-edit-event-content">
              <div class="add-event-title edit-event-title"></div>
                <h5 class="modal-title">Search Data by Applying Filter</h5>
                  <form class="" method="GET">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group start-date">
                          <label style=" font-weight: 200; color: black; font-size: 13px;">From Date</label>
                          <input type="date" name="from_date" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group start-date">
                          <label style="font-weight: 200; color: black; font-size: 13px;">To Date</label>
                          <input type="date" name="to_date" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group start-date">
                          <label style="font-weight: 200; color: black; font-size: 13px;">Marketing Excecutive</label>
                          {{ filter_data.form.user}}
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-12">
                        <div class="form-group start-date">
                          <label style="font-weight: 200; color: black; font-size: 13px;">Processed As Orders</label>
                          {{ filter_data.form.Convert_As_Order}}
                        </div>
                      </div>                                         
                      <div class="" style=" float:left; margin-left: 10px; margin-top:20px;">
                        <button type="submit"  id="add-e" class="btn btn-sm btn-primary mb-4">Apply Filters</button>
                        <!-- <button id="add-e" class="btn">Add Task</button> -->
                        <button id="edit-event" class="btn"></button>
                      </div>
                    </div>   
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-dark shadow h-100 py-2">
      <div class="card-body2">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Total Credits</div>
            <div class="h6 mb-0 font-weight-bold text-blue-1000">
              <!-- Bank ₹ {{tcredits.c_bank|floatformat:'0'|intcomma}} | UPI ₹ {{tcredits.c_upi|floatformat:'0'|intcomma}} | Cash ₹ {{tcredits.c_cash|floatformat:'0'|intcomma}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-6 mb-4"> 
    <div class="card border-left-dark shadow h-100 py-2">
      <div class="card-body2">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1" style="margin-top:-10px; font-size:13px;">Total Debits</div>
            <div class="h6 mb-0 font-weight-bold text-gray-800">
              <!-- Bank ₹ {{tdebits.d_bank|floatformat:'0'|intcomma}} | UPI ₹ {{tdebits.d_upi|floatformat:'0'|intcomma}} | Cash ₹ {{tdebits.d_cash|floatformat:'0'|intcomma}} --></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PO's List -->
<div class="card">
  <div class="card-body2">
    <div class="table-responsive mb-4 mt-4">
    <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
      <thead>
        <tr>
          <th>#</th>
          <th>Quote To</th>
          <th>Quote No. and Date</th>
          <th>Quot Value</th>
          <th>Followup By</th>
        </tr>
      </thead>
      <tbody>
        {% for x in table %}
          {% if x.Convert_As_Order == 1 %}
          <tr class="customtr1">
          {% else %}
          <tr>
          {% endif %}
            <td>{{forloop.counter}}</td>

            <td style="white-space:normal;">
              <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{firm}}/{{pdata.pj}}/manualquoteform/edit/'+{{x.id}}+'/'">M/s. {{x.Customer_Name}}
                <br><i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Phone_Number}}'>{{x.Phone_Number}}</a>
                {% if x.Email %}<br><i class="mdi mdi-email-outline"></i>&nbsp;<a href="mailto:{{x.Email}}">{{x.Email}}</a>{% endif %}
              </a>
            </td>

            <td style="white-space:normal;">
              <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{firm}}/{{pdata.pj}}/manualquoteform/edit/'+{{x.id}}+'/'">{{x.Quote_No}}
              <br>{{x.Date|date:'d-M-Y'}}</a>
              {% if x.Attach %}<a class="ahr" ht='click here to download copy' href="{{x.Attach.url}}" target="_blank"><br><span class='hlt5'>Download Copy: </span><i class="fas fa fa-download"></i></a>{% endif %}
            </td>

            <td style="white-space:normal;">                  
              <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{firm}}/{{pdata.pj}}/manualquoteform/edit/'+{{x.id}}+'/'">₹ {{x.Quote_Value|floatformat:0|intcomma}}</a>
            </td>
            <td style="white-space:normal;">                  
              <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{firm}}/{{pdata.pj}}/manualquoteform/edit/'+{{x.id}}+'/'">{{x.user.Name}}
                <br><span class="hlt5">Branch: </span>{{x.Related_Project.Short_Name}}</a>
            </td>     
          </tr>
      {% endfor %} 
      </tbody>
    </table>
    </div>
  </div>
</div>

<!-- #do next, displaying buttons to perform PO related tasks -->
  <div class="modal fade text-left" id="doMoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <!-- <button type="button"  onclick="location.href='/{{firm}}/{{pdata.pj}}/manualquoteslist/active/'" class="btn btn-sm btn-danger">Quotations List</button> -->
            <button   onclick="location.href='/{{firm}}/{{pdata.pj}}/orderslist/Inprogress/'" type="button" class="btn btn-sm btn-success">Orders List</button>
            <button   onclick="location.href='/{{firm}}/{{pdata.pj}}/invoiceslist/Issued/'" type="button" class="btn btn-sm btn-info">Customer Invoices</button>
            <button   onclick="location.href='/{{firm}}/{{pdata.pj}}/paymentslist/Received/'" type="button" class="btn btn-sm btn-primary">Customer Payments</button>          
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
 
