{% extends 'base.html' %}
{% load static %}

{% block scripts %}
 <script type="text/javascript">

</script>
{% endblock %} <!-- For Scripts -->

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-inline-block">Quotation Form</h4>
          <form class="forms-sample" action="" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group">
                {% for field in form %}
                  {% if field.label != 'User' and field.label != 'Convert As Order' %}
                    <label for="{{ field.label }}">{{ field.label }}{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>
                    {{ field}}
                  {% endif %}
                  {% if field.label == 'User' %}
                    <label for="{{ field.label }}">Marketing Excecutive{% if field.field.required %} <span style="color: red">**</span> {% endif %}</label>{{ field}}
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red; margin-top: -20px">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
                <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">{{ form.Convert_As_Order }} mark if want to convert as order</label>
              </div>
                
              </div>
           </div>
          <button type="submit" class="btn btn-primary">Submit</button>    
        </form>
      </div>
    </div>
  </div>
</div> 
{% endblock %}  
 