{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %} 

{% block css %}
  <link rel="stylesheet" href="{% static 'css/filterdate.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_theme_1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/dt-global_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables/buttons.dataTables.min.css' %}">
{% endblock %}  

{% block scripts %} 
  <script src="{% static 'js/filterdate.js' %}"></script>
  <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS --> 
  <script src="{% static 'js/datatables/datatables.js' %}"></script>
  <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
  <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/datatables/jszip.min.js' %}"></script>    
  <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/datatables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/tableexport.js' %}"></script>

<script type="text/javascript">

  function editpo(po_id, is_manual, is_nopo) {
    qid = po_id;
    
    if(is_manual == 'True' || is_nopo == 'True') {editurl = '/{{pdata.pj}}/purchasesform/edit_manually/'+qid+'/'; }
    else { editurl = '/{{pdata.pj}}/po/edit/'+qid+'/itemid/msg/'; }
  };

  function edit() {
    location.href= editurl
  }


  function rid(tid, can_gen_invoice, billed, ordervalue) {qid = tid;
    if (can_gen_invoice=='False' | ordervalue <= billed){
      document.getElementById('hidebillbutton').style.display='none';
      document.getElementById('showbillbutton').style.display='block';}
    else {
      document.getElementById('hidebillbutton').style.display='block';
      document.getElementById('showbillbutton').style.display='none';}
  };

  function hidedomore() {
    document.getElementById('selectvendorformaction').action = '/{{pdata.pj}}/po/create/1/itemid/msg/'
    $("#doMoreModal .close").click()
    // $('#doMoreModal').modal('hide');
}
  function hidepoedit() {
    document.getElementById('paymentformaction').action = '/{{pdata.pj}}/popaymentsform/'+qid+'/'
    $("#editQuoteModal .close").click()
  }

  function alertpopup(){
    // document.getElementById('exampleModal11').style.display = 'none';
    $('.widget-content .message', function () {
        swal({
            title: 'Error Alert !',
            text: 'Invoice generation not allowed due to all Invoices value under this order exceeding the order value',
            padding: '2em'
          })
      }) 
  }

  function validate1(p) {
    if(   document.getElementById("activitypswd1").value == "sse123" ){
        url = '/{{pdata.pj}}/purchasesform/delete/'+qid+'/'
        location.href=url;}
    else{alert( "Incorrect Activity Password, Please Try Again" );}}
</script>

<!-- Data Tables Export Script -->
<script src="{% static 'js/datatablesexport.js' %}"></script>
<script type="text/javascript">
  // Datatables Excel Formating Before Export//
  var customexcel = function( xlsx ) {
    var sheet = xlsx.xl.worksheets['sheet1.xml'];
    var style = xlsx.xl['styles.xml'];
    var tagName = style.getElementsByTagName('sz');
    for (i = 0; i < tagName.length; i++) {tagName[i].setAttribute("val", "10")}
    $('row:first c', sheet).attr('s', '2')
    $('row c[r^="B"]', sheet).attr( 's', '55' ); $('row c[r^="C"]', sheet).attr( 's', '55' );$('row c[r^="D"]', sheet).attr( 's', '55' );   //wrap text
    var col = $('col', sheet);
    // col.each(function () {$(this).attr('width', 20);}); //for all columns widths     
    $(col[1]).attr('width', 40); $(col[2]).attr('width', 25); $(col[3]).attr('width', 15);  }; 
  //--End--//

  var cl = [0,  1, 2, 3]
  var wdths = ['4%', '50%', '30%', '16%'];
  
    var msgTop = ''
    var title = "{{pdata.pj}} - {% if status == 'all' %} Issued Quotations List {% else %} Quotations Draft Copies {% endif %}";
    var filename = '{{pdata.pj}}-quotes'
    var ort = 'portrait'

  // Datatables Customise PDF Before Export//
  var pdf_custom = function ( doc ) {
    doc.content[1].table.widths = wdths; doc.content[0].text = doc.content[0].text.trim();
    doc.pageMargins = [40,60,20,30];
    // doc.content[1].margin = [ 0, 50, 0, 50 ]
    doc['footer']= footer1;
    doc['header']= header1;
    var objLayout = {};objLayout['hLineWidth'] = function(i) { return .5; };
    objLayout['vLineWidth'] = function(i) { return .5; };objLayout['hLineColor'] = function(i) { return '#aaa'; };
    objLayout['vLineColor'] = function(i) { return '#aaa'; };objLayout['paddingLeft'] = function(i) { return 5; };
    objLayout['paddingRight'] = function(i) { return 5; };doc.content[1].layout = objLayout;      
    doc.defaultStyle.fontSize = 9;doc.styles.title.fontSize = 13;doc.styles.title.messageTop = 15;doc.defaultStyle.alignment = 'left'; doc.styles.tableHeader = table_header; 
    // doc.content[1].table.widths =Array(doc.content[1].table.body[0].length + 1).join('*').split('');
  doc.content.splice(0, 1,{text: [{text: title+'\n\n',bold: true,fontSize: 12,alignment: 'center',},
  {text: msgTop, bold: true, fontSize: 9.5, alignment: 'left',}],margin: [0, -30, 0, 12],});
  };

  //--End--//
</script>

<!-- Data Tables Export Script -->
<script type="text/javascript">
  $('#html5-extension').DataTable( {
  autoWidth: false, dom: 'lBfrtip', "oLanguage": olg, "stripeClasses": [],"lengthMenu": lmenu,"pageLength": 20,
  buttons: {dom: {button: {tag: 'i',className: ''}},buttons: [
      
    {extend: 'excel', title: title, filename: filename, text:'', titleAttr: 'Download as Excel', className: 'custom-btn1 mdi mdi-file-excel', customize: customexcel, exportOptions: {columns: cl, format: _format, rows : {search:'applied'}}, orientation:ort, messageTop: msgTop, },

    {extend: 'pdf', title: title, filename: filename, pageSize: 'A4', exportOptions: { columns: cl, format:  _format, rows : {search:'applied'}}, text:'', titleAttr: 'Download as PDF', className: 'custom-btn1 mdi mdi-file-pdf', customize: pdf_custom, orientation:ort, },

    {extend: 'print',title: title, filename: filename, exportOptions: {columns: cl, format: formatprint, stripHtml: false, rows : {search:'applied'}},text:'',titleAttr: 'Print',className: 'custom-btn1 mdi mdi-printer style="color:blue"', orientation:ort, messageTop: msgTop },]}, } );
</script>
{% endblock %} <!-- For Scripts -->


{% block content %}
<div class="page-header">
  <h3 class="page-title">{{pdata.pj.Short_Name}} - {% if status == 'all' %} Issued Quotations List {% else %} Quotations Draft Copies {% endif %}</h3>
</div>

<div>
  <div style="float:left">
    <button type="button" data-toggle='modal', data-target="#doMoreModal" class="btn btn-sm btn-primary mb-4" ht="select category">Do More</button>
  </div>

  <!-- <div style="float:right">
    <button type="button" id="myBtn" class="btn btn-sm  btn-primary mb-4" ht="search your required data">ApplyFilters<i class="mdi mdi-filter btn-icon-append"></i></button>
    <button type="button" onclick="location.href='/{{pdata.pj}}/purchaseslist/Total/'" class="btn btn-sm  btn-info mb-4" ht="clear all searched data">ClearFilters<i class="mdi mdi-filter-remove btn-icon-append"></i></button>
  </div> -->
  <div style="clear:both"></div>
</div>



<!-- PO's List -->
  {% if status == 'all' %}
    <div class="card">
      <div class="card-body2">
        <div class="table-responsive mb-4 mt-4">
        <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
          <thead>
            <tr>
              <th>#</th>
              <th>Quote To</th>
              <th>Quote No and Date</th>
              <th>Quoted Value</th>
            </tr>
          </thead>
          <tbody>
            {% for x in table %}
              <tr>
                <td>{{forloop.counter}}</td>

                <td style="white-space:normal;">
                  {% if x.Quote_To %}                  
                    <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{pdata.pj}}/genquote/edit/'+{{x.id}}+'/itemid/msg/'">M/s. {{x.Quote_To.Contact_Person}}
                      {% if x.Firm_Name %}<br> {{x.Firm_Name}}{% endif %}
                      <br><i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Quote_To.Phone_Number_1}}'>{{x.Quote_To.Phone_Number_1}}</a>
                      {% if x.Quote_To.Email %}<br><i class="mdi mdi-email-outline"></i>&nbsp;<a href="mailto:{{x.Quote_To.Email}}">{{x.Quote_To.Email}}</a>{% endif %}
                    </a>
                  {% else %}
                    <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{pdata.pj}}/genquote/edit/'+{{x.id}}+'/itemid/msg/'">{% if x.Reference_Person %} M/s. {{x.Reference_Person}}{% endif %}
                    {% if x.Firm_Name %}<br>{{x.Firm_Name}}{% endif %}</a>
                    {% if x.Phone_Number %}<br><i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Phone_Number}}'>{{x.Phone_Number}}</a>{% endif %}
                    {% if x.Location %}<br>{{x.Location}}{% endif %}
                    {% if x.Quote_To.Email %}<br><i class="mdi mdi-email-outline"></i>&nbsp;<a href="mailto:{{x.Email}}">{{x.Email}}</a>{% endif %}
                  {% endif %}
                </td>

                <td style="white-space:normal;">
                  <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{pdata.pj}}/genquote/edit/'+{{x.id}}+'/itemid/msg/'">{{x.Quote_No}}
                  <br>{{x.Date|date:'d-M-Y'}}</a>
                </td>

                <td style="white-space:normal;">                  
                  <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{pdata.pj}}/genquote/edit/'+{{x.id}}+'/itemid/msg/'">₹ {{x.Quote_Value|floatformat:0|intcomma}}</a>
                </td>      
              </tr>
          {% endfor %} 
          </tbody>
        </table>
        </div>
      </div>
    </div>
  {% else %}
    <div class="card">
      <div class="card-body2">
        <div class="table-responsive mb-4 mt-4">
        <table class="table table-bordered table-striped wrap" cellspacing="0" style="width: 100%"  id="html5-extension">
          <thead>
            <tr>
              <th>#</th>
              <th>Quote To</th>
              <th>Quote No and Date</th>
              <th>Quoted Value</th>
            </tr>
          </thead>
          <tbody>
            {% for x in table %}
              <tr>
                <td>{{forloop.counter}}</td>

                <td style="white-space:normal;">
                  {% if x.Quote_To %}                  
                    <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{pdata.pj}}/genquote/edit/'+{{x.id}}+'/itemid/msg/'">M/s. {{x.Quote_To.Contact_Person}}
                      <br>{{x.Quote_To.Customer_Name.Customer_Name}}</a>
                      <br><i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Quote_To.Phone_Number_1}}'>{{x.Quote_To.Phone_Number_1}}</a>
                      {% if x.Quote_To.Email %}<br><i class="mdi mdi-email-outline"></i>&nbsp;<a href="mailto:{{x.Quote_To.Email}}">{{x.Quote_To.Email}}</a>{% endif %}
                    </a>
                  {% else %}
                    <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{pdata.pj}}/genquote/edit/'+{{x.id}}+'/itemid/msg/'">{% if x.Reference_Person %} M/s. {{x.Reference_Person}}{% endif %}
                    {% if x.Firm_Name %}<br>{{x.Firm_Name}}{% endif %}</a>
                    {% if x.Phone_Number %}<br><i class="mdi mdi-phone"></i>&nbsp;<a class="ahr" ht='click here to call' href='tel:{{x.Phone_Number}}'>{{x.Phone_Number}}</a>{% endif %}
                    {% if x.Location %}<br>{{x.Location}}{% endif %}
                    {% if x.Quote_To.Email %}<br><i class="mdi mdi-email-outline"></i>&nbsp;<a href="mailto:{{x.Email}}">{{x.Email}}</a>{% endif %}
                  {% endif %}
                </td>

                <td style="white-space:normal;">
                  <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{pdata.pj}}/genquote/edit/'+{{x.id}}+'/itemid/msg/'">{{x.Quote_No}}
                  <br>{{x.Date|date:'d-M-Y'}}</a>
                </td>

                <td style="white-space:normal;">                  
                  <a class="ahr" ht="edit quote" target="_blank" onclick="location.href='/{{pdata.pj}}/genquote/edit/'+{{x.id}}+'/itemid/msg/'">₹ {{x.Quote_Value|floatformat:0|intcomma}}</a>
                </td>      
              </tr>
          {% endfor %} 
          </tbody>
        </table>
        </div>
      </div>
    </div>  
  {% endif %}

<!-- #do next, displaying buttons to perform PO related tasks -->
  <div class="modal fade text-left" id="doMoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:250px;%">
      <div class="modal-content" id="modal-reload">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size: 15px;">Action Window</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="template-demo">
            <button type="button"  onclick="location.href='/{{pdata.pj}}/genquote/create/1/itemid/msg/'" class="btn btn-sm btn-primary">Generate Quotation</button>
            {% if status != 'all' %}
              <button type="button"  onclick="location.href='/{{pdata.pj}}/quotationslist/all/'" class="btn btn-sm btn-danger">Quotations List</button>
            {% else %}
              <button type="button"  onclick="location.href='/{{pdata.pj}}/quotationslist/draft/'" class="btn btn-sm btn-danger">Quotation Draft Copies</button>
            {% endif %}
            <button   onclick="location.href='/{{pdata.pj}}/orderslist/Inprogress/'" type="button" class="btn btn-sm btn-success">Orders List</button>
            <button   onclick="location.href='/{{pdata.pj}}/invoiceslist/Issued/'" type="button" class="btn btn-sm btn-info">Customer Invoices</button>
            <button   onclick="location.href='/{{pdata.pj}}/paymentslist/Received/'" type="button" class="btn btn-sm btn-primary">Customer Payments</button>          
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
 
