<!DOCTYPE html>
{% load static %} 

<html lang="en">
<head>
    <title>SSE-RooftopSolar</title>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
<!--     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 -->        <link rel="stylesheet" href="{% static 'css/css/materialdesignicons.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/vendor.bundle.base.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">



    <style type="text/css">
    	.bimg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-image: url( "{% static 'img/spv.jpg' %}");
}

.container {
    justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
  }
   .card{
    border-radius: 0px;
}
    </style>

</head>
<body class="override bimg">
    
   
    <div class="container ">
  <div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card" style="">
      <div class="card-body">
        <div style="float:right;">
        <div id="logo">
        <img style=" height:60px; width:70px" src="{% static 'img/sss-logo.png' %}">
      </div>
    </div>
            <br>
            <h3 style="color: #ab1a23;  font-weight: bold; margin-bottom: 0px;">SREE SAI ELECTRONICS</h4>

            <br><br>
            <h5 style="color:blue">You Have Submitted Your Request Successfully!!<br>Soon You Will Recive Your Quote</h5>

            <br>
            <div style="font-weight: bold; color: green;"><h5>Immediate Contact Details</h5></div>
            <div><i class="mdi mdi-search-web"></i><a href="http://sreesaielectronics.com/" target="_blank">&nbsp;www.sreesaielectronics.com</a></div>
            <div><i class="mdi mdi-phone"></i>&nbsp;9440210773</div>
            <div><i class="mdi mdi-email-outline"></i><a href="mailto:sreesaielectronics@gmail.com">&nbsp;sreesaielectronics@gmail.com</a></div>

            <br><br>
            <div style="font-weight: bold; color: green;"><h5>Visit Our Office At</h5></div>
            <div>Survey no.262, Back side of modern weigh,</div>
            <div>bridge, Near SBI Bank, Phase-II,</div>
            <div>Cherlapally, HYD, Telangana.</div>

            <br><br>
            <div style="font-weight: bold; color: green;"><h5>Registered Office</h5></div>
            <div>H.No.7/306-3A2, Near Krishna Reddy Hotel,</div>
            <div>Bhagya Nagar Colony, Kadapa - 516002,</div>
            <div>Andhra Pradesh, INDIA.</div>

            <br>

            <h6 style="font-style: italic;">Visit Our Site To Know Moare About Our Company</h6>
            <div><i class="mdi mdi-search-web"></i><a href="http://sreesaielectronics.com/" target="_blank">&nbsp;www.sreesaielectronics.com</a></div>

            <br>

            <h4>Thank You</h4>
            

          
    </div>
  </div>
</div> 
    </div>
  
</body>
</html>