{% extends 'base.html' %}
{% load static %} 

{% block content %}
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-inline-block">Edit Proposal</h4>
          <form class="forms-sample" action="" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-4">
              {% csrf_token %}
              <div class="form-group">
                {% for field in form %}
                  {% if field.label != 'Date' and  field.label != 'Is Gen' and  field.label != 'Proposal No 1' and  field.label != 'Message' %}
                  <label for="{{ field.label }}">{{ field.label }}</label>{{ field}} 
                  {% endif %}
                  <div style="display: none;">
                    {% if field.label == 'Date' or  field.label == 'Is Gen' or  field.label == 'Proposal No 1' or field.label == 'Message'  %}
                    <label for="{{ field.label }}">{{ field.label }}</label>{{ field}} 
                    {% endif %}
                  </div>
                {% endfor %}  
              </div>
            </div>
          <button type="submit" class="btn1 btn1-primary">Update Proposal</button>
        </form>
      </div>
    </div>
  </div>
</div> 

{% endblock %}  
 